.card {
  margin-bottom: 16px;
  background-color: white;
  position: relative;
  color: #333333;
  border-radius: 8px;
}
.card .card-link {
  color: #333333;
}
.card .jalios-icon {
  font-size: 16px;
  color: #666666;
}
.card .card-img {
  margin-bottom: 16px;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid rgba(202, 202, 202, 0.4);
}
.card .card-img:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card .card-img-wrapper .card-img {
  margin-bottom: 0;
}
.card .card-img-wrapper:only-child .card-img {
  margin-bottom: 0;
  border-bottom: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.card .abstract P:last-child {
  margin-bottom: 0;
}
.card .card-block .btn-group-justified > .btn {
  width: 50%;
}
.card .card-title {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
  word-break: break-word;
}
.card .card-title.card-title-sticky {
  margin-bottom: 8px;
}
.card .card-block .card-title:only-child {
  margin-bottom: 0;
}
.card .card-corner-left {
  position: absolute;
  top: 0;
  left: 0;
}
.card .card-corner-right {
  position: absolute;
  top: 0;
  right: 0;
}
.card H1.card-title,
.card H2.card-title,
.card H3.card-title,
.card H4.card-title,
.card H5.card-title {
  margin: 0;
}
.card .card-img + .card-block {
  padding-top: 0;
}
.card .card-title:not(.card-title-sticky) + .card-meta {
  margin-top: -8px;
}
.card .card-meta {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.3rem;
}
.card.card-success {
  background-color: #5cb85c;
  color: white;
}
.card.card-info {
  background-color: #5bc0de;
  color: white;
}
.card.card-danger {
  background-color: #d9534f;
  color: white;
}
.card.card-warning {
  background-color: #f0ad4e;
  color: white;
}
.card.card-primary {
  background-color: #0275d8;
  color: white;
}
.card .btn.btn-card-block {
  display: block;
  width: 100%;
  border-radius: 0;
}
.card .card-block {
  padding: 16px;
  font-size: 13px;
  line-height: 16px;
}
.card .card-block.card-block-footer {
  padding: 0 16px;
  line-height: 40px;
  border-top: 1px solid #eee;
  color: #999;
}
.card .card-block.card-block-footer.card-block-sm {
  line-height: 32px;
}
.card .card-block.card-block-footer A {
  text-decoration: none;
  color: #999;
}
.card .card-block.card-block-footer:last-child {
  padding-bottom: 0;
}
.card .card-block.card-block-footer-default {
  background-color: #eaeaea;
}
.card .card-block.card-block-footer-default A {
  color: #666666;
}
.card .card-block.card-block-sm {
  padding: 8px 16px;
}
.card .card-block.card-block-sm:first-child {
  padding-top: 8px;
}
.card .card-block.card-block-sm:last-child {
  padding-bottom: 8px;
}
.card .card-block.card-block-separator {
  border-bottom: 1px solid #DDD;
}
.card .card-block.card-block-separator:last-child {
  border-top: 1px solid #DDD;
}
.card .card-block:first-child {
  padding-top: 16px;
}
.card .card-block:last-child {
  padding-bottom: 16px;
}
.card .card-block P:last-child {
  margin-bottom: 0;
}
.card .card-block .card-block-item {
  margin-bottom: 16px;
}
.card.is-clickable {
  cursor: pointer;
}
.card {
  box-shadow: 0px 0px 0px 0 rgba(255, 255, 255, 0.24), 0 0 0 1px #DDD;
}
.card.is-clickable {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card.is-clickable:hover,
.card.is-clickable:focus,
.card.is-clickable:focus-within {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card.is-draggable {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card.is-draggable:hover,
.card.is-draggable:focus,
.card.is-draggable:focus-within {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card[data-jalios-action="clickable"] {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card[data-jalios-action="clickable"]:hover,
.card[data-jalios-action="clickable"]:focus,
.card[data-jalios-action="clickable"]:focus-within {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
A > .card {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
A > .card:hover,
A > .card:focus,
A > .card:focus-within {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card .card-block.card-publication-footer {
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: -16px;
  background-color: #ccc;
  color: #fff;
}
.card .card-footer-actions {
  border-top: 1px solid #e8e8e8;
  padding: 10px 0;
}
.card .card-footer-actions A.card-action-item {
  color: #666;
  font-size: 12px;
  text-decoration: none;
}
.card .card-footer-actions A.card-action-item:hover:not(.btn-rounded) .alert-action-item-label {
  text-decoration: underline;
}
.card .card-footer-actions .card-action-item {
  margin-right: 15px;
}
.card .card-footer-actions .card-action-item:empty {
  margin-right: 0;
}
.card .card-footer-actions .card-action-item.pull-right {
  margin-right: 0;
}
.card .card-footer-actions .card-action-item.vote-tag {
  display: inline-block;
}
.card .card-footer-actions .card-action-item .card-vote-action-wrapper.has-voted A,
.card .card-footer-actions .card-action-item .card-vote-action-wrapper.has-voted A .jalios-icon {
  color: #337ab7;
}
.card .card-footer-actions .card-action-item .jalios-icon {
  margin-right: 8px;
  font-size: 14px;
}
.card .card-footer-actions .card-action-item A {
  color: #666;
  font-size: 12px;
  text-decoration: none;
}
.card .card-footer-actions .card-action-item A:hover .alert-action-item-label {
  text-decoration: underline;
}
.card .card-corner-left.card-corner-triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-top: solid 30px #4cd963;
  border-left: solid 30px #4cd963;
  border-right: solid 30px transparent;
  border-bottom: solid 30px transparent;
  border-top-left-radius: 8px;
}
.card .card-corner-left.card-corner-triangle .jalios-icon {
  position: absolute;
  top: -20px;
  left: -20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.card .card-corner-right.card-corner-triangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-top: solid 30px #4cd963;
  border-right: solid 30px #4cd963;
  border-left: solid 30px transparent;
  border-bottom: solid 30px transparent;
  border-top-right-radius: 8px;
}
.card .card-corner-right.card-corner-triangle .jalios-icon {
  position: absolute;
  top: -20px;
  right: -20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.card .card-corner-left.card-corner-danger {
  border-top-color: #dd352e;
  border-left-color: #dd352e;
}
.card .card-corner-right.card-corner-danger {
  border-top-color: #dd352e;
  border-right-color: #dd352e;
}
.card .card-corner-left.card-corner-warning {
  border-top-color: #F89406;
  border-left-color: #F89406;
}
.card .card-corner-right.card-corner-warning {
  border-top-color: #F89406;
  border-right-color: #F89406;
}
.card .card-corner-left.card-corner-primary {
  border-top-color: #009EF5;
  border-left-color: #009EF5;
}
.card .card-corner-right.card-corner-primary {
  border-top-color: #009EF5;
  border-right-color: #009EF5;
}
.card .card-corner-left.card-corner-gray {
  border-top-color: #929292;
  border-left-color: #929292;
}
.card .card-corner-right.card-corner-gray {
  border-top-color: #929292;
  border-right-color: #929292;
}
.card .card-close-action {
  display: block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: #777;
  transition: background-color 200ms ease-in;
}
.card .card-close-action:hover {
  background-color: #ffffff;
}
.card-link:hover {
  text-decoration: initial;
}
.card.card-member .card-flipper {
  color: white;
  float: right;
  text-decoration: none;
  cursor: pointer;
}
.card.card-member .card-front .wrapper-photo {
  float: none;
  margin: 16px auto 24px;
  width: 147px;
}
.card .card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.85);
  border-color: rgba(51, 51, 51, 0.85);
  padding: 16px;
  border-radius: 8px;
}
.card .card-overlay .card-title {
  color: #fff;
}
.card .card-overlay P {
  color: rgba(255, 255, 255, 0.65);
}
.card.card-overlay-hover .card-overlay {
  opacity: 0;
  transition: opacity 200ms ease-in;
  pointer-events: none;
}
.card.card-overlay-hover:hover .card-overlay {
  opacity: 1;
  pointer-events: all;
}
.card-flip-wrapper {
  /* activate 3D space */
  perspective: 1000px;
}
/* flip the pane when hovered or when .hover class is added */
.card-flip-wrapper.hover .card,
.card-flip-wrapper:hover.card-flip-hover .card {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.card-flip-wrapper .card {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}
.card-flip-wrapper .card .card-back,
.card-flip-wrapper .card .card-front {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  width: 100%;
  overflow: hidden;
  /* prevent the front face from showing through the back */
  -webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 8px;
}
/* front pane, placed above back */
.card-flip-wrapper .card .card-front {
  z-index: 2;
  transform: rotateY(0deg);
}
/* back, initially hidden pane */
.card-flip-wrapper .card .card-back {
  /* initially rotate the element in the back so that when the card is flipped, it faces the viewer */
  transform: rotateY(180deg);
}
.browser-IE11 .card-flip-wrapper .card .card-back,
.browser-IE11 .card-flip-wrapper .card .card-front {
  transform: none;
}
.browser-IE11 .card-flip-wrapper.hover .card,
.browser-IE11 .card-flip-wrapper:hover.card-flip-hover .card {
  transform: none;
}
.browser-IE11 .card-flip-wrapper .card .card-front {
  display: block;
}
.browser-IE11 .card-flip-wrapper .card .card-back {
  display: none;
}
.browser-IE11 .card-flip-wrapper.hover .card .card-front,
.browser-IE11 .card-flip-wrapper:hover.card-flip-hover .card .card-front {
  display: none;
}
.browser-IE11 .card-flip-wrapper.hover .card .card-back,
.browser-IE11 .card-flip-wrapper:hover.card-flip-hover .card .card-back {
  display: block;
}
@media print {
  /* in print, hide back pane (display front pane instead) */
  BODY:not(.browser-IE11) .card-flip-wrapper .card-back {
    display: none;
  }
  /* in print, cancel card flipping */
  BODY:not(.browser-IE11) .card-flip-wrapper.hover .card,
  BODY:not(.browser-IE11) .card-flip-wrapper:hover.card-flip-hover .card,
  BODY:not(.browser-IE11) .card-flip-wrapper.hover .card .card-front,
  BODY:not(.browser-IE11) .card-flip-wrapper:hover.card-flip-hover .card .card-front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@media print {
  .browser-IE11 .card-flip-wrapper.hover .card .card-front,
  .browser-IE11 .card-flip-wrapper:hover.card-flip-hover .card .card-front {
    display: block;
  }
  .browser-IE11 .card-flip-wrapper.hover .card .card-back,
  .browser-IE11 .card-flip-wrapper:hover.card-flip-hover .card .card-back {
    display: none;
  }
}
.card.card-horizontal {
  padding: 0;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}
.card.card-horizontal .card-img + .media-body > .card-block {
  padding-left: 0;
}
.card.card-horizontal .card-block {
  padding: 0;
}
.card.card-horizontal .card-title {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.card.card-horizontal .card-title .pub-icon {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.card.card-horizontal .card-block {
  padding: 16px;
}
.card.card-horizontal .card-block .abstract {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
.card.card-horizontal .card-block .abstract .wysiwyg :last-child {
  margin-bottom: 0;
}
.card.card-horizontal .card-block .search-result-meta {
  margin-bottom: 4px;
}
.card.card-horizontal .card-block .search-result-categories {
  margin-bottom: 0;
}
.card.card-horizontal .card-block .search-result-categories > .jalios-icon {
  vertical-align: middle;
}
.card.card-horizontal .card-img {
  width: initial;
  padding: 16px 0 16px 16px;
  margin-bottom: 0;
  margin-right: 16px;
  float: left;
}
.card.card-horizontal .card-img-squared-wrapper {
  width: 100%;
  height: 136px;
  float: left;
  margin: 0 28px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 200ms ease-in;
  background-color: #EEE;
  aspect-ratio: 1;
  color: white;
  font-size: 48px;
  border-radius: 0;
}
.card.card-horizontal .card-img-squared-wrapper.is-cover-image {
  border-radius: 8px;
}
.card.card-horizontal .card-img-squared-wrapper.is-cover-image > IMG {
  object-fit: cover;
  height: 100%;
  padding: 0;
}
.card.card-horizontal .card-img-squared-wrapper.is-letter {
  display: none;
}
.card.card-horizontal .card-img-squared-wrapper:hover {
  border-color: #cccccc;
}
.card.card-horizontal .card-img-squared-wrapper > IMG {
  max-height: 100%;
  margin: 0;
  float: none;
  padding: 0;
  object-fit: contain;
  padding: 8px;
}
.card-responsive-layout .card.is-horizontal {
  display: flex;
  flex-direction: row;
  height: 150px;
  overflow: hidden;
}
.card-responsive-layout .card.is-horizontal .card-img {
  object-fit: cover;
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
}
.card-responsive-layout .card.is-horizontal .card-block {
  padding-top: 16px;
}
@media (min-width: 768px) {
  .card.card-horizontal {
    padding: 16px 52px 16px 16px;
    flex-direction: row;
  }
  .card.card-horizontal .card-title {
    font-size: 18px;
  }
  .card.card-horizontal .card-block {
    padding: initial;
  }
  .card.card-horizontal .card-img-squared-wrapper {
    width: 136px;
  }
  .card.card-horizontal .card-img-squared-wrapper.is-letter {
    display: flex;
  }
}
/*# sourceMappingURL=jalios-card.css.map */
