@import "../../init-mixins.less";

.alert-card {
  background-color: white;
  border-radius: 4px;
  margin-bottom: @baseline;
  position: relative;
  padding-top: 24px;
  border-left-width: 8px;
  border-left-style: solid;
  
  .alert-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 8px;
  }
  
  .if(@card-rounded-corners,  border-top-left-radius, 4px);
  .if(@card-rounded-corners,  border-bottom-left-radius, 4px);
  &.alert-level-border-info {
    border-left-color: @alert-info;
  }

  &.alert-level-border-warning {
    border-left-color: @alert-warning;
  }

  &.alert-level-border-action {
    border-left-color: @alert-action;
  }

  .alert-header {
    padding: 0 24px;
    margin-bottom: 16px;
    
    A.card-action-item {
      color: #666;
      text-decoration: none;
    }
    .description {
      P:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.recommendation-card {
    .alert-card-header-metadata {
      margin-right: 10px; // For recommendation case where no "mark as read" action
    }
  }

  .alert-footer {
    padding: 0 24px;
    .clearfix();
  }

  .alert-body {
    padding: 0 24px;
    .abstract {
      color: #777;
      font-size: 12px;
    }
  }

  .message {
    position: relative;
    background: #EDF8FE;
    border: 1px solid #DAEDF9;
    padding: 15px;
    margin-bottom: 16px;
    .border-radius(5px);

    &:after {
      content: "";
      top: -12px;
      left: 11px;
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 12px 12px;
      border-color: transparent transparent #EDF8FE transparent;
    }

    &:before {
      content: "";
      top: -13px;
      left: 11px;
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 12px 12px;
      border-color: transparent transparent #DAEDF9 transparent;
    }
    P:last-child {
      margin-bottom: 0;
    }
  }

  .card-metadata-item {
    font-size: @font-size-small;
    margin-right: 5px;
  }
  .metadata {
    color: @gray; /* color is here for .badge color compliance */
    padding-bottom: 10px;
  }
  
  .alert-content {
    padding: @baseline / 2;
  }

  &.alert-read {
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDDDDD;
    color: @gray;
    border-top: 1px solid #DDDDDD;
  }

  .icons {
    float: right;
    margin-left: @baseline /2;
  }

  .card-footer-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .card-action-item {
      margin-right: 0;
    }
    .card-action-item.vote-tag {
      display: inline-flex;
    }
    
  }
}
