
// Member card specific code
.card.card-member {
  .card-flipper {
    color: white;
    float: right;
    text-decoration: none;
    cursor: pointer;
  }

  .card-front .wrapper-photo {
    float: none;
    margin: @card-baseline*2 auto @card-baseline*3;
    width: 147px;
  }
}
