// Include variables and mixins
@import '../../init-mixins.less';

.card {
  //padding-bottom: @card-baseline*2;
  margin-bottom: @card-baseline*2;
  background-color: white;
  position: relative;
  color: @text-color;
  .if(@card-rounded-corners,  border-radius, @card-border-radius);

  .card-link {
    color: @text-color;
  }

  .jalios-icon {
    font-size: @icon-size;
    color: @jalios-color-icon;
  }

  .card-img {
    margin-bottom: @card-baseline*2;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(202, 202, 202, 0.4);

    &:first-child when (@card-rounded-corners) {
      border-top-left-radius: @card-border-radius;
      border-top-right-radius: @card-border-radius;
    }
  }
  
  .card-img-wrapper .card-img {
    margin-bottom: 0;
  }
  
  .card-img-wrapper:only-child .card-img {
    margin-bottom: 0;
    border-bottom: 0;
    .if(@card-rounded-corners,  border-bottom-left-radius, @card-border-radius);
    .if(@card-rounded-corners,  border-bottom-right-radius, @card-border-radius);
  }

  .abstract {
    P:last-child {
      margin-bottom: 0;
    }
  }

  .card-block .btn-group-justified > .btn {
    width: 50%;
  }

  .card-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: @card-baseline*2;
    word-break: break-word;
    &.card-title-sticky {
      margin-bottom: @card-baseline;
    }
  }

  //Do not add margin under a card title who's only child of its card-block
  .card-block .card-title:only-child {
    margin-bottom: 0;
  }

  .card-corner-left {
    position: absolute;
    top: 0;
    left: 0;
  }

  .card-corner-right {
    position: absolute;
    top: 0;
    right: 0;
  }

  H1.card-title,
  H2.card-title,
  H3.card-title,
  H4.card-title,
  H5.card-title {
    margin: 0; // Resets default margin of headings
  }

  .card-img + .card-block {
    padding-top: 0;
  }

  .card-title:not(.card-title-sticky) + .card-meta {
    margin-top: -@card-baseline;
  }

  .card-meta {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.3rem;
  }

  &.card-success {
    background-color: #5cb85c;
    color: white;
  }

  &.card-info {
    background-color: #5bc0de;
    color: white;
  }

  &.card-danger {
    background-color: #d9534f;
    color: white;
  }

  &.card-warning {
    background-color: #f0ad4e;
    color: white;
  }

  &.card-primary {
    background-color: #0275d8;
    color: white;
  }

  .btn.btn-card-block {
    display: block;
    width: 100%;
    border-radius: 0;
  }

  .card-block {
    padding: @card-baseline*2;
    font-size: 13px;
    line-height: 16px;

    &.card-block-footer {
      padding: 0 @card-baseline*2;
      line-height: @card-baseline*5;

      border-top: 1px solid #eee;
      color: #999;

      &.card-block-sm {
        line-height: @card-baseline*4;
      }

      A {
        text-decoration: none;
        color: #999;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    &.card-block-footer-default {
      background-color: @cardBlockFooterDefaultBg;

      A {
        color: @cardBlockFooterDefaultColor;
      }
    }

    &.card-block-sm {
      padding: @card-baseline @card-baseline*2;

      &:first-child {
        padding-top: @card-baseline;
      }

      &:last-child {
        padding-bottom: @card-baseline;
      }
    }

    &.card-block-separator {
      border-bottom: @jalios-block-border;
    }

    &.card-block-separator:last-child {
      border-top: @jalios-block-border;
    }

    &:first-child {
      padding-top: @card-baseline*2;
    }

    &:last-child {
      padding-bottom: @card-baseline*2;
    }

    P:last-child {
      margin-bottom: 0;
    }

    .card-block-item {
      margin-bottom: 16px;
    }
  }
  &.is-clickable {
    cursor: pointer;
  }
}

.card when (@cardBoxShadow) {
  box-shadow: 0px 0px 0px 0 rgba(255, 255, 255,24%), 0 0 0 1px @jalios-block-border-color;
}

.card-focus-style() {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover,&:focus,&:focus-within {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.card.is-clickable when (@cardBoxShadow) {
  .card-focus-style();
}

.card.is-draggable when (@cardBoxShadow) {
  .card-focus-style();
}

.card[data-jalios-action="clickable"] when (@cardBoxShadow) {
  .card-focus-style();
}
A > .card when (@cardBoxShadow) {
  .card-focus-style();
}

// Publication card specific code
.card .card-block.card-publication-footer {
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: -16px;
  background-color: #ccc;
  color: #fff;
}

.card .card-footer-actions {
  border-top: 1px solid #e8e8e8;
  padding: 10px 0;

  A.card-action-item {
    color: #666;
    font-size: 12px;
    text-decoration: none;

    &:hover:not(.btn-rounded) .alert-action-item-label {
      text-decoration: underline;
    }
  }

  .card-action-item {
    margin-right: 15px;
    &:empty {
      margin-right: 0;
    }

    &.pull-right {
      margin-right: 0;
    }

    &.vote-tag {
      display: inline-block;
    }

    .card-vote-action-wrapper.has-voted A {
      &,
      .jalios-icon {
        color: #337ab7;
      }
    }

    .jalios-icon {
      margin-right: 8px;
      font-size: 14px;
    }

    A {
      color: #666;
      font-size: 12px;
      text-decoration: none;

      &:hover .alert-action-item-label {
        text-decoration: underline;
      }
    }
  }
}

.card {
  .card-corner-left.card-corner-triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-top: solid 30px @card-corner-success;
    border-left: solid 30px @card-corner-success;
    border-right: solid 30px transparent;
    border-bottom: solid 30px transparent;
    .if(@card-rounded-corners,  border-top-left-radius, @card-border-radius);
    .jalios-icon {
      position: absolute;
      top: -20px;
      left: -20px;
      color: white;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .card-corner-right.card-corner-triangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-top: solid 30px @card-corner-success;
    border-right: solid 30px @card-corner-success;
    border-left: solid 30px transparent;
    border-bottom: solid 30px transparent;
    .if(@card-rounded-corners,  border-top-right-radius, @card-border-radius);
    .jalios-icon {
      position: absolute;
      top: -20px;
      right: -20px;
      color: white;
      font-size: 18px;
      font-weight: bold;
    }
  }  
  .card-corner-left.card-corner-danger {
    border-top-color: @card-corner-danger;
    border-left-color: @card-corner-danger; 
  }  
  .card-corner-right.card-corner-danger {
    border-top-color: @card-corner-danger;
    border-right-color: @card-corner-danger; 
  }      
  .card-corner-left.card-corner-warning {
    border-top-color: @card-corner-warning;
    border-left-color: @card-corner-warning; 
  }  
  .card-corner-right.card-corner-warning {
    border-top-color: @card-corner-warning;
    border-right-color: @card-corner-warning; 
  }
  .card-corner-left.card-corner-primary {
    border-top-color: @card-corner-primary;
    border-left-color: @card-corner-primary; 
  }  
  .card-corner-right.card-corner-primary {
    border-top-color: @card-corner-primary;
    border-right-color: @card-corner-primary; 
  }  
  .card-corner-left.card-corner-gray {
    border-top-color: @card-corner-gray;
    border-left-color: @card-corner-gray; 
  }  
  .card-corner-right.card-corner-gray {
    border-top-color: @card-corner-gray;
    border-right-color: @card-corner-gray; 
  }  
}


.card {
  .card-close-action {
    display: block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: #777;
    transition: background-color 200ms ease-in;
    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }
  }
}

.card-link:hover {
  text-decoration: initial;
}

// Specific
@import 'jalios-card-member.less';
// Effects
@import 'jalios-card-effect-overlay.less';
@import 'jalios-card-effect-flip.less';
@import 'jalios-card-horizontal.less';
