.card {
  .card-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.85);
    border-color: rgba(51, 51, 51, 0.85);
    
    padding: @card-baseline*2;
    .if(@card-rounded-corners,  border-radius, @card-border-radius);

    .card-title {
      color: #fff;
    }

    P {
      color: rgba(255,255,255,.65);
    }
  }

  &.card-overlay-hover .card-overlay {
    opacity: 0;
    transition: opacity 200ms ease-in;
    pointer-events: none;
  }
  
  &.card-overlay-hover:hover .card-overlay {
    opacity: 1;
    pointer-events: all;
  }
}
