// Include variables and mixins
@import "../../init-mixins.less";
// COLUMN LAYOUT

.card-columns {
  column-count: 1;
}

@media (min-width: @screen-sm-min) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: @screen-md-min) {
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem;
  }

  .card-columns .card {
    display: inline-block;
    width: 100%;
  }

  .card-columns .card-flip-wrapper {
    display: inline-block;
    width: 100%;
  }
}
