@import "../../init-mixins.less";

.card-inline-layout .card-flip-wrapper.card-flip-wrapper-member-small {
  height: 110px;
  width: 336px;

  .photo-anchor {
    display: none;
  }

  .card.card-member-small {
    height: 110px;
    width: 336px;

    .card-block {
      padding: 8px;
    }

    .wrapper-photo {
      width: 40px;
      float: left;
      display: inline-block;
      border: 0;
      box-shadow: none;
      padding: 0;
      margin: 0 10px 0 0;
    }
  }
}
// Member card specific code

.card-inline-layout .card.card-member.card-member-small {
  height: 110px;
  width: 220px;

  .wrapper-photo {
    width: 40px;
    float: left;
    display: inline-block;
    margin-right: 10px;
    border: 0;
    box-shadow: none;
    padding: 0;
    margin: 0 10px 0 0;
  }

  .card-block {
    padding: 8px;
  }
}

.card.card-member-small {
  .card-block {
    .card-title {
      color: #666;
      margin-bottom: 4px;
      font-weight: bold;
      font-size: 14px;
      font-family: @font-family-condensed;
      line-height: 18px;
    }
  }

  .card-block-item-title {
    margin-bottom: 0;
  }

  .card-flipper {
    bottom: 0;
    right: 0;
    color: #CCC;
    position: absolute;
  }

  .card-block-item {
    padding-left: 50px;
  }

  .card-back .card-block-item {
    padding-left: 0;
  }

  .card-back .card-block-item > DIV {
    margin-bottom: 8px;
  }

  .member-job-title,
  .member-organization {
    .text-overflow();
  }
}
