// Include variables and mixins
@import "../../../../../css/jalios/core/init-mixins.less";

/* ----------------------------------------------- */


/*  JCMS Sidebar                                   */


/* ----------------------------------------------- */



/* The backdrop displayed when the sidebar is opened */

.sidebar-backdrop {
  &.full {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @z-index-sidebar - 1;
    background-color: @modal-backdrop-bg;
  } // Fade for backdrop
  &.fade {
    .opacity(0);
  }
  &.fade.in,
  &.in {
    .opacity(@modal-backdrop-opacity);
  }
}

BODY.sidebar-open {
  overflow-y: hidden;
}

.sidebar-right {
  transform: translateX(@sb-width);
  right: 0;
  .box-shadow(-5px -1px 16px 0px rgba(43, 43, 43, 0.43));
  &.is-open {
    transform: translateX(0);
  }
}

.sidebar-left {
  transform: translateX(-@sb-width);
  left: 0;
  .box-shadow(5px -1px 16px 0px rgba(43, 43, 43, 0.43));
  &.is-open {
    transform: translateX(0);
  }
}

.sidebar-component {
  position: fixed;
  top: 0;
  z-index: @z-index-sidebar;
  height: 100%;
  width: @sb-width;
  overflow-y: auto;
  background-color: @sb-bg-color; //transition: left 0.25s linear, right 0.25s linear;
  transition: transform 0.25s ease-in;
  .box-shadow(@sb-box-shadow);
  .sidebar-body {
    overflow-y: auto;
    width: 100%;
  }
  &.is-closed {
    display: none;
  }
}
