// Include variables and mixins
@import "../../../../../css/jalios/core/init-mixins.less";

.sidebar-tab-content-profile {
  text-align: center;
  font-weight: 300;
  .profile-function-company {
    font-size: @font-size-h4;
    font-family: @font-family-condensed;
  }
  .profile-coordonnees {
    margin-bottom: @baseline;
    &, A, .jalios-icon {
      color: @text-color;
    }
    .jalios-icon {
      font-size: @icon-size;
    }
  }
  .sidebar-profile-item {
    margin-bottom: 10px;
  }
  .profile-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    > .btn {
      margin-right: 5px;
    }
  }
  .profile-action {
    text-align: center;
    .text-overflow();
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    min-width: 100px;
    max-width: 200px;
  }
  
  .member-telephone,
  .member-mobile {
    display: inline;
    display: inline;
  }
  .member-telephone.has-mobile {
    margin-left: 10px;
  }
}

/* = 446px = (550px - (2x24px padding) - (56px left gutter)) - 1px */
.sidebar-tab-content-profile[max-width~="445px"] {
  .profile-action {
    // 1 item per line
    width: 100%;
    max-width: 100%;
  }
}
