// Include variables and mixins
@import "../../../../../css/jalios/core/init-mixins.less";
@sidebar-tabbed-width: 550px;

.sidebar-tabbed {
  width: @sidebar-tabbed-width;
  padding-left: 56px;
  display: flex;
  flex-direction: column;
  padding-top: @sb-tabbed-header-height;

  .sidebar-no-result {
    text-align: center;
    padding: 16px;

    P {
      color: #999;
    }

    .jalios-icon {
      font-size: 32px;
      color: #CCC;
      line-height: 60px;
    }
  }

  &.sidebar-right {
    transform: translateX(@sidebar-tabbed-width);
    right: 0;

    &.is-open {
      transform: translateX(0);
    }
  }

  &.sidebar-left {
    transform: translateX(-@sidebar-tabbed-width);
    left: 0;

    &.is-open {
      transform: translateX(0);
    }
  }

  .sidebar-close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding-right: 18px;
  }

  .sidebar-tab-search {
    margin-bottom: 24px;
  }
  /* Header */
  .sidebar-header-icon {
    position: absolute;
    top: 0;
    left: 53px;
    right: 0;
    height: @sb-tabbed-header-height;
    background-color: grey;
    line-height: @sb-tabbed-header-height;
    text-align: center;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    .jalios-icon {
      color: white;
    }
  }

  .sidebar-tab-title {
    padding: 16px 36px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    font-family: @font-family-condensed;
    line-height: 1.2;
    margin: 0;
  }

  .sidebar-content {
    +.sidebar-content {
      margin-top: 50px;
    }
  }

  .sidebar-tab-content {
    padding-left: 24px;
    padding-right: 24px;
  }

  UL.sidebar-tabs {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: @sb-tabbed-header-height;
    bottom: 0;

    &:before {
      background-color: @sb-tabbed-tab-bgcolor;
      content: "";
      top: -100px;
      right: 0;
      position: absolute;
      bottom: 0;
      width: 56px;
      box-shadow: inset -4px 0 8px 0 rgba(49, 49, 49, 0.47);
    }

    .jalios-icon {
      font-size: 18px;
    }

    > LI {
      float: left;
      display: inline-flex;
      margin-bottom: 2px;
      z-index: 1;
    }

    > LI.active:hover A,
    > LI.active A {
      background-color: white;
      color: #666;
    }

    > LI:hover > A {
      opacity: 1;
      background-color: #3b5870;
      text-decoration: none;
    }

    > LI > A {
      position: relative;
      border: 0 none;
      color: #AAAAAA;
      padding: 14px;
      background-color: transparent;
      border-radius: 0;
      width: 56px;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      .transition(background-color 200ms linear);

      .tab-count {
        right: 8px;
        top: 25px;
        position: absolute;
        padding: 2px 4px;
        font-size: 12px;
        line-height: 12px;
        color: white;
        border-radius: 3px;
        background-color: #5bc0de;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .sidebar-tabbed.is-open {
    max-width: 100vw;
  }
}

.sidebar-tabbed.sidebar-right.is-open {
  transform: translateX(0);
}