.sidebar-tabbed {
  width: 550px;
  padding-left: 56px;
  display: flex;
  flex-direction: column;
  padding-top: 66px;
}
.sidebar-tabbed .sidebar-no-result {
  text-align: center;
  padding: 16px;
}
.sidebar-tabbed .sidebar-no-result P {
  color: #999;
}
.sidebar-tabbed .sidebar-no-result .jalios-icon {
  font-size: 32px;
  color: #CCC;
  line-height: 60px;
}
.sidebar-tabbed.sidebar-right {
  transform: translateX(550px);
  right: 0;
}
.sidebar-tabbed.sidebar-right.is-open {
  transform: translateX(0);
}
.sidebar-tabbed.sidebar-left {
  transform: translateX(-550px);
  left: 0;
}
.sidebar-tabbed.sidebar-left.is-open {
  transform: translateX(0);
}
.sidebar-tabbed .sidebar-close {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding-right: 18px;
}
.sidebar-tabbed .sidebar-tab-search {
  margin-bottom: 24px;
}
/* Header */
.sidebar-tabbed .sidebar-header-icon {
  position: absolute;
  top: 0;
  left: 53px;
  right: 0;
  height: 66px;
  background-color: grey;
  line-height: 66px;
  text-align: center;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-tabbed .sidebar-header-icon .jalios-icon {
  color: white;
}
.sidebar-tabbed .sidebar-tab-title {
  padding: 16px 36px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  font-family: embedded-roboto-condensed, embedded-roboto, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin: 0;
}
.sidebar-tabbed .sidebar-content + .sidebar-content {
  margin-top: 50px;
}
.sidebar-tabbed .sidebar-tab-content {
  padding-left: 24px;
  padding-right: 24px;
}
.sidebar-tabbed UL.sidebar-tabs {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 66px;
  bottom: 0;
}
.sidebar-tabbed UL.sidebar-tabs:before {
  background-color: #293a48;
  content: "";
  top: -100px;
  right: 0;
  position: absolute;
  bottom: 0;
  width: 56px;
  box-shadow: inset -4px 0 8px 0 rgba(49, 49, 49, 0.47);
}
.sidebar-tabbed UL.sidebar-tabs .jalios-icon {
  font-size: 18px;
}
.sidebar-tabbed UL.sidebar-tabs > LI {
  float: left;
  display: inline-flex;
  margin-bottom: 2px;
  z-index: 1;
}
.sidebar-tabbed UL.sidebar-tabs > LI.active:hover A,
.sidebar-tabbed UL.sidebar-tabs > LI.active A {
  background-color: white;
  color: #666;
}
.sidebar-tabbed UL.sidebar-tabs > LI:hover > A {
  opacity: 1;
  background-color: #3b5870;
  text-decoration: none;
}
.sidebar-tabbed UL.sidebar-tabs > LI > A {
  position: relative;
  border: 0 none;
  color: #AAAAAA;
  padding: 14px;
  background-color: transparent;
  border-radius: 0;
  width: 56px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.sidebar-tabbed UL.sidebar-tabs > LI > A .tab-count {
  right: 8px;
  top: 25px;
  position: absolute;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 12px;
  color: white;
  border-radius: 3px;
  background-color: #5bc0de;
}
@media screen and (max-width: 480px) {
  .sidebar-tabbed.is-open {
    max-width: 100vw;
  }
}
.sidebar-tabbed.sidebar-right.is-open {
  transform: translateX(0);
}
/*# sourceMappingURL=jalios-sidebar-tabbed.css.map */
