// Include variables and mixins
@import "../../init-mixins.less";

/* ------------------------------------------ */
/*  Item box                                  */
/* ------------------------------------------ */

.itemlist-wrapper {
  .itemlist-item,
  .itemlist-item-detailed {

    .wrapper-photo {
      margin-right: 10px;
      align-self: baseline;
      > .photo {
        width: 30px;
        height: 30px;
      }
      &.initials-photo .initials {
        font-size: 15px;
      }
    }
  }
  .itemlist-item,
  .itemlist-item-detailed {
    transition: color 200ms ease-in;
    color: @itemlist-text-color;
    &.has-action:focus-within .itemlist-item-actions,
    &.has-action:hover .itemlist-item-actions {
      z-index: 1;
      flex-direction: row;
      align-items: center;
      display: flex;
    }
    
    &.hide-icon .itemlist-item-icon {
      display: none;
    }
    
    &.is-closed-item,
    &.is-read-item,
    &.is-past-item {
      color: #999;
      &:hover {
        color: @itemlist-active-text-color;
      }
    }
    
  }

  .label {
    border: 1px solid transparent;
  }

  .itemlist-item:hover {
    background-color: @itemlist-active-color;
    color: @itemlist-active-text-color;
    
    .itemlist-item-text {
      color: @itemlist-active-text-color;
    }
    .itemlist-item-date {
      color: @itemlist-active-text-color;
    }
    .label {
      border: 1px solid white;
    }

  }
  .itemlist-item-link {
    text-decoration: none;
  }

  .itemlist-item {
    position: relative;

    &.has-action {
      .itemlist-item-right {
        display: block;
      }
      &:hover .itemlist-item-right {
        display: none;
      }
      &:hover .label {
        border: 1px solid transparent;
      }
    }

    .itemlist-item-date {
      color: #aaa;
    }
    .itemlist-item-link {
      display: flex;
      align-items: center;
      line-height: 30px;
      padding: @itemlist-padding;
      color: @itemlist-text-color;
    }
  }

  .itemlist-item-actions {
    z-index: -1;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    float: right;
    display: flex;
    align-items: center;
    line-height: 30px;
    display: none;
    padding: 4px 15px 4px 8px;
    .jalios-icon {
      color: @itemlist-active-text-color;
    }
    .btn-default,
    .btn-default .jalios-icon {
      color: @btn-default-color;
    }

    > A:not(.btn) {
      color: @itemlist-active-text-color;
      text-decoration: none;
    }
  }

  .itemlist-item-icon {
    padding: 0px 7px;
    border-radius: 50%;
    background-color: white;
    margin-right: 8px;
    .jalios-icon {
      color: @itemlist-text-color;
    }
  }

  .itemlist-item-icon IMG {
    width: 16px;
    height: 16px;
  }

  .itemlist-item-text {
    .text-overflow();
  }

  .itemlist-item-right {
    white-space: nowrap;
    //align-self: flex-end;
    margin-left: auto;
    padding-left: 16px;
  }
}

/* ------------------------------------------ */
/*  Item box subgroup                         */
/* ------------------------------------------ */

.itemlist-subgroup {
  position: relative;
  margin-bottom: 8px;
  padding-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .itemlist-item A.itemlist-item-link {
    padding-left: 24px;
  }
  .itemlist-subgroup-title {
    padding-left: 15px;
    padding-top: 8px;
    margin-bottom: 8px;
  }
  &:not(:last-child):after {
    content: "";
    border-bottom: 1px solid #eee;
    height: 1px;
    position: absolute;
    left: 15px;
    right: 15px;
    margin-top: 8px;
  }
}

/* ------------------------------------------ */
/*  Item box detailed                         */
/* ------------------------------------------ */

.itemlist-item-detailed {
  position: relative;
  &.has-action {
    padding-right: 60px;
  }

  .itemlist-item-actions {
    position: absolute;
    float: none;
    z-index: 1;
    right: 16px;
    top: 0;
    padding-right: 0;
  }

  .itemlist-item-body {
    overflow: hidden;
  }

  .itemlist-item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    line-height: 20px;
    padding: 8px 4px 8px 8px;
    color: @itemlist-text-color;
  }
  .itemlist-item-text {
    margin-bottom: 8px;
  }
  .itemlist-item-icon {
    padding: 7px 7px;
    font-size: 16px;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    align-self: flex-start;
    .jalios-icon {
      color: @jalios-color-icon;
    }
  }
  .itemlist-item-meta {
    color: #999;
    .text-overflow();
  }

  &:hover {
    background-color: @itemlist-active-color;
    color: @itemlist-active-text-color;

    .itemlist-item-text {
      color: @itemlist-active-text-color;
    }
    .itemlist-item-meta {
      color: @itemlist-active-text-color;
    }
  }
}

.itemlist-item-image {
  &.itemlist-item-image-large {
    flex: 0 0 120px;
    IMG {
      max-width: 120px;
      max-height: 120px;
    }
  }

  flex: 0 0 60px;
  margin-right: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  IMG {
    object-fit: cover;
    max-width: 60px;
    max-height: 60px;
  }
}

.itemlist-item-detailed.large-abstract {
  border-top: 1px solid rgba(171, 171, 171, 0.24);
  &.has-action {
    padding-right: 66px;
  }

  .itemlist-item-text {
    margin-bottom: 8px;
  }

  &:first-child {
    border-top: 0 none;
  }
  .itemlist-item-link {
    align-items: initial;
  }
  .itemlist-item-text {
    font-size: 18px;
    .text-overflow();
    font-family: @font-family-condensed;
  }

  .itemlist-item-abstract {
    margin-bottom: 16px;
  }

  .itemlist-item-body {
    overflow: hidden;
  }

  a.itemlist-item-actions {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ------------------------------------------ */
/*  Specific code to reset panel padding      */
/* ------------------------------------------ */

.panel-body {
  .itemlist-wrapper {
    padding-top: 12px;
  }
  .tab-content .itemlist-wrapper {
    margin-top: 0;
    padding-top: 0;
  }

  .list-group .list-group-item:first-child {
    border-radius: 0 none;
  }

  .itemlist-wrapper {
    margin: -@panel-body-padding -@panel-body-padding 0 -@panel-body-padding;

    + .item-box-footer {
      margin-top: 15px;
    }

    .nav-tabs-underlined {
      margin: 0 16px;
      padding: 0;
    }
  }
}

/* ------------------------------------------ */
/*  Member                                    */
/* ------------------------------------------ */

.itemlist-item.itemlist-item-Member .itemlist-item-icon {
  border-radius: initial;
  padding: 0;
  display: flex;
  IMG {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}

.itemlist-item-detailed.itemlist-item-Member .itemlist-item-icon {
  border-radius: initial;
  padding: 0;
  display: flex;
  IMG {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
}

.itemlist-wrapper.is-first-in-lead .itemlist-item-detailed:first-child {
  padding-right: 0;

  .itemlist-item-actions {
    display: none;
  }

  .itemlist-item-link {
    flex-direction: column;
    padding: 16px;
  }

  .itemlist-item-image {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 0;
    IMG {
      width: 100%;
      max-height: 400px;
      max-width: initial;
    }
  }

  .itemlist-item-body {
    margin-top: 8px;
  }
}

.itemlist-wrapper.itemlist-wrapper-warning .itemlist-item-detailed {
  background-color: #009ef5;

  &:hover {
    background-color: white;
    .itemlist-item-text,
    .itemlist-item-abstract,
    .itemlist-item-meta {
      color: #333;
    }
  }
  .itemlist-item-text,
  .itemlist-item-abstract,
  .itemlist-item-meta {
    color: white;
  }
}

.itemlist-wrapper.itemlist-wrapper-info .itemlist-item-detailed {
  background-color: #f0ad4e;

  &:hover {
    background-color: white;
    .itemlist-item-text,
    .itemlist-item-abstract,
    .itemlist-item-meta {
      color: #333;
    }
  }
  .itemlist-item-text,
  .itemlist-item-abstract,
  .itemlist-item-meta {
    color: white;
  }
}

.btn.itemlist-action {
  margin: 20px auto 20px;
  width: 60%;
  .text-overflow();
  display: block;
}

.itemlist-wrapper .itemlist-item-detailed.itemlist-item-detailed-image {

  .itemlist-item-text {
    margin-bottom: 8px;
  }
  .itemlist-item-link {
    padding: 8px 4px 8px 16px;
    align-items: initial;
  }
  .itemlist-item-image {
    margin-right: 12px;
  }

  .itemlist-item-actions {
    top: 0;
    transform: initial;
  }

}



.panel-body .itemlist-wrapper {
  
  .itemlist-item-detailed {
    &:last-child {
      margin-bottom: -6px;
    }
  }

  .itemlist-item-detailed.itemlist-item-detailed-image {
    &:first-child {
      margin-top: -4px;
    }
    &:last-child {
      margin-bottom: -7px;
    }
  }
  .itemlist-item-detailed.itemlist-item-detailed-image-abstract {
    &:first-child {
      margin-top: -8px;
    }
    &:last-child {
      margin-bottom: -10px;
    }
  }

  &.is-first-in-lead .itemlist-item-detailed:first-child {
    margin-top: -12px;
  }
}

.itemlist-wrapper .itemlist-item-detailed.itemlist-item-detailed-image-abstract {
  .itemlist-item-link {
    padding: 12px 4px 12px 16px;
  }
}
