// Include variables and mixins
@import '../../init-mixins.less';

BODY {
  #filerobot-image-editor-root .modal-overlay {
    background: #0000009c;
    opacity: 1;
  }
  
  .FIE_topbar .FIE_topbar-save-wrapper {
    width: auto !important;
  }
  
  // Global wrapper
  #filerobot-image-editor-root .dFpbxG {
    border-radius: 4px;
  }
  
  #SfxPopper {
    z-index: 2000;
    position: absolute;
  }
  
  // Dropdown menu
  .eLItJu {
    z-index: 100000;
  }
  .FIE_root {
    font-family: @font-family-sans-serif;
  }

  // Save button
  .coKTDi {
    background-color: #009ef5;
    border: 1px solid transparent;
    border-radius: 4px;
    &:hover {
      background-color: #007dc2;
      border-color: #0077b8;
    }
  }

  // Hide reset button (not working)
  .FIE_topbar-reset-button {
    display: none;
  }

  .FIE_tabs {
    overflow: visible;
  }
  .FIE_tab {
    overflow: visible;
    label {
      justify-content: center;
      overflow: visible;
    }
  }

  .iYPUYF{
    width: 94px;
  }
}

DIV.image-editor-wrapper.image-editor-inline {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 24px;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 16px;
}

.image-editor-wrapper {
  
  &:not(.image-editor-inline) {
    height: 80vh;
    position: fixed;
    width: 85vw;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2000;
    background-color: white;
    margin: auto;
    padding: 16px;
    border-radius: 8px;
  }
  label {
    margin-bottom: 0;
  }
  
  .bigDRF,
  .dGgFET,
  .nmZBt .sc-lxwit0-0 {
    font-family: @font-family-sans-serif;
  }
  &.image-editor-inline {
    .FIE_topbar-close-button {
      visibility: hidden;
    }
  }  
  
}

.image-editor-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  background-color: #000000b8;
}
