<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin PUBLIC "-//JALIOS//DTD JCMS-PLUGIN 1.7//EN" "http://support.jalios.com/dtd/jcms-plugin-1.7.dtd">

<plugin name="JBookPlugin" version="1.0" author="Jalios SA" license="JALIOS"
    initialize="true" jcms="" order="0" url="" jsync="false" appserver="">

    <label xml:lang="fr">JBookPlugin</label>
    <description xml:lang="fr">JBookPlugin</description>

    <types>
        <type name="Book">
            <file path="doBookFullDisplay.jsp" />
        </type>
    </types>

  <!-- ========================== Classes and Jars ======================== -->
  <java-classes>
    <java package="com.jalios.jcmsplugin.jbook" />
  </java-classes>

  <!-- ========================== Plugin Components ======================= -->
  <plugincomponents>
    <channellistener class="com.jalios.jcmsplugin.jbook.component.JBookStartupDataGenerator" />
    <policyfilter    class="com.jalios.jcmsplugin.jbook.component.JBookShortcutPolicyFilter" />
  </plugincomponents>
    
  <!-- ============================= Hibernate ============================ -->
  <hibernate>
     <mapping resource="com/jalios/jcmsplugin/jbook/data/JBookBorrowing.hbm.xml"/>
  </hibernate>


    <private-files>
        <directory path="properties" />
    </private-files>
    <public-files>
        <directory path="js" />
        <directory path="css" />
        <directory path="docs" />
        <directory path="jsp" />
        <directory path="images" />
    </public-files>
</plugin>

