@import "../../init-mixins.less";
#toast-container {
  .toast-info,
  .toast-success,
  .toast-warning,
  .toast-error {
    background-image: none!important;
    background-color: inherit;
    padding: 0;
    opacity: 1;
    border-radius: 18px;
    .toast-progress {
      background-color: #ababab;
    }
  }
  .toast-info {
    background-color: rgba(0, 0, 0, 0.75);
  }
  .toast-success {
    background-color: rgba(115, 181, 115, 0.75);
  }
  .toast-warning {
    background-color: rgba(249, 169, 55, 0.75);
  }
  .toast-error {
    background-color: rgb(202, 94, 88);
  }
  .toast-message {
    text-align: center;
    padding: 15px;

  }
}

.toast-top-center {
  top: 80px;
}

.toast-top-left {
  top: 80px;
}

.toast-top-right {
  top: 80px;
}
