/* Portrait tablet to desktop */
.layout-jnews[min-width~='767px'] {
  .card-count-3-model-2,
  .card-count-3-model-5,
  .card-count-4-model-1,
  .card-count-4-model-4,
  .card-count-4-model-6,
  .card-count-5-model-1,
  .card-count-5-model-2,
  .card-count-5-model-3,
  .card-count-5-model-4,
  .card-count-6-model-1,
  .card-count-6-model-2,
  .card-count-6-model-3,
  .card-count-6-model-4,
  .card-count-6-model-5,
  .card-count-7-model-1,
  .card-count-7-model-2,
  .card-count-7-model-4,
  .card-count-7-model-5,
  .card-count-7-model-6,
  .card-count-7-model-7,
  .card-count-7-model-8,
  .card-count-7-model-9,
  .card-count-7-model-10,
  .card-count-8-model-1,
  .card-count-8-model-2,
  .card-count-9-model-1,
  .card-count-10-model-1,
  .card-count-5-model-5,
  .card-count-5-model-6,
  .card-count-5-model-7,
  .card-count-5-model-8,
  .card-count-5-model-9,
  .card-count-9-model-3,
  .card-count-9-model-4,
  .card-count-9-model-5,
  .card-count-9-model-6,
  .card-count-9-model-7,
  .card-count-9-model-8,
  .card-count-9-model-9,
  .card-count-9-model-10,
  .card-count-9-model-11,
  .card-count-3-model-6 {
    .card-img {
      height: 150px;
    }
  }

  .card-count-3-model-1,
  .card-count-4-model-5,
  .card-count-7-model-3,
  .card-count-8-model-3,
  .card-count-9-model-2 {
    .card-img {
      height: 200px;
    }
  }
  .card-img {
    max-height: 385px;
  }
  .card-count-9-model-3,
  .card-count-9-model-4,
  .card-count-9-model-5,
  .card-count-9-model-6,
  .card-count-9-model-7,
  .card-count-9-model-8,
  .card-count-9-model-9,
  .card-count-9-model-10,
  .card-count-9-model-11,
  .card-count-7-model-4,
  .card-count-7-model-5,
  .card-count-7-model-6,
  .card-count-7-model-7,
  .card-count-7-model-8,
  .card-count-7-model-9,
  .card-count-7-model-10,
  .card-count-5-model-5,
  .card-count-5-model-6,
  .card-count-5-model-7,
  .card-count-5-model-8,
  .card-count-5-model-9 {
    .img-big-item {
      max-height: 385px;
    }
  }
}

.cssLayout {
  .big-pub-jnews.pub-jnews {
    border: 0;
    outline: 1px solid #ddd;
    min-height: 200px;
  }
  .img-big-item {
    object-fit: cover;
    max-height: 500px;
    min-height: 250px;
    height: 100%;
    width: 100%;
    display: block;
  }
  .big-item {
    height: 100%;
    position: relative;
    margin: 0 auto;
  }
  .content-big-item {
    position: absolute;
    bottom: 0;
    text-align: left;
    text-shadow: none;
    color: #f1f1f1;
    width: 100%;
    padding: 64px 16px 8px 16px;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5); //for IE
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 0, transparent 100%);

    .title-item {
      color: #ffffff;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: 500;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.80);
    }

    .align-content-image {
      position: relative;
    }
    .align-title-image {
      position: absolute;
      bottom: 0;
      margin-bottom: -29px;
      word-break : break-word;
    }
  }
  .option-background {
    padding-top: 100px;
  }
  .meta-color-jnews {
    color: black;
  }
  .meta-color-jnews2,
  .meta-color-jnews3 {
    color: #bbb;
  }
}

/* Landscape phone to portrait tablet */
.layout-jnews[max-width~='767px'] {
  .card-img {
    max-height: 350px;
  }
  .img-big-item {
    max-height: 350px;
  }
  .pub-jnews {
    margin-right: 0px;
    margin-left: 0px;
  }
}
