.layout-jnews{
  .dropdown-container {  
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 3px;
    margin: 0px;
  }
  
  .dropdown-toggle {
    background-color: #FFFFFF;
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropup:focus .dropdown-toggle {
    background-color: #FFFFFF;
  }
  
  .jnews-menu-icons {
    color: #999;
  }  
  
  .dropdown-big-item,.dropdown-carousel {
    .dropdown-toggle {
      background-color: transparent;
    }
    .jnews-menu-icons {
      color: #FFFFFF;
    }
    
    .dropup:focus .dropdown-toggle {
      background-color: transparent;
    }
  }
  
  .dropup {
    position: relative;
    display: inline-block;
  }
  
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: #f9f9f9;
    border: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-menu {
    position: absolute;
    right: 0;
    bottom: 32px; 
    left: auto;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }
  
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu a:hover { 
    background-color: #f1f1f1;
  } 
  
  .dropup:focus .dropdown-menu {
    display: block;
  }
}