@import "../../init-mixins.less";

.ajax-loading-component-waves {
  margin: 40px auto;
  text-align: center;

  .jalios-icon-svg {
    height: 100px;
    width: 100px;

    .circle1 {
      fill: @loading-color-1;
    }

    .circle2 {
      fill: @loading-color-2;
    }

    .circle3 {
      fill: @loading-color-3;
    }

    .circle4 {
      fill: @loading-color-4;
    }
  }
}