@import "../core/init-mixins.less";

/* ----------------------------------------------- */
/*  Properties Editor                              */
/* ----------------------------------------------- */

#properties-editor {
  CODE {
    color: @text-color;
    background-color: transparent;
  }
  .nowrap CODE {
    white-space: nowrap;
  }
  UL.dropdown-menu {
    min-width: 300px;
    max-width: 500px;
    > LI > DIV.form-group {
      padding-left: 10px;
    }
  }
  .navbar-default .dropdown-menu {
    LABEL INPUT {
      margin-left: -20px;
    }
    .container-fluid {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
  TBODY {
    TD {
      padding: 5px;
    }
  }
}
.property-table {
  margin-bottom: 0px;
}
.property-data-value-edit {
  visibility: hidden;
}
TD:hover .property-data-value-edit {
  visibility: visible;
}