// Include variables and mixins
@import "../core/init-mixins.less";

.editNotificationCriteria {
  #content-types LI {
    float: left;
    // Modal's BODY width ~868px, divided by 3 => 289px => round to 270px
    width: 270px;
    list-style: none;
    padding-right: 10px;
  }

  .type-label-wrapper LABEL {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .widget-name-cids {
    OL {
      margin-bottom: 0;
    }
  }
  DIV.notification-toggle-option {
    display: none;
  }
  .widget A.notification-toggle-option.dropup {
    & + DIV.notification-toggle-option {
      display: block;
    }
  }
  A.notification-toggle-option {
    color: @gray-light;
    margin-top: @padding-base-vertical;
    display: inline-block;
  }
}