@import "../core/init-mixins.less";

/* ----------------------------------------------- */
/*  JCMS analytics                                 */
/* ----------------------------------------------- */

@import "jalios-report.less";

.jcms-analytics {

  padding-top : 0px;

  .main-criteria TD {
    padding: 5px;
  }
  // Better display in smaller screen
  // Cancel native BS margin-bottom 8px on .navbar-form
  .analytics-select-report {
    // Cancel BS native min-height: 50px causing inputs to be outside of navba container in some viewport width
    min-height: auto;
    .reportForm {
      &.navbar-form {
        margin-bottom: 0;
      }
      // Add custom 8px margin-bottom on all adjacent form elements
      > * {
        // margin-bottom: 8px;
        margin-bottom: ((@navbar-height - @input-height-base) / 2);
      }
    }
  } 

  .tab-content {
    .summary {
      line-height: @line-height-computed * 2;
      text-align: center;
    }

    .indicator {
      font-family: @headings-font-family;
      font-weight: bold;
      line-height: @headings-line-height;
      font-size: @font-size-h1;
      
      min-height: @line-height-computed;
      margin-bottom: @line-height-computed;
      
      padding: @line-height-computed / 2;
      text-align: center;
      border-radius: @border-radius-large;
      
      .alert-variant(@state-info-bg; @state-info-border; @state-info-text);
      .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
      
      .indicator-value {
        margin-bottom: @line-height-computed /2;
      }
      .indicator-text {
        font-size: @jumbotron-font-size;
        font-weight: 300;
      }
    }
  }
}