@import "../core/init-mixins.less";
@import "../core/app/jalios-app-variables.less";
@import "../core/app/jalios-app-mixins.less";

/* ----------------------------------------------- */
/*  JCMS ALERTS APP                                */
/* ----------------------------------------------- */
.app-theme-from-color(alerts, @jalios-color-turquoise-deep);


.app-alerts {
  .app-body {
    .clearfix();
  }

  .app-sidebar UL.app-sidebar-menu > LI.active {
    &.alert-level-warning {
      background-color: @alert-warning;
    }

    &.alert-level-action {
      background-color: @alert-action;
    }

    &.alert-level-info {
      background-color: @alert-info;
    }
  }

  .show-alerts-more-items-wrapper {
    #JCMS > .br();
  }
}

.alert-card .alert-menu-dropdown {
  &:hover A {
    color: #666;
  }
  
  .dropdown-menu {
    z-index: @zindex-dropdown; // Force z-index at least to same level than by default in Bootstrap Dropdowns (1060)
    A {
      cursor: pointer;
    }
  }
  
  > A {
    text-decoration: none;
    color: #666;
    font-size: 16px;
    cursor: pointer;
  }
}