@import "../core/init-mixins.less";

.app-theme-from-color(public-link, @app-color-publiclink);

.app-public-link {
  
  .zip-content UL {
    padding-inline-start: 20px;
    margin-bottom: 0;
    margin-top: 4px;
  }

  .doc-version {
    color: #999;
    A {
      color: #999;
    }
  }
  
  .no-download {
    color: #999;
  }
    
}
