@import "../core/init-mixins.less";

@recommendation-meta-font-size: 12px;

.recommendation-modal {
  .message {
    background: #EDF8FE;
    border: 1px solid #DAEDF9;
    padding: 15px;
    .border-radius (5px);
    position: relative;
    overflow: initial;
    margin-left: 60px;
    margin-bottom: 10px;
    
    .tail {
      left: -16px;
      position: absolute;
      top: 12px;
    }
    &.media-body {
      display: block;
    }
  }

  .recommendation .recommendation-container,
  .align-reco-container {
    margin-left: 60px;
  }
  
  .nav-tabs LI.active .badge {
    background-color: @component-active-bg;
  }
  .badge-success {
    background-color: @btn-success-bg;
  }
  .badge-important {
    background-color: @btn-danger-bg;
  }

  .recommendation-tracking {
    .title {
      background-color: #CCCCCC;
      border-bottom: 1px solid #AAAAAA;
      border-top: 1px solid #AAAAAA;
      padding: 5px 15px;
    }
    .recommendation-meta-tracking {
      display: none;
    }
    .recommendation {
      margin-bottom: 0;
    }
  }
  .recommendation-meta-label,
  .filter-read-ack .filter-label {
    font-weight: bold;
    color: #888;
    font-size: @recommendation-meta-font-size;
  }
  .recommendation-meta {
    padding-top: 10px;
    //padding-bottom: 10px;
    font-size: @recommendation-meta-font-size;
    color: #888;
    &.media {
      margin-top: 0;
    }
  }
  .filter-read-ack {
    font-size: @font-size-small;
/*     margin-top: -10px; */
/*     margin-bottom: 20px; */
  }
  .meta-row {
    margin-bottom: 2px;
    margin-bottom: 5px;
  }

  .recommendation {
    border-bottom: 1px solid #DADADA;
    margin-bottom: 20px;
    
    overflow: hidden;
    
    &.bottom-less,
    &.last {
      border-bottom: 0 none;
      margin-bottom: 0px;
    }
    &.media {
      #JCMS > .br();
    }
  }

  .jalios-icon.remove-filter {
    /* Hide the remove filter cross in those TABs */
    display: none;
  }
  #recommendation-tracking.active {
    .jalios-icon.remove-filter {
      /* Display only in tracking tab */
      display: inherit;
    }
  }

  // When not in tracking tab, hide recipient group filter cross icon
  .recipient-group-filter-item {
    .remove-filter.jalios-icon {
      display: none;
    }
  }
  .tracking-filter-item {
    text-decoration: none;
  }
  .remove-filter {
    font-size: @font-size-small;
  }
  .recommendation-meta-recipients {
    /* Update it when it has been moved by JS next to recipient meta */
    & + .filter-read-ack {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      padding-top: 0;
    }
  }
  .filter-read-ack + .recommendation-tracking-results {
    margin-top: 0;
  }
  
  .recommendation-tracking {
    .tracking-filter-item {
      display: inline-block;
      padding: 1px 5px;
      border-radius: 3px;
      border-bottom-right-radius: 3px;
      &:hover {
        background-color: @gray-lighter;
        color: @component-active-color;
        color: @gray-dark;
      }
      &.active {
        background-color: @component-active-bg;
        &, .jalios-icon {
          color: @component-active-color;
        }
        &.read-ack-filter-acked {
          background-color: @brand-success;
        }
        &.read-ack-filter-not-acked {
          background-color: @brand-danger;
          background-color: @jalios-color-orange-deep;
        }
      }
    }
    .read-only-not-acked .badge {
      background-color: @jalios-color-orange-deep;
    }
  }
  #recommendation-tracking {
    .recipient-group-filter-item .remove-filter.jalios-icon {
      display: inline-block;
    }
  }
}
.ttRecoGroup {
  padding: 10px;
  width: 400px;
}