.recommendation-modal .message {
  background: #EDF8FE;
  border: 1px solid #DAEDF9;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  overflow: initial;
  margin-left: 60px;
  margin-bottom: 10px;
}
.recommendation-modal .message .tail {
  left: -16px;
  position: absolute;
  top: 12px;
}
.recommendation-modal .message.media-body {
  display: block;
}
.recommendation-modal .recommendation .recommendation-container,
.recommendation-modal .align-reco-container {
  margin-left: 60px;
}
.recommendation-modal .nav-tabs LI.active .badge {
  background-color: #009EF5;
}
.recommendation-modal .badge-success {
  background-color: #5cb85c;
}
.recommendation-modal .badge-important {
  background-color: #d9534f;
}
.recommendation-modal .recommendation-tracking .title {
  background-color: #CCCCCC;
  border-bottom: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
  padding: 5px 15px;
}
.recommendation-modal .recommendation-tracking .recommendation-meta-tracking {
  display: none;
}
.recommendation-modal .recommendation-tracking .recommendation {
  margin-bottom: 0;
}
.recommendation-modal .recommendation-meta-label,
.recommendation-modal .filter-read-ack .filter-label {
  font-weight: bold;
  color: #888;
  font-size: 12px;
}
.recommendation-modal .recommendation-meta {
  padding-top: 10px;
  font-size: 12px;
  color: #888;
}
.recommendation-modal .recommendation-meta.media {
  margin-top: 0;
}
.recommendation-modal .filter-read-ack {
  font-size: 12px;/*     margin-top: -10px; */
  /*     margin-bottom: 20px; */
}
.recommendation-modal .meta-row {
  margin-bottom: 2px;
  margin-bottom: 5px;
}
.recommendation-modal .recommendation {
  border-bottom: 1px solid #DADADA;
  margin-bottom: 20px;
  overflow: hidden;
}
.recommendation-modal .recommendation.bottom-less,
.recommendation-modal .recommendation.last {
  border-bottom: 0 none;
  margin-bottom: 0px;
}
.recommendation-modal .recommendation.media {
  margin-bottom: 20px;
}
.recommendation-modal .jalios-icon.remove-filter {
  /* Hide the remove filter cross in those TABs */
  display: none;
}
.recommendation-modal #recommendation-tracking.active .jalios-icon.remove-filter {
  /* Display only in tracking tab */
  display: inherit;
}
.recommendation-modal .recipient-group-filter-item .remove-filter.jalios-icon {
  display: none;
}
.recommendation-modal .tracking-filter-item {
  text-decoration: none;
}
.recommendation-modal .remove-filter {
  font-size: 12px;
}
/* Update it when it has been moved by JS next to recipient meta */
.recommendation-modal .recommendation-meta-recipients + .filter-read-ack {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
}
.recommendation-modal .filter-read-ack + .recommendation-tracking-results {
  margin-top: 0;
}
.recommendation-modal .recommendation-tracking .tracking-filter-item {
  display: inline-block;
  padding: 1px 5px;
  border-radius: 3px;
  border-bottom-right-radius: 3px;
}
.recommendation-modal .recommendation-tracking .tracking-filter-item:hover {
  background-color: #eeeeee;
  color: #fff;
  color: #333333;
}
.recommendation-modal .recommendation-tracking .tracking-filter-item.active {
  background-color: #009EF5;
}
.recommendation-modal .recommendation-tracking .tracking-filter-item.active,
.recommendation-modal .recommendation-tracking .tracking-filter-item.active .jalios-icon {
  color: #fff;
}
.recommendation-modal .recommendation-tracking .tracking-filter-item.active.read-ack-filter-acked {
  background-color: #5cb85c;
}
.recommendation-modal .recommendation-tracking .tracking-filter-item.active.read-ack-filter-not-acked {
  background-color: #d9534f;
  background-color: #ee6c00;
}
.recommendation-modal .recommendation-tracking .read-only-not-acked .badge {
  background-color: #ee6c00;
}
.recommendation-modal #recommendation-tracking .recipient-group-filter-item .remove-filter.jalios-icon {
  display: inline-block;
}
.ttRecoGroup {
  padding: 10px;
  width: 400px;
}
/*# sourceMappingURL=jalios-recommendation.css.map */
