@import "../core/init-mixins.less";

/* ----------------------------------------------- */
/*  LOGIN                                          */
/* ----------------------------------------------- */

/*
 * Styles used in :
 *  - login.jsp
 *  - mailPassword.jsp
 *  - privateLogin.jsp
 *  - privateMailPassword.jsp
 *  - failsafeMode.jsp
 *  - PortletLogin
 *
 * .authentication is used as the absolute positionned FORM's wrapper (privateLogin, privateMailPassword, ...)
 * .login-panel is used as common authentication / mail pages' selector
 * .public-login is used as login.jsp page's FORM selector
 */
.box.login {
  width: 400px;
  margin: 0 auto;
  .box-shadow(2px 2px 8px #999);
}

.authentication {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #bae3f9;
  background-size: cover;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  // Vertical centering
  position: relative;

  .box.login {
    margin-top: 180px;
    .box-shadow(4px 4px 12px #333);

    .mbox {
       width: auto;
       margin: 18px auto;
       padding: 9px;
    }
  }
  .login-panel {
    background-color: rgba(253, 253, 253, 0.7);
    width: 700px;
    max-height: 90vh;
    border-radius: 10px;
    
    @media (max-width: 700px) {
      margin-left: @padding-base-horizontal;
      margin-right: @padding-base-horizontal;
    }
    // Cancel style from .well
    .box-shadow(none);
    border: 0 none;
  }
}

// Vertical align depends on available space
@media (min-height: 0px) {
  .authentication {
    align-items: baseline;
    .login-panel {
      margin-top: 20px;
    }
  }
}
@media (min-height: 500px) {
  .authentication:not(.has-target-content) {
    align-items: center;
    .login-panel {
      transform: translateY(-15%);
    }
  }
}

@media (min-height: 700px) {
  .authentication:not(.has-target-content) {
    .login-panel {
      transform: translateY(-40%);
    }
  }
}

.failsafe-mode {
  #gradient > .radial(#cde6f9, #6191bf);
}

.login-panel {
    
  .form-title {
    #JCMS > .br();
    text-align: center;
    font-size: @font-size-h3;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 0;
    font-family: @font-family-condensed;
    font-weight: 300;
  }
  
  h2.form-title {
    margin-bottom: 20px;
  }

  
  .form-actions {
    text-align: right;
  }
}
@media (min-width: @screen-sm) {
  .login-panel {
    H1.form-title {
      font-size: @font-size-h2;
    }
    H2.form-title {
      font-size: @font-size-h3;
    }
  }
}
@media (min-width: @screen-lg) {
  .login-panel {
    H1.form-title {
      font-size: @font-size-h1;
    }
    H2.form-title {
      font-size: @font-size-h2;
    }
  }
}

.login-panel {
  .lang-chooser {
    float: right;
  }
  HR {
    border-top: 1px solid #DDDBDA;
    border-bottom: 1px solid #FFFFFF;
  }
  .input-group {
    width:100%;
  }
  .form-buttons {
    .form-inline {
      display: inline-block;
    }
  }
  .login-remember-me {
    display: inline;
    margin-right: @baseline;
  }

  .panel-footer,
  .box-footer {
    text-align: center;
    A { color: @text-color; }
  }
}

// Limited width
.public-login,
.mail-password {
  margin: 0 auto;
  @media (max-width: @screen-xs-max) {
    width: 100%;
  }
  @media (min-width: @screen-xs) {
    max-width: @screen-xs;
  }
}

.PortalJspCollection .public-login,
.PortalJspCollection .mail-password {
  margin-top: 40px;
}

.PortletLogin {
  FORM.login-form {
    text-align: left; // Prevent 'text-align: center' from the ancestors
  }
}

.public-login {
  .form-actions {
    text-align: left;
  }
  .login-remember-me {
    margin-right: 0;
    margin-left: @baseline;
  }
}
