@import '../core/init-mixins.less';

.app-theme-from-color(appstore, @jalios-color-cyan-deep);

.app.app-appstore {
  .btn-tab-rename {
    margin-right: 4px;
  }

  .app-header .appstore-main-title {
    font-weight: 300;
    margin-top: 10px;
    A {
      color: white;
    }
  }

  .app-header H2 {
    font-size: 18px;
    font-weight: 400;
    margin-top: -18px;
    font-family: @font-family-condensed;
  }

  .app-store-add-tab {
    display: inline-flex;
    align-items: center;
    height: 48px;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: #ababab;
    }
  }

  .app-main.is-admin-page {
    background-color: white;

    .nav-admin > LI {
      flex-basis: initial;
      flex-grow: initial;
    }

    .nav-admin {
      margin-left: 0;
    }
  }

  .application-default-chooser {
    max-width: 800px;
    padding: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;

    .nav-tabs-underlined {
      display: inline-block;
      float: left;

      .ui-sortable-helper {
        background-color: #eee;
      }

      .tab-dropdown {
        padding: 5px;
        transition: background-color 200ms ease-in;
        &:hover {
          background-color: #e8e8e8;
        }
      }

      .dropdown-menu LI.active > A {
        background-color: #fff;
        color: #666;
      }

      > li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        > .dropdown {
          display: none;
        }
      }

      > li.active {
        > .dropdown {
          display: block;
        }
        a:hover {
          cursor: pointer;
        }
      }
    }
  }

  H2 {
    width: 100%;
    padding-left: 15px;
    margin-bottom: 20px;
    font-family: @font-family-condensed;
  }
  
  .card-appstore-layout {

    .card {
      padding-bottom: 40px;
      cursor: pointer;
      .buttons {
        opacity: 0;
        transition: opacity 200ms ease-in;
      }
      
      .card-title A {
        color: @card-color;
        &:hover {
          text-decoration: none;
        }
      
        &:focus-visible {
          text-decoration: underline;
        }
      }
      
      // Do not show add button for keyboard navigation, privigeliate the navigation to the app full display
      &:focus-visible {
        display: none;
      }

      &:hover .buttons {
        opacity: 1;
      }

      .ribbon-top-left {
        display: none;
      }

      .app-uninstall {
        position: absolute;
        right: 0;
        top: 0;
        padding: 8px;
        opacity: 0;
        transition: opacity 200ms ease-in;
        display: none;
      }

      &.is-installed {
        .ribbon-top-left {
          display: block;
        }
        .app-uninstall {
          display: block;
        }
      }

      &:focus-within.is-installed,
      &:focus-visible.is-installed,
      &:hover.is-installed {
        .app-uninstall {
          opacity: 1;
        }
      }

      .ribbon-top-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        border-top: solid 30px #4cd963;
        border-left: solid 30px #4cd963;
        border-right: solid 30px transparent;
        border-bottom: solid 30px transparent;
        .if(@card-rounded-corners,  border-top-left-radius, @card-border-radius);

        .jalios-icon {
          position: absolute;
          top: -20px;
          left: -20px;
          color: white;
          font-size: 18px;
          font-weight: bold;
        }
      }

      .card-title {
        text-align: center;
        margin-bottom: 8px;
        font-weight: 500;
      }

      .card-description {
        margin-bottom: 8px;
      }

      &:hover .application-action {
        color: darken(#666, 10%);
        opacity: 1;
      }

      .install-count {
        display: inline-flex;
        line-height: 20px;
        cursor: default;
        align-items: center;
        position: absolute;
        bottom: 14px;
        margin-left: 8px;
        color: #999;

        .counter {
          line-height: 12px;
        }
      }

      .application-hashtags {
        margin-bottom: 10px;

        .label {
          font-size: 12px;
          font-weight: normal;
          color: #666;
          background-color: white;
          border: 1px solid #ccc;
          line-height: 2;
          cursor: pointer;
          transition: background-color 200ms ease-in;
          &:hover {
            background-color: #e8e8e8;
          }
        }
      }

      .appstore-add {
        cursor: pointer;
        padding-right: 8px;

        > .jalios-icon {
          display: none;
          line-height: 20px;
        }

        &.is-installed {
          > .jalios-icon {
            display: inline-block;
          }
        }
      }

      &.is-installed {
        //background-color: green;
      }

      .application-footer {
        margin-top: 16px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 8px;
      }

      .dropdown {
        float: right;
      }

      > .card-block {
        //padding-left: 0;
      }

      .app-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 40px 20px;
        position: relative;
        border-bottom: 1px solid #efefef;
        &:before {
          content: "";
          border: 1px solid #DDD;
          height: 96px;
          width: 96px;
          position: absolute;
          top: 50%;
          left: 50%;
          right: 0;
          bottom: 0;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        }
        .app-icon {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}

.displayed-application-buttons {
  width: 600px;
  margin: 0 auto 20px;

  .appstore-add {
    padding-right: 8px;

    .jalios-icon {
      line-height: 20px;
    }
  }

  > .dropdown {
    display: inline-block;

    > A:after {
      color: white;
    }
  }
}

.displayed-application-social {
  width: 600px;
  margin: 0 auto 20px;

  .vote-footer {
    margin: 0 0 5px;
    padding: 20px;
    border: 0;
    background-color: #fff;
    font-weight: normal;
    font-size: 18px;
  }

  .dbcomments {
    background-color: #fff;
    padding: 20px;

    .dbcommentCount {
      margin-top: 0;
      padding: 0;
      border: 0;
      font-weight: normal;
      font-size: 18px;
    }
  }
}

.app-appstore {
  .breadcrumb-nav,
  .displayed-application-test-wrapper {
    width: 600px;
    margin: 0 auto 20px;
  }
  .breadcrumb-nav {
    margin-left: auto;
  }
}



.displayed-application {
  position: relative;
  width: 600px;
  margin: 0 auto 20px;
  background-color: white;
  padding-bottom: 10px;
  border-radius: 0 @jalios-block-border-radius @jalios-block-border-radius @jalios-block-border-radius;
  overflow: hidden;
  .displayed-application-title {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    margin-bottom: 20px;
  }

  .application-hashtags {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
  }

  .application-hashtags .label {
    font-size: 12px;
    font-weight: normal;
    color: #666;
    background-color: white;
    border: 1px solid #ccc;
  }

  .app-icon-wrapper {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;

    .app-icon {
      width: 48px;
      height: 48px;
    }
  }

  .displayed-application-footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .displayed-application-description {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
  }

  > H2 {
    margin-top: 0;
    font-family: @font-family-condensed;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }

  .ribbon-top-left {
    display: none;
  }

  &.is-installed {
    .ribbon-top-left {
      display: block;
    }
    .app-uninstall {
      display: block;
    }
  }

  .ribbon-top-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 0;
    border-color: #4cd963 transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 0;

    .jalios-icon {
      position: absolute;
      top: -43px;
      left: 6px;
      color: white;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .buttons {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: flex;
  }

  .application-action {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #666;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 200ms ease-in;
    cursor: pointer;
    font-size: 18px;

    &:hover {
      background-color: #e0e0e0;
    }
  }

  &:hover .application-action {
    color: darken(#666, 10%);
    opacity: 1;
  }

  .install-count {
    display: inline-flex;
    line-height: 20px;
    cursor: default;
    align-items: center;
    /* position: absolute; */
    bottom: 14px;
    color: #999;
    float: left;
    height: 22px;
    margin-right: 10px;

    .counter {
      line-height: 12px;
    }
  }
}

.appstore-add {
  cursor: pointer;

  > .jalios-icon {
    display: none;
  }

  &.is-installed {
    > .jalios-icon {
      display: inline-block;
    }
  }
}

.app.app-appstore {
  .card-appstore-layout[max-width~='800px'] > .card {
    width: calc(~'50%' - 40px);
  }

  .card-appstore-layout[max-width~='500px'] > .card {
    width: calc(~'100%' - 40px);
  }
}

@media screen and (max-width: 480px) {
  .app.app-appstore .app-body .card-appstore-layout > .card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .app.app-appstore .app-body .application-footer .buttons {
    opacity: 1;
  }
  .app.app-appstore .navbar {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.suggestions-wrapper {
  max-width: 1200px;
  /* background-color: white; */
  margin: 0 auto;
  padding-top: 10px;
  /* border-radius: 4px; */
  margin-bottom: 40px;
  &:after {
    content: '';
    width: calc(~'100%' - 32px);
    height: 1px;
    background-color: #ccc;
    display: block;
  }
  H2 {
    margin-top: 0;
  }

  .suggestions-wrapper-header {
    padding-left: 16px;
    padding-right: 16px;
  }
}
