@import '../../../core/init-mixins.less';

.js-store-dropdown-install {
  .appstore-menu-add {
    padding-right: 8px;

    .jalios-icon {
      line-height: 20px;
    }
  }
}

.topbar-application-launcher .topbar-menu.dropdown-menu .topbar-ctxmenu-header-actions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  float: inherit;
}
.application-launcher {
  &.display-arrows {
    .scroller {
      display: flex;
    }

    .nav-tabs-wrapper {
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  &.application-store {
    .application-wrapper {
      transition: background-color 0.2s ease-in-out;
      //align-items: center;
      display: flex;
      flex-direction: row;
      padding: 10px 10px 10px 20px;
      border-bottom: 1px solid #e8e8e8;
      position: relative;

      &.is-installed {
        .installed-checkmark {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
      }

      .installed-checkmark {
        position: absolute;
        display: none;
        top: 2px;
        right: 14px;

        .jalios-icon {
          color: #4cd963;
          font-size: 14px;
        }
      }

      .js-app-install {
        margin-right: 4px;
        .jalios-icon {
          color: #c5c5c5;
          transition: color 200ms ease-in;
          margin-right: 0;
        }

        &:hover {
          .jalios-icon {
            color: #555;
          }
        }
      }

      .app-store-img {
        margin-right: 14px;
        width: 48px;

        img {
          width: 48px;
          height: 48px;
        }
      }

      .app-store-title {
        font-weight: bold;
        margin-bottom: 4px;
      }
      .app-store-description {
        margin-bottom: 0;
        word-break: break-all;
      }
    }
  }

  .application-launcher-error {
    padding: 18px;

    .jcms-message {
      margin-bottom: 0;
    }
  }
  .topbar-item-badge {
    right: 16px;
    top: 8px;
    position: absolute;
    z-index: 1;

    &.app-badge-level-info {
      background-color: @topbar-badge-info-bg;
    }

    &.app-badge-level-warning {
      background-color: @topbar-badge-warning-bg;
    }

    &.app-badge-level-danger {
      background-color: @topbar-badge-danger-bg;
    }
  }

  .nav-tabs-border {
    position: absolute;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #eee;
  }

  .scroller {
    display: none;
    position: absolute;
    height: 48px;
    width: 40px;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: #eee;
    }

    &:active {
      background-color: #f5f5f5;
    }

    &.scroller-left {
      left: 0;
    }

    &.scroller-right {
      right: 0;
    }
  }

  .launcher-application-item.application-sortable-helper {
    img {
      transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .label-wrapper {
      opacity: 1;
      transition: opacity 0.1s ease-in-out;
    }

    &.helper-over-tab {
      background-color: transparent;
      border: none;
      padding-top: 0;

      .label-wrapper {
        opacity: 0;
      }

      img {
        transform: scale(0.6);
        transform-origin: bottom center;
        animation: 0.8s ease 0s 1 normal both running wobble-hor-bottom;
        background-color: white;
      }
    }
  }

  .application-launcher-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 10;
  }

  .tab-delete-confirm {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .delete-tab-msg {
      padding-bottom: 18px;
    }

    .btn {
      margin-right: 4px;
    }
  }

  .tab-content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    overflow: hidden;
  }

  .application-trash {
    position: relative;

    .trash-overlay {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 40px;
      top: -2px;
    }

    .trash-animate {
      display: flex;
      top: -2px;
      position: absolute;
      width: 100%;
      align-items: center;
      justify-content: center;
      height: 0;
      overflow: hidden;
      background-color: #fbfbfb;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      transition: height 0.2s ease-in-out, background-color 0.2s ease-in-out;
    }

    .jalios-icon {
      font-size: 24px;
      transition: background-color 0.2s ease-in-out;
    }

    &.active {
      .trash-animate {
        height: 40px;
      }
    }

    &.application-over-bin {
      .trash-animate {
        background-color: #ff5853;

        .jalios-icon {
          color: #fff;
        }
      }
    }
  }

  .new-tab-display {
    padding: 14px 14px 0;
    display: flex;

    .btn-new-tab {
      margin-right: 8px;
    }

    .tab-title {
      flex: 1;
      outline: 0 solid transparent;
      margin-right: 8px;
      height: 22px;
    }
  }

  .nav-tabs-wrapper {
    position: relative;
    overflow: hidden;
    min-height: 49px;

    &.not-active {
      min-height: 0;
    }

    .topbar-item-badge {
      top: 13px;
      right: 9px;
      border-radius: 50%;
      height: 5px;
      width: 5px;
      padding: 0;
      position: absolute;
    }

    .applications-launcher-plus {
      color: #aaa;
    }
  }

  .nav-tabs {
    position: absolute;
    left: 0;
    top: 0;
    transition: left 0.2s ease-in-out;

    &.nav-tabs-underlined {
      display: inline;
      white-space: nowrap;
      padding: 0;
      margin: 0;
      border-bottom: none;
      height: 100%;

      LI > A {
        transition: none;
      }

      .ui-sortable-helper A {
        background-color: #eee;
      }
    }

    .application-nav-tab-add {
      display: flex;
      align-items: center;
      height: 100%;

      .application-nav-tab-link {
        display: flex;
        align-items: center;
        height: 100%;

        .jalios-icon {
          color: #aaa;
          margin: 0;
        }
      }
    }

    .application-nav-tab {
      display: flex;
      align-items: center;
      height: 100%;

      A {
        display: flex;
        padding: 14px 15px;
        height: 100%;
      }

      &.active {
        A {
          padding-right: 1px;
          padding-left: 13px;

          .topbar-item-badge {
            display: none;
          }
        }

        .topbar-item-badge {
          right: 13px;
        }

        .launcher-navtab-menu-btn {
          display: block;
          margin-left: 2px;
          transition: background-color 0.2s ease-in-out;

          &:hover {
            background-color: #e8e8e8;
            border-radius: 4px;

            .jalios-icon {
              color: @jalios-color-icon;
            }
          }

          .jalios-icon {
            color: #009ef5;
            margin: 8px 4px;
          }
        }
      }

      .launcher-navtab-menu-btn {
        display: none;
      }
    }

    li {
      transition: background-color 0.2s ease-in-out;

      &.active {
        A:hover {
          cursor: pointer;
        }
      }

      &.tab-drop-over {
        background-color: #009ef5;

        &.active {
          A {
            color: white;
          }
        }

        A {
          color: white;
        }
      }
    }
  }

  .tab-applications {
    position: relative;

    &.active {
      display: inline-block;
      min-height: 99px;
      margin-bottom: 4px;
    }

    .tab-applications-items {
      position: relative;

      .launcher-application-item {
        position: relative;
        float: left;
      }
    }

    .tab-applications-clone {
      position: absolute;
      background-color: #86777717;
    }
  }

  .launcher-application-item {
    background-color: white;
    text-align: center;
    width: 100px;
    height: 83px !important;
    margin-bottom: 2 * @topbar-baseline;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: @topbar-baseline*2;
    cursor: pointer;
    border: 1px solid white;
    padding-top: 10px;
    .transition(border 200ms linear);
    position: relative;

    &.is-clone {
      position: absolute !important;
    }

    &:hover {
      border: 1px solid #e8e8e8;
      text-decoration: none;
    }

    .icon-wrapper {
      display: inline-block;
      position: relative;
      width: 48px;
      height: 48px;
      margin-bottom: 8px;

      > IMG {
        width: 48px;
        height: 48px;
        border-radius: 6px;
      }
    }

    .label-wrapper {
      color: #333;
      font-size: 12px;
      display: block;
    }
  }
}

.launcher-slit-out-vertical {
  -webkit-animation: launcher-slit-out-vertical 0.5s ease-in both;
  animation: launcher-slit-out-vertical 0.5s ease-in both;
}

@media screen and (max-width: 480px) {
  .topbar-application-launcher .dropdown-menu.topbar-menu {
    bottom: inherit;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2019-3-27 11:13:28
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slit-out-vertical
 * ----------------------------------------
 */
@-webkit-keyframes launcher-slit-out-vertical {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
    opacity: 1;
  }

  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
}
@keyframes slit-out-vertical {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
    opacity: 1;
  }

  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
}
