// Include variables and mixins
@import '../../init-mixins.less';

.icon-chooser-actions {
  margin-bottom: 16px;
  display: flex;
  justify-content: end;
  .icon-chooser-search {
    white-space: nowrap;
    display: flex;
    width: 300px;
    padding-right: 80px;
    > input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  
  input {
    width: 200px;
  }
}
.icon-chooser-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  position: relative;
  .icon-chooser-option {
    width: calc(~"50%" - 16px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #EEE;
    border-radius: 4px;
    padding: 16px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 200ms ease-in, color 200ms ease-in;
    
    @media (min-width: @screen-sm-min) { 
      width: calc(~"33%" - 16px);
    }
    
    @media (min-width: @screen-md-min) {
      width: calc(~"25%" - 16px);
    }
    
    &:hover {
      background-color: #EFEFEF;
    }
    
    &.active {
      background-color: @jalios-color-blue;
      color: white;
      > .jalios-icon {
        color: inherit;
      }
      &:hover {
        background-color: darken(@jalios-color-blue, 5%);
      }
    }
    
    .icon-chooser-option-value {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-transform: capitalize;
      text-align: center;
    }
    input {
      display: none;
    }
    
    .jalios-icon {
      margin-bottom: 16px;
    }
    
    span.jalios-icon {
      font-size: 30px;
      color: @jalios-color-icon;
    }
    
    img.jalios-icon {
      height: 30px;
      width: 30px;
    }      
  }
}