@import "../../../../../css/jalios/core/init-mixins";

.Portlet.empty-skin {
  > .portlet-header-actions {
    display: none;
  }
  /*&:hover {
    > .portlet-header-actions {
      opacity: 1;
      pointer-events: all;
    }
  }
  > .portlet-header-actions {
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 200ms ease-in;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 10;
    .btn {
      box-shadow: 1px 2px 3px 1px #00000042;
      background-color: #ffffff;
    }
  }*/
}
