// Include variables and mixins
@import '../../../../css/jalios/core/init-mixins';
@import 'jportal-edition-sidebar.less';
@import 'jportal-edition-sidebar-boxmodel.less';
@import 'jportal-loading-intro.less';

BODY:not(.is-show-content-mode) .jportlet {
  position: absolute;
  background: @jalios-color-turquoise-deep;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  text-align: center;
}

BODY.is-show-content-mode {
  .jportal-block .jportlet {
    position: initial;
    text-align: inherit;
    background: none;
  }

  .jportal-block.has-jportlet .jportal-block-inner {
    min-height: initial;
    height: initial;
  }
}

.container,
.container-fluid {
  > .jportal-block-line {
    padding: 0;
  }
}

.jportal-topbar {
  background-color: #293a48;
  position: fixed;
  display: flex;
  width: 100%;
  height: @jportal-topbar-height;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  z-index: 1040;
  padding-left: 15px;
  color: white;
  top: 0;

  a.btn {
    display: flex;
    align-items: center;
  }

  .btn {
    border-radius: 0;
    background-color: #293a48;
    color: #fff;
    border: 0;
    border-left: 1px solid rgba(204, 204, 204, 0.24);

    &:hover {
      background-color: lighten(#293a48, 10%);
    }

    &.btn-primary {
      background-color: @jportal-main-theme-color;

      &:hover {
        background-color: darken(@jportal-main-theme-color, 10%);
      }
    }
  }

  .jportal-topbar-center {
    display: flex;
    height: 50px;

    a:first-child {
      border: none;
    }

    a {
      &.is-active {
        background-color: @jportal-main-theme-color;
      }
    }
  }

  .jportal-topbar-right {
    display: flex;
    height: 50px;
    align-self: flex-end;
  }
}

.jportal-navigation {
  display: flex;

  A.jportal-navigation-item {
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: lighten(#293a48, 10%);
    }
  }

  .jportal-navigation-item {
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;

    &:before {
      font-family: icomoon;
      content: '\edbe';
      height: 20px;
      line-height: 20px;
      margin-right: 8px;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.52);
    }

    &:first-child {
      margin-left: 0;

      &:before {
        content: '';
        display: none;
      }
    }
  }
}

.jportal-sidebar-opener {
  display: none;
}

.jportal-block-line {
  .clearfix();
  display: flex;
  padding: 15px 0;
  position: relative;
}
/*  Jportal block */

.jportal-block {
  height: 100%;
  transition: width 200ms ease-in;
  position: relative;

  &.jportal-block-overlay-edition {
    > .jportal-jblock-header {
      background-color: @jalios-color-cyan-deep!important;
      color: white;
    }
  }

  &.no-jblock-transition {
    transition: none;
  }

  &.is-portlet-selection > .jportal-jblock-header {
    background-color: #e91e63;
    color: white;
  }

  .jportal-block-inner {
    outline: 1px solid #cccccc33;
    min-height: 250px;
    position: relative;
    //background-color: rgba(0, 0, 0, 0.1);
    flex-direction: column;
    padding: 0;
    height: 100%;
    //box-shadow: 3px 4px 9px 0 #c6c6c6;
  }

  > .jportal-block-line > .jportal-block:first-of-type .jportal-block-inner {
    padding-left: 0;
  }

  > .jportal-block-line > .jportal-block:first {
    padding-left: 0;
  }

  > .jportal-block-line > .jportal-block:last-of-type .jportal-block-inner {
    padding-right: 0;
  }

  > .jportal-block-line > .jportal-block:last-of-type {
    padding-right: 0;
  }

  .jportlet {
    .jportlet-title {
      position: relative;
      color: white;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      font-family: embedded-roboto-condensed;
    }
  }

  .ui-resizable-e {
    cursor: e-resize;
    top: 0;
    height: 100%;
  }

  .ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    touch-action: none;
    width: 30px;
    right: -15px;

    &:hover {
      cursor: e-resize;
    }

    &:hover:after {
      background: #999;
      box-shadow: 0 10px 0 #999, 0 20px 0 #999;
    }
    // &:hover:before {
    //   content: "";
    //   width: 1px;
    //   opacity: 0.3;
    //   background-color: #666;
    //   position: absolute;
    //   top: 0;
    //   left: 15px;
    //   bottom:0;
    // }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: -10px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #666;
      box-shadow: 0 10px 0 #666, 0 20px 0 #666;
      transition: all 200ms linear;
      z-index: 2;
    }
  }

  .jportal-jblock-header {
    transition: background-color 200ms linear, color 200ms linear;
    display: flex;
    background-color: #f1f1f1e6;
    color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .jportal-jblock-header-label {
    flex: 1;
    cursor: move;
    font-family: @font-family-condensed;
    font-size: 12px;
    line-height: 37px;
    padding-left: 8px;
    .text-overflow();

    .js-handle {
      margin-right: 10px;
      font-size: @font-size-base;
    }
  }

  .jblock-menu {
    transition: background-color 200ms linear;
    padding: 8px;

    &:hover {
      cursor: pointer;
      background-color: darken(rgba(204, 204, 204, 0.62), 10%);
      transition: background-color 200ms linear;
    }
  }

  .jportal-drop-block {
    background-color: @jalios-color-turquoise;
    opacity: 0;
    position: absolute;
    transition: opacity 200ms linear;
    z-index: 2;

    &.jblock-drag-over {
      opacity: 1;
    }

    &.drop-top {
      top: 0;
      left: @block-padding-size;
      right: @block-padding-size;
      height: @block-padding-size;
    }

    &.drop-bottom {
      bottom: 0;
      left: @block-padding-size;
      right: @block-padding-size;
      height: @block-padding-size;
    }

    &.drop-left {
      top: 0;
      left: 0;
      width: @block-padding-size;
      bottom: 0;
    }

    &.drop-right {
      width: @block-padding-size;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &.drop-center {
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  .jportal-block-body {
    flex: 1;
  }

  .block-handle {
    border: 1px solid black;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;

    &:hover {
      cursor: move;
    }
  }

  .block-insert {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 45px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #369e2f;
  }

  > .block-create-right,
  > .block-create-left {
    opacity: 0;
    position: absolute;
    top: 50%;
    font-size: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  > .block-create-right {
    right: 0;
  }

  > .block-create-left {
    left: 0;
  }

  &:hover {
    > .block-create-left {
      opacity: 1;
    }

    > .block-create-right {
      opacity: 1;
    }
  }
}
/* Block drag&drop */

.jblock-helper {
  &::before {
    color: white;
    content: '\ed5d';
    font-family: 'icomoon';
    font-size: 16px;
  }
  background-color: @jportal-main-theme-color;
  border-radius: 50%;
  font-weight: normal;
  font-style: normal;
  height: 48px;
  width: 48px;
  z-index: 3000;
  line-height: 48px;
  text-align: center;
  opacity: 0;

  &.jblock-helper-clone {
    opacity: 1;
  }
}
/*  Jportal block main : the highest block containing all other blocks */

.jblock-structured-footer,
.jblock-structured-header {
  padding: 0;
}

.jportal-block-main {
  //background-color: #f1f1f1;
  padding: 0;
  margin-top: 20px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.35);

  > .jportal-block-inner > .jportal-block-line > .jportal-block:first-child {
    padding-left: 0;
  }

  > .jportal-block-inner > .jportal-block-line > .jportal-block:first-child {
    padding-right: 0;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  &:after,
  &:before {
    content: '';
    border: 1px dashed rgba(255, 255, 255, 0.35);
    position: absolute;
    top: 0;
    bottom: 0;
  }

  > .jportal-block-inner {
    border: 2px dashed #ccc;
    box-shadow: initial;
  }
}

.jportal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 200ms ease-in;
  background-color: white;
  display: flex;
  z-index: 1038;
  justify-content: center;

  &.is-first-load {
    z-index: 4000;
  }

  &.is-active {
    opacity: 1;
    transition: opacity 0s;
  }
}

.topbar-wrapper {
  top: @jportal-topbar-height;
}

.jportal-editor-sidebar.sidebar-component {
  top: @jportal-topbar-height;
  bottom: 0;
  background-color: #e8e8e8;
}

.topbar-placeholder {
  height: @jportal-topbar-height+ @topbar-height;
}

BODY.jportal-overlay-active {
  overflow-y: hidden;
}

BODY.jportal-preview-active {
  overflow-y: hidden;
}

BODY.jportal-history-active {
  overflow: hidden;
}

BODY.is-jportal-sidebar-opened {
  .jportal-wrapper {
    left: @sb-site-width;
    margin-bottom: 0;
  }

  .topbar-wrapper {
    margin-left: 550px;
  }

  .jportal-editor-sidebar.sidebar-left {
    left: 0;
  }

  .jportal-sidebar-pull-open {
    display: none;
  }

  .jportal-sidebar-pull-close {
    display: flex;
  }

  .jportal-sidebar-pull-toggler {
    left: @sb-site-width;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

.jportal-editor-sidebar.sidebar-left.jportal-sidebar-component {
  transition: left 200ms ease-in;
  left: -@sb-site-width;
  transform: initial;
  z-index: 500;

  .jportlet-sidebar {
    height: 100%;
    background-color: #e8e8e8;
  }
}

.jportal-wrapper {
  transition: left 200ms ease-in;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: @jportal-topbar-height;
  bottom: 0;
  overflow-y: auto;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  &.is-topbar-displayed {
    top: @jportal-topbar-height+ @topbar-height;
  }

  .jportal-wrapper-inner {
    transition: width 200ms ease-in;

    &.container-fluid {
      width: 100%;
    }
  }

  .jportal-wrapper-inner > .row {
    > .jportal-block-line {
      padding-top: 0;
    }
  }
}

.jportal-sidebar-pull-open {
  display: flex;
}

.jportal-sidebar-pull-close {
  display: none;
}

.topbar-wrapper {
  transition: margin-left 200ms ease-in;

  .topbar {
    position: absolute;
    box-shadow: 2px 3px 1px 0 rgba(155, 155, 155, 0.8);
  }
}

.jportal-portlet-creation {
  padding-bottom: 20px;
}

.jblock-device-conditions,
.jblock-languages-conditions {
  LABEL {
    display: block;
  }
}

.jportal-wrapper.is-jportal-style-mode {
  .jportal-drop-block,
  .jportal-jblock-header {
    display: none;
  }

  .jportal-block-line {
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
  }
  //
  // .jportal-block:hover {
  //   > .jportal-jblock-header {
  //     display: flex;
  //     // padding: 0;
  //   }
  //   border: 1px dashed #f8f8f8;
  // }
  .jportal-block-inner {
    border: 0 none;
  }
}

.tooltip {
  z-index: 20000;
}

.jportal-wrapper.is-edition-mode .portlet-header-actions-menu {
  display: block;;
}
