.box-edition {
  margin-bottom: 20px;
  width: 431px;
  height: 350px;
  border: 1px solid #EEE;
  margin: 0 auto 20px;
  position: relative;
}

.box-edition-margin {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #59D5E1;
}

.box-edition-border {
  @box-edition-inner-padding: 80px;
  position: absolute;
  left: @box-edition-inner-padding;
  right: @box-edition-inner-padding;
  top: @box-edition-inner-padding;
  bottom: @box-edition-inner-padding;
  /* background-color: red; */
  border: 2px solid #fff;

  .box-edition-top-left-corner {
    position: absolute;
    top: -16px;
    left: -16px;

    INPUT {
      border-top-left-radius: 20px;
    }
  }

  .box-edition-top-right-corner {
    position: absolute;
    top: -16px;
    right: -16px;
  }

  .box-edition-bottom-left-corner {
    position: absolute;
    bottom: -16px;
    left: -16px;
  }

  .box-edition-bottom-right-corner {
    position: absolute;
    bottom: -16px;
    right: -16px;
  }

  > .box-edition-field {
    z-index: 1;
  }

  > .box-edition-corner-left {
    top: -20px;
    left: 36px;
  }
  @currentPosition: -20px;

  .box-edition-left {
    left: @currentPosition;
  }

  .box-edition-right {
    right: @currentPosition;
  }

  .box-edition-top {
    top: @currentPosition;
  }

  .box-edition-bottom {
    bottom: @currentPosition;
  }
}

.box-edition-padding {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #00ADB8;
  @currentPosition: 45px;

  .box-edition-left {
    left: 64px;
  }

  .box-edition-right {
    right: 64px;
  }

  .box-edition-top {
    top: @currentPosition;
  }

  .box-edition-bottom {
    bottom: @currentPosition;
  }

  .box-edition-corner-left {
    top: 24px;
  }
}

.box-edition-field {
  width: 40px;

  INPUT {
    padding: 0;
    text-align: center;
  }
}

.box-edition-corner-left {
  top: 12px;
  left: 38px;
  color: white;
  position: absolute;
}

.box-edition-left {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.box-edition-right {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.box-edition-top {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.box-edition-bottom {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
