@import '../../../../css/jalios/core/init-mixins';

.jportal-wrapper .container-fluid.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.jportal-wrapper .container.centered >.row{
  margin-right: -15px;
  margin-left: -15px;
}

.jportal-wrapper .jblock-portlet {
  position: relative;
}

.jportal-block-inner .Portlet {
   margin-bottom: @jportal-portlet-margin-bottom;
}

@media (min-width: @screen-md-min) {
  .jportal-wrapper.is-publication-displayed .selection-body {
    padding-right: 60px;
  }

  .jportal-structured-footer,
  .jportal-structured-header,
  .jportal-wrapper {
    padding-left: 0;
    padding-right: 0;

    .row {
      margin-right: 0;
      margin-left: 0;
    }

    .row {
      > .jportal-block:last-child {
        padding-right: 0;
      }

      > .jportal-block:first-child {
        padding-left: 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .jportal-wrapper .row > .jportal-block {
    padding: 0;
  }
  .jportal-wrapper .row {
    margin: 0;
  }
}

.jportal-add-portlet-modal .filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;  
  .input-wrapper-type {
    min-width: 240px;
  }
}