.browser-IE11 .jportal-editor-sidebar .sidebar-body {
  height: calc(~'100%' - @sb-tabbed-header-height);
}

.jportal-sidebar-component.sidebar-component {
  overflow-y: hidden;
  background-color: white;
  height: initial;

  .sidebar-tab-content {
    position: relative;
  }
}

.jportal-editor-sidebar .sidebar-body {
  position: relative;
  background-color: #e8e8e8;
}

.jportal-editor-sidebar {
  .filters {
    display: flex;
    gap: 16px;
    .form-group {
      width: 50%;
      flex-shrink: 0;
    }
  }
  .abstract-portlet-fields {
    display: none;
  }
  
  .jportal-sidebar-header {
    font-size: 48px;
  }


  .jportal-sidebar-opener {
    top: 85px;
  }

  .sidebar-header-icon {
    A {
      text-decoration: none;
      cursor: pointer;
      padding: 8px;
      &:hover {
        .jalios-icon {
          color: darken(white, 20%);
        }
      }
    }
  }

  .jportlet-ui-position {
    .jalios-input-group {
      max-width: 55px;
    }
  }

  &.sidebar-tabbed {
    .sidebar-header-icon {
      background-color: @jalios-color-pink;

      > A {
        display: flex;
      }

      .jalios-icon {
        vertical-align: super;
      }
    }

    .sidebar-tabs {
      > LI.active A {
        background-color: #e8e8e8;

        &:hover {
          background-color: #e8e8e8;
        }
      }
    }
  }

  .btn-back {
    position: absolute;
    top: 8px;
    left: 14px;
    color: #666;
    font-size: 24px;
  }
  // .tab-pane {  //   position: relative;
  // }
  .sidebar-close {
    z-index: 1;
  }

  .jportal-component-type {
    font-family: embedded-roboto-condensed;
    font-weight: @font-weight-light;
    font-size: 18px;
    margin-bottom: 16px;
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }
  }

  .jportal-component-type-wrapper:last-child {
    margin-bottom: 40px;
  }

  .jportal-component {
    display: flex;
    flex-direction: column;

    .card-body {
      padding: 0;

      &:first-child,
      &:last-child {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .jportal-component-overlay {
      opacity: 0;
      transition: opacity 200ms ease-in;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 48px;
      color: #999;
      cursor: pointer;
    }

    &.is-draggable {
      cursor: grab;
    }

    .jportal-component-icon {
      object-fit: cover;
      width: 100%;
    }

    .jportal-component-icon-colored {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 200ms ease-in;
    }

    &.jportal-component-portlet {
      .card-img {
        object-fit: cover;
        height: 100px;
      }
      .jportal-component-label {
        justify-content: inherit;
        height: auto;
        padding-top: 16px;
        margin-bottom: 16px;
      }
    }

    .jportal-component-right-icon {
      opacity: 0;
      font-size: 32px;
      color: #c5c5c5;
      transition: opacity 200ms ease-in;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }

    .jportal-component-label {
      font-size: 16px;
      display: block;
      text-align: center;
      margin: 0;
      color: #333;
      font-weight: 500;
      font-family: @font-family-condensed;
      height: 56px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      line-height: 18px;
    }
    .metadata {
      font-size: 12px;
      color: #666;
    }
  }
}

.sidebar-close {
  z-index: 1;
}
// .jportlet-editor-sidebar .nav-tabs > LI > A {
//   background-color: #f0f0f0;
// }

.jportlet-sidebar {
  background-color: white;
  display: flex;

  .sidebar-body {
    width: 100%;
  }
}

.jportlet-editor-sidebar .buttons {
  position: fixed;
  bottom: 0;
  background-color: #4bccea;
  left: 56px;
  right: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  text-align: right;
  padding-right: 16px;
}

.sidebar-subtitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  display: block;
  transition: margin-bottom 200ms ease-in;
  color: inherit;
  position: relative;

  .caret {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &.collapsed {
    margin-bottom: 0;
  }
}

.form-group LABEL {
  font-weight: 500;
}

.jportal-sidebar-group {
  background-color: white;
  padding: 10px 10px 20px;
  border-radius: 4px;
  margin-bottom: 20px;

  &.is-accordion {
    padding: 0;

    .sidebar-subtitle {
      padding: 10px;
      margin-bottom: 0;
    }

    .sidebar-collapsed-group {
      padding: 10px;
    }
  }

  .sidebar-collapsed-group {
    .jportal-sidebar-group {
      padding: 0;
    }
  }

  .form-group:last-child {
    margin-bottom: 0;
  }

  &.jportal-sidebar-group-separated {
    .form-group {
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 16px;

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }

    .jportal-front-files-uploader {
      .form-group {
        border-bottom: none;
      }
      .widget .grip {
        display: none !important;
      }
      .front-files-validate-wrapper {
        display: flex;
        flex-direction: row-reverse;
        .btn-primary {
          display: block !important;
        }
      }
    }
  }
}

.no-display-table {
  .input-group-addon,
  .input-group-btn {
    display: inline-block !important;
  }
}

.input-group.input-group-chained {
  display: flex;
  width: 100%;

  .form-control {
    margin-left: -1px;
    flex-basis: 20%;
    text-align: center;
    min-width: 0;
    display: inline-block;

    &:first-child {
      margin-right: 0;
    }
  }

  .input-group-addon {
    flex-basis: 20%;
    position: relative;

    &.is-chained {
      background-color: #eeeeee;

      .jportal-sidebar-chained-unlink {
        display: none;
      }

      .jportal-sidebar-chained-link {
        display: block;
      }
    }

    .jportal-sidebar-chained-link {
      display: none;
    }

    .jportal-sidebar-chained-unlink {
      display: block;
    }

    LABEL {
      width: 100%;
      line-height: 15px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    input {
      display: none;
    }
    background-color: white;
  }
}

.template-wrapper SELECT.form-control {
  float: none;
}

.template-wrapper .template-image {
  max-width: 144px;
}

.jportal-sidebar-home-link {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
}

.sidebar-body .buttons {
  text-align: right;
  margin-bottom: 10px;

  .ctxLangForm {
    float: left;
  }
}

.jportal-sidebar-group .widget-content LABEL {
  font-weight: normal;
}

.jportal-sidebar-pull-toggler {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 32px;
  height: 64px;
  background-color: @jportal-main-theme-color;
  justify-content: center;
  align-items: center;
  display: flex;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 2px 1px 6px 1px rgba(0, 0, 0, 0.22);
  transition: all 200ms ease-in;
  z-index: 10;
  opacity: 1;

  &:hover > .jalios-icon {
    color: white;
  }
  cursor: pointer;

  > A {
    text-decoration: none;
    font-size: 18px;
    color: white;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .jportal-sidebar-pull-open {
    display: flex;
  }

  .jportal-sidebar-pull-close {
    display: none;
  }

  &:hover {
    background-color: lighten(@jportal-main-theme-color, 10%);
  }
}

.browser-IE11 .jportal-component {
  height: 200px;
}

.jportal-sidebar .card.jportal-component {
  .card-img {
    height: 100px;
    margin-bottom: 0;
  }
  
}

.jportal-sidebar .card-count-2.card-responsive-layout[max-width~='480px'] > .card {
  flex-basis: calc(~'50%' - @card-responsive-layout-gutter-double) !important;
}
