// Include variables and mixins
@import '../../init-mixins.less';

.publication-related {
  H2 {
    border-bottom: 1px solid #EEE;
    padding-bottom: 4px;
    margin-bottom: 24px;
    font-family: @font-family-condensed;
    font-size: 24px;
  }

  .card-related {
    width: 160px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;

    .card-image {
      IMG {
        width: 160px;
        height: 90px;
        object-fit: cover;
        image-rendering: -webkit-optimize-contrast; // https://stackoverflow.com/questions/37906602/blurry-downscaled-images-in-chrome
      }
      margin-bottom: 10px;
    }

    .card-date {
      color: #AAA;
      font-family: @font-family-condensed;
    }

    .card-title {
      font-weight: 500;
      font-family: @font-family-condensed;
      color: @text-color;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}