@import "../../../../../css/jalios/core/init-mixins";

.preview-list-item {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  &.is-lead {
    flex-direction: column;
    flex-basis: 150px;
    .preview-list-picture{
      margin-bottom: 15px;
      IMG{
        max-height: 150px;
      }
    }
  }
  
  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  .preview-list-title {
    font-family: @font-family-condensed;
    font-size: @font-size-large;
    font-weight: @font-weight-bold;
    color: #333;
  }

  .preview-list-abstract {
    color: #999;
    margin-bottom: 10px;
  }

  .preview-list-meta {
    margin-bottom: 10px;
    font-size: @font-size-small;
    color: #999;
  }

  .preview-list-picture {
    flex: 0 0 100px;
    margin-right: 10px;
    display: flex;
    position: relative;

    A {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
    }

    IMG {
      object-fit: cover;
      width: 100%;
      max-height: 60px;
    }
  }
}
