/* ----------------------------------------------- */
/*  ADMIN NOTES                                    */
/* ----------------------------------------------- */

#admin-notes {
  z-index: @zindexAdminNotes;
  position: absolute;
  top: 85px;
  right: 10px;
  
#admin-notes-unsaved-message {
  display: flex;
}
  
  #admin-notes-title {
    width: 500px;
    background-color: #F9EE6A;
    color: black;
    padding: 5px 10px;
    font-size: @font-size-base - 1;
    line-height: @baseline - 1;

    .admin-notes-minimize {
      opacity: 0.2; 
    }
    
    A { 
      float: right;
      color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 5px;
      height: 19px;
    }
    #admin-notes-save {  
      font-size: @font-size-base - 2;
      line-height: @baseline - 2;
      display: block;
      float: none;
    }
  }
  
  #admin-notes-content {
    background-color: #FFFF99;
    width: 500px;
    padding: 10px;
    FORM { 
      margin: 0; 
      display: flex;
    }
    TEXTAREA {
      width: 500px;
      height: 300px; 
      .box-shadow(none);
      border:0;
      padding: 0;
      background-color: #FFFF99;
      color: black;
      font-size: @font-size-base - 1;
    }
  }
}