/* ----------------------------------------------- */
/*  Specific code for viewQuota.jsp                */
/* ----------------------------------------------- */

.quota-site {
	.quota-site-title{
	    padding-left:10px;
	}
	.quota-site-element{
	    float:left;
	    padding-left:10px;
	}
	.quota-site-gauge{
	    float:left;
	    width:200px;
	    padding-left:10px;
	}
	.listBorder{
	    clear:both;
	}
}