/* ----------------------------------------------- */
/*  DIFF / VERSION                                 */
/* ----------------------------------------------- */


span.diff-add    { background-color: #FFDD88; }
span.diff-remove { background-color: #99DD99; text-decoration: line-through; }
.no-change, .no-change A    {color: #AAAAAA; }
.diff-wysiwyg   {
  background-color: #FFFFFF; 
  margin-top:       3px;
  padding:          3px;
  border:           1px solid #CCCCCC;
}

#version .main-actions {
  display: none;
}