
/*
 Why 2 selectors? Rules with or without .wrapper-photo (it is not always included in some UIs)
  1. with .wrapper-photo selector ".wrapper-photo .initials" or ".wrapper-photo .photo"
  2. no .wrapper-photo selector ".initials-photo.initials"
*/

.wrapper-photo .initials,
.initials-photo.initials {
  font-family: @font-family-condensed;
  align-items: center;
  color: @initials-color;
  display: inline-flex;
  justify-content: center;
  // Default bg color
  background-color: @jalios-color-blue-deep;
}

// Override
.table-data .wrapper-photo.initials-photo A {
  color: @initials-color;
}
.wrapper-photo {
  &.initials-photo {
    > A:hover, > A:focus {
      text-decoration: none;
    }
  }
}

// By sizes
.wrapper-photo.icon-photo .photo,
.initials-photo.initials.icon-photo {
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 3px;
}
.wrapper-photo.icon-photo IMG.photo {
  // No padding for real photo
  padding-left: 0px;
  padding-right: 0px;
}

//-------------------------------

.fontsize(@photoSize, @fontsize) {
  .wrapper-photo.@{photoSize}-photo .photo,
  .initials-photo.initials.@{photoSize}-photo {
    font-size: @fontsize;
  }
}
.fontsize(icon, 9px); // for 2 "larges" letters case to still fill in
.fontsize(tiny, 20px);
.fontsize(small, 40px);
.fontsize(normal, 70px);
.fontsize(large, 85px);

//-------------------------------

.lineheight(@photoSize, @lineheight) {
  .wrapper-photo.@{photoSize}-photo .photo,
  .initials-photo.initials.@{photoSize}-photo {
    line-height: @lineheight;
  }
}
.lineheight(icon, @jalios-member-icon-height);
.lineheight(tiny, @jalios-member-tiny-height);
.lineheight(small, @jalios-member-small-height);
.lineheight(normal, @jalios-member-normal-height);
.lineheight(large, @jalios-member-large-height);

//-------------------------------

.size(@photoSize, @w, @h) {
  .wrapper-photo.@{photoSize}-photo .photo,
  .initials-photo.initials.@{photoSize}-photo {
    height: @w;
    width: @h;
  }
}
.size(icon   , @jalios-member-icon-width, @jalios-member-icon-height);
.size(tiny   , @jalios-member-tiny-width, @jalios-member-tiny-height);
.size(small  , @jalios-member-small-width, @jalios-member-small-height);
.size(normal , @jalios-member-normal-width, @jalios-member-normal-height);
.size(large  , @jalios-member-large-width, @jalios-member-large-height);

//-------------------------------

.fontweight(@photoSize, @fontweight) {
  .wrapper-photo.@{photoSize}-photo .photo,
  .initials-photo.initials.@{photoSize}-photo {
    font-weight: @fontweight;
  }
}
.fontweight(small, @font-weight-light);
.fontweight(normal, @font-weight-light);
.fontweight(large, @font-weight-light);
