// Include variables and mixins
@import '../../init-mixins.less';

.PortletIndicator {
  .indicator-link {
    text-align: right;
    color: inherit;
    width: 90%;
    margin-bottom: 16px;
    A {
      color: #666;
    }
  }
}
.indicator-donut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .indicator-chart {
    max-width: 200px;
    margin-bottom: 8px;
    position: relative;  
  }
  
  .indicator-link {
    text-align: right;
    clear: both;
    padding: 10px;
    color: inherit;
  }
  
  .indicator-number {
    text-align: center;
    top       : 50%;
    left      : 0;
    transform : translateY(-50%);
    position  : absolute;
    padding   : 0 10px;
    width     : 100%;
    font-size : 40px;
    font-weight: 500;
    
    A {
      color: @text-color;
      text-decoration: none;
    } 
  }
  
 
  .indicator-text {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .indicator-link {
    width: 100%;
  }
}