/*
As seen on https://codepen.io/zavoloklom/pen/Gubja
*/
@import "../../init-mixins.less";

.js-ripple {
  position: relative;
  overflow: hidden;
  .translate3d(0,0,0);
}
.ripple {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  &.is-centered {
    left: 50%;
    top: 0;
  }
  .scale(0);

  background: rgba(0,0,0,0.1);
  opacity: 1;
}

// animation effect
.ripple.animate {
  .animation(ripple .5s linear);
}

@keyframes ripple {
  100% {
    opacity: 0;
    .scale(2.5);
  }
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    .scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    .scale(2.5);
  }
}
@-ms-keyframes ripple {
  100% {
    opacity: 0;
    .scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    .scale(2.5);
  }
}
