// Include variables and mixins
@import "../../../css/jalios/core/init-mixins.less";  

DIV.embedly {
   overflow: auto;
   
  .thumb {
    float: left;
    margin-right: @line-height-computed;
    margin-bottom: @line-height-computed;
  }
  A {
    font-weight: bold;
  }
  .provider {
    color: gray;
    padding-left: 10px;
    font-weight: normal;
    font-size: smaller;    
  }
  .description {
    margin-top: @line-height-computed / 2;
    font-style: italic;
  }
  
}
