@media screen and (max-width: 480px) {
  .app .app-main {
    flex-basis: 100%;
  }

  .app {
    .app-header {
      padding: 20px 20px 0;
      height: auto;

      .app-sidebar-burger-close {
        display: none;
      }

      > H1 {
        font-size: 24px;
        margin: 0;
        padding: 0;

        .js-toggle-sidebar {
          color: white;
          cursor: pointer;

          &:active {
            color: darken(white, 10%);
          }
        }
      }
    }

    &.is-sidebar-folded-mq .app-sidebar {
      transform: translateX(-100%);
    }
    
    &.app-mobile {
      &.is-sidebar-folded .app-sidebar,
      &.is-sidebar-folded-mq .app-sidebar {
        display: none;
      }
      .sidebar-pull-wrapper {
        display: none;
      }
      .app-sidebar {
        display: block;
      }
    }

    .app-sidebar {
      display: none;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 1000;
      bottom: 0;
      top: 64px;
      transition: transform 200ms ease-in;
      overflow: auto;

      .app-sidebar-burger {
        display: none;
      }

      .js-toggle-sidebar {
        position: absolute;
        /* left: 10px; */
        font-size: 18px;
        top: 45px;
        right: 24px;
        cursor: pointer;

        &:active {
          color: darken(#AAA, 10%);
        }

        > .jalios-icon {
          font-size: 24px;
        }
      }

      FORM {
        width: 100%;
      }

      &.is-sidebar-opened {
        display: block;
        transform: translateX(0);
        overflow: auto;
      }
    }

    .app-body {
      .app-pub-wrapper.app-pub-wrapper-actions {
        margin-right: 0;
      }

      .app-pub-wrapper .publication-actions {
        display: none;
      }
    }
  }
}