.app-no-results {
  text-align: center;
  padding: 32px;
  
  IMG {
    margin-bottom: 20px;
  }
  
  P, DIV {
    margin-bottom: 20px;
  }
  
  P {
    color: #333;
    font-size: @font-size-large;
    line-height: floor((@font-size-large * @line-height-base));
  }

  .app-no-result-icon {
    font-size: 48px;
    color: #CCC;
    margin-bottom: 20px;
    height: 200px;
  }

}
