/* App body */
.app .app-body {
  
  .app-cards-horizontal-wrapper {
    max-width: @app-body-content-max-width;
    margin-left: auto;
    margin-right: auto;
  }  
  .app-body-content {
    max-width: @app-body-content-max-width;
    margin-left: auto;
    margin-right: auto;
    .app-cards-horizontal-wrapper {
      max-width: initial;
      margin: initial;
    }
  }
  
  .table-data {
    background-color: white;
  }

  .navbar-table-header {
    background-color: white;
    &.navbar-default {
      margin-bottom: 0;
    }
  }
  
  .navbar-default {
    background-color: @app-body-navbar-bgcolor;
    border-color: @app-body-navbar-border-color;
    margin-bottom: 16px;
    min-height: 34px;
    
    .form-group input,
    .form-group select {
      margin-left: 8px;
      margin-right: 8px;
    }
    
    .form-group .input-group {
      input,
      select {
        margin-left: 0;
        margin-right: 0;
      }
      margin-left: 8px;
      margin-right: 8px;
    }
    
    .datepicker-wrapper.is-date-only {
      .form-control {
        max-width: 104px;
      }
    }
    
    .container-fluid + .container-fluid {
      margin-top: 8px;
      margin-bottom: 8px;
    }
    
    .navbar-brand {
      color: @text-color;
      padding: 8px 6px 8px 0;
      height: 34px;    
      margin-left: 0;
    }   
    .navbar-text {
      color: #777;
      padding: 6px 16px;
      height: 34px;
      margin: 0 8px 0 8px;
      line-height: 22px;
    }
    
    .navbar-btn {
      margin: 0;
    }    
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    .navbar-form {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
      &.navbar-left {
        margin-left: 0;
        padding-left: 0;
      }
    }
    
    .navbar-nav > li > button,
    .navbar-nav > li > A {
      padding-top: 7px;
      padding-bottom: 7px;
      line-height: 20px;
      background-color: transparent;
      transition: background-color 200ms ease-in;
      border-radius: 4px;
      border-color: transparent;
      border-width: 0px;
    }
    
    .navbar-nav > li > button:hover,
    .navbar-nav > li > button:focus,
    .navbar-nav > li > a:hover, 
    .navbar-nav > li > a:focus {
      background-color: rgba(222,222,222,0.5);
    }
    
    .navbar-nav > li > button:focus-visible,
    .navbar-nav > li > a:focus-visible {
      outline: 2px solid black;
    }
  }
}