.app-sidebar-treecat {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  UL {
    list-style: none;
    padding-left: 0;
  }

  LABEL {
    padding: 3px 20px 5px;
    transition: background-color 200ms ease-in, color 200ms ease-in;
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 0;
    position: relative;
  }

  LI.active > LABEL {
    background-color: @app-sidebar-selection;
    color: @app-sidebar-color-active;
    &:hover {
      color: ~'var(--app-sidebar-active-text-color)';
    }
  }

  LI > LABEL {
    display: block;
    padding-left: @app-sidebar-horizontal-padding;
  }

  > LI > UL > LI > LABEL {
    padding-left: @app-sidebar-horizontal-padding*2;
    > UL > LI > LABEL {
      padding-left: @app-sidebar-horizontal-padding*3;
      > UL > LI > LABEL {
        padding-left: @app-sidebar-horizontal-padding*4;
        > UL > LI > LABEL {
          padding-left: @app-sidebar-horizontal-padding*5;
          > UL > LI > LABEL {
            padding-left: @app-sidebar-horizontal-padding*6;
            > UL > LI > LABEL {
              padding-left: @app-sidebar-horizontal-padding*7;
              > UL > LI > LABEL {
                padding-left: @app-sidebar-horizontal-padding*8;
                > UL > LI > LABEL {
                  padding-left: @app-sidebar-horizontal-padding*9;
                }
              }
            }
          }
        }
      }
    }
  }

  INPUT {
    display: none;
  }
}
