:root {
  --app-sidebar-bg-color: #eee;
  --app-sidebar-text-color: #333;
  --app-sidebar-icon-color: #666;
  --app-sidebar-active-text-color: white;
  --app-sidebar-active-bg-color: #009ef5;
  --app-sidebar-btn-default-color: #333;
  --app-sidebar-btn-primary-color: white;
  --app-sidebar-select-default-color: #333;
  --app-sidebar-select-down-arrow-svg: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3e%3cpath%20fill='none'%20stroke='%23343a40'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='2'%20d='M2%205l6%206%206-6'/%3e%3c/svg%3e");
  --app-sidebar-section-title-color: #333;
  --app-sidebar-section-list-sub-child-bg-color: var(--app-sidebar-bg-color);
  --app-sidebar-section-list-sub-child-color: #333;
  --app-sidebar-pull-wrapper-bg-color: #eee;
  --app-sidebar-input-bg-color: white;
  --app-sidebar-input-bg-color-has-value: white;
  --app-sidebar-input-placeholder-color: #999;
  --app-sidebar-input-default-btn-bg-color: white;
  --app-sidebar-input-default-btn-bg-color-hover: #f9f9f9;
  --app-sidebar-input-primary-btn-bg-color: #009ef5;
  --app-sidebar-input-primary-btn-bg-color-hover: #0384ca;
  --app-sidebar-input-primary-btn-group-bg-color: white;
  --app-sidebar-input-primary-btn-group-bg-color-hover: #e7e7e7;
}
[data-theme='dark'] {
  --app-sidebar-bg-color: #293a48;
  --app-sidebar-text-color: #ccc;
  --app-sidebar-icon-color: #ccc;
  --app-sidebar-btn-default-color: white;
  --app-sidebar-section-title-color: white;
  --app-sidebar-section-list-sub-child-bg-color: #3a5165;
  --app-sidebar-section-list-sub-child-color: white;
  --app-sidebar-pull-wrapper-bg-color: #293a48;
  --app-sidebar-input-bg-color: #3d5263;
  --app-sidebar-input-default-btn-bg-color: #3d5263;
  --app-sidebar-input-default-btn-bg-color-hover: #354857;
  --app-sidebar-input-placeholder-color: white;
  --app-sidebar-select-default-color: white;
  --app-sidebar-select-down-arrow-svg: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3e%3cpath%20fill='none'%20stroke='white'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='2'%20d='M2%205l6%206%206-6'/%3e%3c/svg%3e");
}
.cs-portal {
  --app-sidebar-bg-color: #eee;
  --app-sidebar-text-color: #333;
  --app-sidebar-icon-color: #666;
  --app-sidebar-btn-default-color: #333;
  --app-sidebar-select-default-color: #333;
  --app-sidebar-section-title-color: #333;
  --app-sidebar-section-list-sub-child-bg-color: #9cdcff;
  --app-sidebar-section-list-sub-child-color: #333;
  --app-sidebar-pull-wrapper-bg-color: #eee;
  --app-sidebar-input-bg-color: white;
  --app-sidebar-input-bg-color-has-value: white;
  --app-sidebar-input-placeholder-color: #999;
  --app-sidebar-input-default-btn-bg-color: white;
  --app-sidebar-input-default-btn-bg-color-hover: #e7e7e7;
  --app-sidebar-input-primary-btn-bg-color: #009ef5;
  --app-sidebar-input-primary-btn-bg-color-hover: #0384ca;
  --app-sidebar-select-down-arrow-svg: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3e%3cpath%20fill='none'%20stroke='%23343a40'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='2'%20d='M2%205l6%206%206-6'/%3e%3c/svg%3e");
}
