/* App sidebar */

.app-header {
  padding: @app-baseline-half @app-baseline-half 0 @app-baseline;
  background-color: @app-header-bgcolor;
  color: @app-header-color;
  position: relative;
  min-height: @app-header-height;
  @media (min-width: @app-lg-min) {
    padding: 32px 16px 0 32px;
  }

  &.has-no-tabs {
    padding: 4 * @app-baseline @app-baseline 0 2 * @app-baseline;
  }

  H1 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 40px;
    font-family: @font-family-condensed;
    font-weight: 300;
    @media (min-width: @app-lg-min) {
      margin: 0;
      padding-bottom: 38px;
      padding-top: 0;
    }
  }

  .nav-tabs {
    border-bottom: 0;
    margin-bottom: 0;
    padding: 0;

    > LI {
      margin-bottom: 0;

      > A {
        color: @app-header-color;
        font-size: 16px;
        transition: all 200ms ease-in;
        padding: 14px 15px;
        border: 0 none;
        opacity: 0.6;

        &:active,
        &:focus,
        &:hover {
          opacity: 1;
          background-color: rgba(25, 25, 25, 0.25);
          border-radius: 0;
          border: 0 none;
          color: white;
        }
      }

      &.active > A {
        background-color: transparent;
        opacity: 1;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          height: 4px;
          width: 100%;
          left: 0;
          background-color: white;
        }
      }
    }

    .tabdrop .dropdown-menu A {
      color: #333333;
    }
  }

  .publication-actions {
    .collapse-action-wrapper {
      .jalios-icon {
        font-size: @icon-size;
        color: @app-header-color;
      }
    }
  }
}
