/* App layout */
.app {
  display: flex;
  width: 100%;

  &.has-no-sidebar {
    .app-main {
      flex-basis: 100%;
    }
  }

  .sidebar-pull-wrapper {
    position: absolute;
    width: 18px;
    height: 56px;
    cursor: pointer;
    top: 60px;
    left: 0;
    z-index: 1;

    &:focus-visible {
      outline: 2px solid black;
    }

    .sidebar-pull-shape {
      fill: ~'var(--app-sidebar-pull-wrapper-bg-color)';
    }

    > .sidebar-pull-handle {
      fill: ~'var(--app-sidebar-text-color)';
      width: 6px;
      height: 2px;
    }
  }

  &.is-toggleable-app {
    .app-sidebar {
      min-width: 0;
    }
  }

  &.is-sidebar-folded {
    .app-sidebar {
      flex-basis: 0%;
      overflow: hidden;
    }

    .app-main {
      flex-basis: 100%;
    }
  }

  .app-sidebar {
    transition: flex-basis 500ms ease-in-out;
    min-height: calc(~"100vh" - @topbar-height);
    flex-basis: percentage(4/12);
    @media (min-width: @screen-sm-min) {
      flex-basis: @app-sidebar-sm-width;
    }
    @media (min-width: @screen-md-min) {
      flex-basis: @app-sidebar-md-width;
    }
    @media (min-width: @screen-lg-min) {
      flex-basis: @app-sidebar-lg-width;
    }
    vertical-align: top;
    background-color: ~'var(--app-sidebar-bg-color)';
  }

  .app-main {
    transition: flex-basis 500ms ease-in-out;
    min-width: 0; // FIX for JCMS-7073
    min-height: calc(~"100vh" - @topbar-height);
    flex-basis: @app-body-width;
    position: relative;
    
    @media (min-width: @app-sm-min) {
      flex-basis: @app-body-sm-width;
    }
    @media (min-width: @app-md-min) {
      flex-basis: @app-body-md-width;
    }
    @media (min-width: @app-lg-min) {
      flex-basis: @app-body-lg-width;
    }
    background-color: @app-body-bgcolor;
    vertical-align: top;

    .app-body {
      padding: @app-baseline;
      position: relative;
      @media (min-width: @app-lg-min) {
        padding: 2 * @app-baseline @app-baseline 3 * @app-baseline 2 * @app-baseline;
      }
      
      &:focus {
        outline: none;
      }
    }
  }
}

// Full height handling :
.app-full-viewport-height {
  height: calc(~'100vh' - @topbar-height);
}


.cs-portal .app .app-sidebar-pull {
  top: 28px;
}
.zone_WorkArea, 
.zone_AdminArea {
  .app .app-sidebar-pull {
    top: 14px;
  }
}
