.browser-IE11 {
  .app .app-sidebar-pull .sidebar-pull-shape {
    fill: #eee;
  }
  .app .app-sidebar-pull > .sidebar-pull-handle {
    fill: #333;
  }

  .app .app-sidebar {
    background-color: #eee;
  }
  .app .app-sidebar {
    color: #333;
  }
  .app .app-sidebar A {
    color: #333;
  }
  .app .app-sidebar A .jalios-icon {
    color: #333;
  }
  .app .app-sidebar .app-sidebar-section .app-sidebar-section-title {
    color: #333;
  }

  .app .app-sidebar .app-sidebar-section .app-sidebar-section-title.active {
    color: white;
  }
  .app .app-sidebar .app-sidebar-section .app-sidebar-section-title.active .jalios-icon,
  .app .app-sidebar .app-sidebar-section .app-sidebar-section-title.active A {
    color: white;
  }
  .app .app-sidebar .app-sidebar-section .app-sidebar-section-title > A {
    color: #333;
  }
  
  .app-sidebar .input-group-btn .btn.btn-default {
    background-color: white;
    border-radius: 0;
    border-color: white;
  }
  
  .app-sidebar .input-group-btn .btn.btn-primary {
      background-color: white;
      border-radius: 0;
      border-color: white;
  }

  .app-sidebar .widget input[type='text'] {
    background-color: white;
  }
  
  .app .app-sidebar UL.app-sidebar-menu LI.active A {
    color: #333;
  }
  .app .app-sidebar UL.app-sidebar-menu LI.active .jalios-icon {
    color: white;
  }
  .app .app-sidebar UL.app-sidebar-menu LI.active UL LI A {
    color: #333;
  }
  .app .app-sidebar UL.app-sidebar-menu LI.active UL LI .jalios-icon {
    color: #333;
  }
  .app .app-sidebar UL.app-sidebar-menu LI.active > A {
    color: white;
  }
  .app .app-sidebar UL.app-sidebar-menu LI.active > A .jalios-icon {
    color: white;
  }
  .app .app-sidebar UL.app-sidebar-menu LI.active > .jalios-icon {
    color: white;
  }
  .app .app-sidebar UL.app-sidebar-menu LI:not(.active) > A:hover {
    color: #333;
  }
  .app .app-sidebar UL.app-sidebar-menu > LI UL LI {
    background-color: #9cdcff;
  }
  .app .app-sidebar UL.app-sidebar-menu > LI.active > UL LI {
    color: #333;
  }
  .app .app-sidebar UL.app-sidebar-menu > LI.active > UL LI > A {
    color: #333;
  }
  .app-sidebar .widget SELECT {
    color: #333;
  }
  .app-sidebar .select2-container--bootstrap .select2-selection,
  .app-sidebar SELECT {
    color: #333;
  }
  .app-sidebar .input-group-btn .btn.btn-default .jalios-icon {
    color: #333;
  }

  .app-sidebar .btn.btn-default {
    color: #333;
  }
  .app-sidebar .btn.btn-default .jalios-icon {
    color: #333;
  }
  .app-sidebar .widget.field-enumerate .checkbox.active LABEL,
  .app-sidebar .widget.field-enumerate .radio.active LABEL {
    color: white;
  }
  .app-sidebar .widget.field-enumerate .checkbox.active LABEL:after,
  .app-sidebar .widget.field-enumerate .radio.active LABEL:after {
    color: white;
  }
  .app-sidebar .widget.field-enumerate .checkbox.active LABEL:hover,
  .app-sidebar .widget.field-enumerate .radio.active LABEL:hover {
    color: white;
  }

  .app-sidebar .widget.field-enumerate .checkbox LABEL:hover,
  .app-sidebar .widget.field-enumerate .radio LABEL:hover {
    color: #333;
  }

  .app-sidebar .app-sidebar-menu-formitems LI.active > .control-enumerate > LABEL {
    color: white;
  }
  .app-sidebar .app-sidebar-menu-formitems LI.active > .control-enumerate > LABEL .jalios-icon {
    color: white;
  }
  .app-sidebar .app-sidebar-menu-formitems LI.active > UL > LI LABEL {
    color: #333;
  }

  .app-sidebar .app-sidebar-menu-formitems LI.active > LABEL {
    color: white;
  }
  .app-sidebar .app-sidebar-menu-formitems LABEL {
    color: #333;
  }
  .app-sidebar .app-sidebar-menu LI.active:after {
    color: white;
  }
  .app-sidebar .app-sidebar-menu.app-sidebar-treecat LI.active > LABEL:after {
    color: white;
  }
}
