/* ----------------------------------------------- */
/*  TOPBAR Alert Menu  Items                       */
/* ----------------------------------------------- */
@import "../../../core/init-mixins.less";

.topbar-alert-menu {
  position: relative;
}

.topbar-alert-menu-dropdown {
  .topbar-ctxmenu-body {
    position: relative;
    max-height: 70vh;
    overflow-y: auto;
  }

  .slide-wrapper {
    .list-group {
      &.main-menu {
        transform: translateX(-448px);
      }

      &.child-menu.is-active,
      &.is-active {
        transform: translateX(0);
      }

      &.is-active.is-parent {
        transform: translateX(-448px);
      }

      &.child-menu {
        transform: translateX(448px);
        width: 448px;
      }
    }
  }

  .list-group-item {
    cursor: pointer;

    &.active {
      P A {
        color: white;
      }

      .alert-meta,
      .mark-as-read {
        color: white;
      }

      &:hover {
        background-color: @list-group-active-bg;
      }
    }

    &:hover {
      background-color: #f6f6f7;

      .alert-actions {
        opacity: 1;
      }
    }
    &:last-child {
      border-radius: 0;
    }
  }

  .alert-actions {
    position: absolute;
    right: 10px;
    top: 4px;
    opacity: 0;
  }

  .alert-menu-dropdown {
    .dropdown-menu {
      z-index: 2;
      A {
        cursor: pointer;
      }
    }
  }

  // Second level
  .child-menu .alert-menu-item {
    padding: 0;

    .card {
      .box-shadow(none);
      background-color: transparent;
    }

    .wrapper-photo {
      margin-right: 8px;
    }
  }

  .alert-preview {
    padding: 20px 20px 0;

    .alert-card {
      border: 0 none;
      box-shadow: none;
      padding-top: 0;
      margin-bottom: 0;
      
      
      &:focus-within,
      &:hover {
        .alert-actions {
          opacity: 1;
        }
      }
      .alert-actions {
        position: absolute;
        right: -10px;
        top: -6px;
        .alert-menu-dropdown {
          display: none;
        }
      }
      .alert-body,
      .alert-footer,
      .alert-header {
        padding: 0;
        padding-right: 24px;  
      }
    }

    .alert-card-header-metadata {
      top: -20px;
      right: -20px;
    }
    .card-metadata-item.date {
      right: 0;
    }
  }

  .list-group .list-group-item {
    padding: 16px;
    margin-top: 0;
    position: relative;
    overflow: visible;
    text-overflow: unset;
    white-space: normal;

    .wrapper-photo {
      margin-right: 10px;
    }

    &.alert-menu-item {
      border-left: 10px solid #CCC;
      padding-right: 40px;
      overflow: visible;
    }

    &.alert-menu-item-info {
      border-left-color: @alert-info;
    }

    &.alert-menu-item-warning {
      border-left-color: @alert-warning;
    }

    &.alert-menu-item-action {
      border-left-color: @alert-action;
    }

    .alert-meta {
      color: #90949c;
      font-size: 12px;
    }

    P {
      margin-bottom: 0;
    }

    .media-body > .alert-description > P {
      overflow: hidden;
    }

    .alert-description,
    .alert-message,
    .alert-meta {
      white-space: normal;

      A:not(.btn) {
        color: #666;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }

  .show-alerts-more-items-wrapper {
    position: relative;
  }

  .show-alerts-more-items-wrapper .btn {
    border-radius: 0;
    width: 100%;
    border-left: 0 none;
    border-right: 0 none;
    padding: 8px;
  }
}

.alert-menu-moved.open {
  display: block;
}

.alert-menu-moved {
  A {
    cursor: pointer;
  }
}