.topbar-alert-menu {
  position: relative;
}
.topbar-alert-menu-dropdown .topbar-ctxmenu-body {
  position: relative;
  max-height: 70vh;
  overflow-y: auto;
}
.topbar-alert-menu-dropdown .slide-wrapper .list-group.main-menu {
  transform: translateX(-448px);
}
.topbar-alert-menu-dropdown .slide-wrapper .list-group.child-menu.is-active,
.topbar-alert-menu-dropdown .slide-wrapper .list-group.is-active {
  transform: translateX(0);
}
.topbar-alert-menu-dropdown .slide-wrapper .list-group.is-active.is-parent {
  transform: translateX(-448px);
}
.topbar-alert-menu-dropdown .slide-wrapper .list-group.child-menu {
  transform: translateX(448px);
  width: 448px;
}
.topbar-alert-menu-dropdown .list-group-item {
  cursor: pointer;
}
.topbar-alert-menu-dropdown .list-group-item.active P A {
  color: white;
}
.topbar-alert-menu-dropdown .list-group-item.active .alert-meta,
.topbar-alert-menu-dropdown .list-group-item.active .mark-as-read {
  color: white;
}
.topbar-alert-menu-dropdown .list-group-item.active:hover {
  background-color: #009EF5;
}
.topbar-alert-menu-dropdown .list-group-item:hover {
  background-color: #f6f6f7;
}
.topbar-alert-menu-dropdown .list-group-item:hover .alert-actions {
  opacity: 1;
}
.topbar-alert-menu-dropdown .list-group-item:last-child {
  border-radius: 0;
}
.topbar-alert-menu-dropdown .alert-actions {
  position: absolute;
  right: 10px;
  top: 4px;
  opacity: 0;
}
.topbar-alert-menu-dropdown .alert-menu-dropdown .dropdown-menu {
  z-index: 2;
}
.topbar-alert-menu-dropdown .alert-menu-dropdown .dropdown-menu A {
  cursor: pointer;
}
.topbar-alert-menu-dropdown .child-menu .alert-menu-item {
  padding: 0;
}
.topbar-alert-menu-dropdown .child-menu .alert-menu-item .card {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
.topbar-alert-menu-dropdown .child-menu .alert-menu-item .wrapper-photo {
  margin-right: 8px;
}
.topbar-alert-menu-dropdown .alert-preview {
  padding: 20px 20px 0;
}
.topbar-alert-menu-dropdown .alert-preview .alert-card {
  border: 0 none;
  box-shadow: none;
  padding-top: 0;
  margin-bottom: 0;
}
.topbar-alert-menu-dropdown .alert-preview .alert-card:focus-within .alert-actions,
.topbar-alert-menu-dropdown .alert-preview .alert-card:hover .alert-actions {
  opacity: 1;
}
.topbar-alert-menu-dropdown .alert-preview .alert-card .alert-actions {
  position: absolute;
  right: -10px;
  top: -6px;
}
.topbar-alert-menu-dropdown .alert-preview .alert-card .alert-actions .alert-menu-dropdown {
  display: none;
}
.topbar-alert-menu-dropdown .alert-preview .alert-card .alert-body,
.topbar-alert-menu-dropdown .alert-preview .alert-card .alert-footer,
.topbar-alert-menu-dropdown .alert-preview .alert-card .alert-header {
  padding: 0;
  padding-right: 24px;
}
.topbar-alert-menu-dropdown .alert-preview .alert-card-header-metadata {
  top: -20px;
  right: -20px;
}
.topbar-alert-menu-dropdown .alert-preview .card-metadata-item.date {
  right: 0;
}
.topbar-alert-menu-dropdown .list-group .list-group-item {
  padding: 16px;
  margin-top: 0;
  position: relative;
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
}
.topbar-alert-menu-dropdown .list-group .list-group-item .wrapper-photo {
  margin-right: 10px;
}
.topbar-alert-menu-dropdown .list-group .list-group-item.alert-menu-item {
  border-left: 10px solid #CCC;
  padding-right: 40px;
  overflow: visible;
}
.topbar-alert-menu-dropdown .list-group .list-group-item.alert-menu-item-info {
  border-left-color: #009EF5;
}
.topbar-alert-menu-dropdown .list-group .list-group-item.alert-menu-item-warning {
  border-left-color: #d9534f;
}
.topbar-alert-menu-dropdown .list-group .list-group-item.alert-menu-item-action {
  border-left-color: #F89406;
}
.topbar-alert-menu-dropdown .list-group .list-group-item .alert-meta {
  color: #90949c;
  font-size: 12px;
}
.topbar-alert-menu-dropdown .list-group .list-group-item P {
  margin-bottom: 0;
}
.topbar-alert-menu-dropdown .list-group .list-group-item .media-body > .alert-description > P {
  overflow: hidden;
}
.topbar-alert-menu-dropdown .list-group .list-group-item .alert-description,
.topbar-alert-menu-dropdown .list-group .list-group-item .alert-message,
.topbar-alert-menu-dropdown .list-group .list-group-item .alert-meta {
  white-space: normal;
}
.topbar-alert-menu-dropdown .list-group .list-group-item .alert-description A:not(.btn),
.topbar-alert-menu-dropdown .list-group .list-group-item .alert-message A:not(.btn),
.topbar-alert-menu-dropdown .list-group .list-group-item .alert-meta A:not(.btn) {
  color: #666;
  text-decoration: none;
  font-weight: 600;
}
.topbar-alert-menu-dropdown .show-alerts-more-items-wrapper {
  position: relative;
}
.topbar-alert-menu-dropdown .show-alerts-more-items-wrapper .btn {
  border-radius: 0;
  width: 100%;
  border-left: 0 none;
  border-right: 0 none;
  padding: 8px;
}
.alert-menu-moved.open {
  display: block;
}
.alert-menu-moved A {
  cursor: pointer;
}
/*# sourceMappingURL=jalios-topbar-alert-menu_items.css.map */
