/* ----------------------------------------------- */
/*  TOPBAR Alert Menu                              */
/* ----------------------------------------------- */
@import "../../../core/init-mixins.less";

.topbar-alert-menu-dropdown {
  width: 450px;
  max-width: 450px;

  &.is-closed .topbar-ctxmenu-body {
    min-height: 150px;
  }

  &.is-loading {
    background-color: transparent;

    .topbar-ctxmenu-body {
      overflow: hidden;
      position: relative;
      min-height: 150px;
    }

    .show-alerts-more-items-wrapper {
      visibility: hidden; // Visibility hidden in order to keep space when marking all as read
    }
  }
}

.topbar .topbar-alert-menu .alert-badge {
  &.alert-badge-action {
    background-color: @alert-action;
  }

  &.alert-badge-info {
    background-color: @alert-info;
  }

  &.alert-badge-warning {
    background-color: @alert-warning;
  }

  &.two-digits {
    right: -5px;
  }

  &.three-digits {
    right: -6px;
  }
}

.topbar .topbar-alert-menu {
  // Settings FORM hidden by default
  .member-alert-settings {
    display: none;
    legend {
      border-bottom: 0 none;
      font-size: @font-size-base;
      font-weight: bold;
      margin-bottom: 8px;
    }
  }

  .help-auto-read {
    margin-bottom: 0; // Remove native bottom margin on P tag
  }
  // Settings FORM displayed (hide all (main menu items, child items, main menu no result msg) but the settings FORM)
  &.is-settings-displayed {
    .main-menu > * {
      display: none;
    }

    .main-menu > .member-alert-settings {
      display: block;
    }
  }

  .member-alert-settings-form {
    // Restore some padding due to field-vertical
    padding: 10px 15px;
  }

  .alert-rules-editor,
  .topbar-auto-read {
    padding-left: 20px;
  }

  .topbar-auto-read .jalios-input-group {
    margin-top: -7px;
  }
}