.topbar-warning-menu {
  background: red;
  margin-right: @topbar-baseline*2;
  A.topbar-item {
    padding-top: 14px;
    padding-bottom: 14px;
    &, &:hover {
      color: white;
    }
    @media (max-width: @screen-sm-min) {
      .ctx-caret {
        display: none;
      }
    }    
  }
  .topbar-warning-label {
    font-size: 18px;
    // Label is hidden by default
    display: none;
    margin-left: 5px;
  }
  @media (min-width: @screen-lg-min) {
    .topbar-warning-label {
      // and display if enough width
      display: inline-block;
    }
  }
  
  .js-close-menu {
    float: right;
    padding: 5px 10px;
  }
  .topbar-ctxmenu-body {
    padding: 5px;
  }
  UL.topbar-warning-list {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  .topbar-warning-datawrite {
    .jcms-message.alert-warning {
      // Cancel JcmsMessage style for the "no datawrite message"
      background: none;
      color: inherit;
      border: 0 none;
      padding: 0;
    } 
  }
}
.topbar-menu.topbar-warning-menu-dropdown {
  border: 4px solid red;
  LI {
    padding: 5px 10px;
  
    &.sep {
      border-top: 1px solid #DDD;
    }
    &:firt-child {
      border-top: 0 none;
    }
  }
  LI .alert:last-child {
    margin-bottom: 10px;
  }
}
