@import "../../../core/init-mixins.less";
@media screen and (max-width: @screen-xs-min) {
  .dropdown-menu.topbar-menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 64px;
    max-width: initial;
    width: 100% !important;
    max-width: 100% !important;

    &:after,
    &:before {
      content: initial;
    }
  }
  
  .topbar .topbar-item-wrapper.topbar-caddy-menu,
  .topbar .topbar-item-wrapper.topbar-publish-menu,
  .topbar .topbar-item-wrapper.topbar-admin-menu {
    display: none;
  }
  
  .topbar .topbar-inner {
    padding-left: 8px;
    padding-right: 8px;
  }
  
}
