@import 'init-mixins.less'; /* Work & Admin Areas */
// Fix the spliter full height issue

BODY,
HTML {
  height: 100%;
}

.AdminArea,
.EditArea,
.WorkArea {
  padding: 20px;
}

.full-height {
  height: 100%;
}
@app-body-bottom-height: @admin-bottombar-height + @topbar-height;

TABLE.layout {
  width: 100%;

  TD {
    vertical-align: top;
  }

  .layout-main {
    padding: 0 @baseline;
  }
}
// Provide "disabled" table row
@table-bg-disabled: @input-bg-disabled;
.table-row-variant(disabled; @table-bg-disabled);

tr.disabled,
tr.disabled A {
  color: lighten(@text-color, 50%);
}

.displayWork {
  background-color: #ffffff;
}

.WorkArea.work-displayWork .boTitleInfo {
  float: right;
  padding-left: 2px;
  font-weight: normal;
  font-size: small;
}

#displayWorkIframe {
  border: 0 none;
  width: 100%;
}
// Work Areas Exceptions
// -------------------------------------

.sticky-display {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: visible;
  zoom: 1;
}

.AdminArea,
.EditArea,
.WorkArea {
  &.sticky-display {
    margin: 0;
    padding: 0;
  }
}
// Import Admin app layout
@import 'admin/jalios-admin-app-layout.less'; // Import Admin layout
@import 'admin/jalios-admin-app-sidebar.less'; // Import Admin sidebar
@import 'admin/jalios-admin-breadcrumb.less'; // Import Admin
@import 'admin/jalios-admin-diff.less'; // Import Admin Diff
@import 'admin/jalios-admin-splitter.less'; // Import Admin Splitter
@import 'admin/jalios-admin-tabs.less'; // Import Admin Tabs
@import 'admin/jalios-admin-header.less'; // Import Admin Header
@import 'admin/jalios-admin-box.less'; // Import Admin Box
@import 'admin/jalios-admin-menu.less'; // Import Admin Menu
@import 'admin/jalios-admin-notes.less'; // Import Admin Notes
@import 'admin/jalios-admin-quota.less'; // Import Admin Quota
// -------------------------------------

.portlet-behavior-copy {
  cursor: help;

  &.copy {
  }

  &.ref {
    color: red;
  }

  &.ws {
    color: orange;
  }
}
// Specific code for editWorkspaceInstance
// -------------------------------------

.instance-workflow {
  LABEL {
    display: block;
  }

  &.disabled {
    A {
      display: none;
    }
    cursor: not-allowed;
  }
}

.workflow-instance-form {
  .availableWorkflows,
  .selectedWorkflows {
    min-height: 200px;
    padding-right: 0;
    background-color: @grayLightest;

    &.empty {
      border: 1px dashed @grayLight;
    }
  }

  .group-edit {
    margin-left: 0;
    margin-right: 0;
  }

  .select-area {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .button-column .row {
    margin-bottom: 20px;
  }
}
// Reset top space on the pub chooser

.pubchooser-wrapper {
  .WorkArea {
    padding-top: 0;
  }

  .pub-chooser-menu {
    margin-top: 0;
  }
}
// main .WorkArea sticky to top

.WorkArea TABLE.layout .WorkArea {
  padding-top: 0;
}
// Specific code for mailInfo
// -------------------------------------

PRE.pattern {
  border: 0;
  padding: 0;
  margin: 0;
  background: inherit;
}
// Templates

.template-wrapper .template-image {
  max-width: 200px;
  object-fit: cover;
}
// Soft deprecation of workspace type edition (JCMS-6827)

.WorkArea.work-workspace-editWorkspaceType .navbar {
  display: none;
}

#editWorkspaceType-tab TD.visible-tabs {
  .jalios-icon {
    margin-right: 4px;
  }
}

.AdminArea {
  .page-header {
    H1 {
      font-size: 28px;
      font-family: @font-family-condensed;
      font-weight: 300;

      IMG {
        display: none;
      }
    }
  }

  .list-group-item IMG.jalios-icon {
    filter: grayscale(1);
  }
}

.admin-adminProperties {
  .nav-tabs.nav-tabs-underlined {
    display: flex;
    justify-content: space-between;

    &.is-left-aligned > LI {
      flex-grow: 1;
      min-width: 90px;
    }

    .property-title {
      white-space: nowrap;
    }

    .jalios-icon {
      font-size: 16px;
      margin-right: 0;
    }

    & > LI:not(.active) {
      :first-child {
        color: #aaa;
      }

      .thumb-up .icon-border {
        fill: #666;
      }
    }

    & > LI.active {
      .thumb-up .icon-border {
        fill: @jalios-color-blue;
      }
    }

    A {
      display: flex;
      flex-direction: column;
      align-items: center;

      :first-child {
        margin-bottom: 6px;
      }
    }
  }

  .buttons {
    border-top: 1px solid #eee;
    padding-top: 20px;
  }
}

.boSubMenu {
  .jalios-icon {
    // FIXME font-size: 16px;
    margin-right: 4px;
  }
}

.WorkArea {
  .page-header H1,
  H1,
  H1.boTitle {
    font-size: 30px;
    font-family: @font-family-condensed;
    font-weight: 400;
    border-bottom: 0;

    &.icon {
      padding-left: 0;
    }

    IMG {
      display: none;
    }
  }

  .page-header {
    border-bottom: 0;
  }
}

.EditArea {
  margin-left: 15px;
  margin-right: 15px;
}

#membersTable,
#mbrTable {
  TD {
    padding: 5px;
    padding-top: 20px;

    .wrapper-photo {
      margin: -10px 5px 0 4px;
    }
  }
}
