@import "init-mixins.less";

/* ----------------------------------------------- */
/*  GLYPHS                                           */
/* ----------------------------------------------- */

// Glyphicons Pro 1.8.1
@import "../../lib/glyphicons/glyphicons.less";
@import "../../lib/glyphicons/glyphicons-halflings.less";

// Icomoon
@import "../../lib/icomoon/icomoon.less";

// JIcons
@import "icons/jicons.less";

/* ----------------------------------------------- */
/*  ICON                                           */
/* ----------------------------------------------- */

.glyph-alt {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

/* Force vertical align for IMG to text-bottom */
IMG.jalios-icon {
  vertical-align: text-bottom;
}

/* force all webfont icons to have the same line-height */
.jalios-icon {
  font-size: 16px;
  line-height: 1;
  font-weight: normal; 
}
  
/* Force default color on a jalios-icon */
.jalios-icon.icon-default-color{
  color: @icon-font-default-color;
  &:before{
    color: @icon-font-default-color;
  }  
}

.jalios-icon.white{
  color: white;
  &:before{
    color: #fff;
  }  
}

.jalios-icon-sm {
  width: 16px;
  height: 16px;
  line-height: 16px; // override fff sprites
}

.jalios-icon-svg {
  height: 16px;
  &.size-24 {
    height: 24px;
  }
  &.size-32 {
    height: 32px;
  }
  &.size-48 {
    height: 48px;
  }
  &.size-64 {
    height: 64px;
  }
}

/* ----------------------------------------------- */
/*  THUMBNAIL                                      */
/* ----------------------------------------------- */

.thumbnail-inline{
  display:inline-block;
}

.thumbnail-broken {
  background-image: url('../../../images/jalios/layout/bg/thumbnailBroken.gif'); 
  background-position: center center; 
  background-repeat: no-repeat;
  IMG { 
    width: 100%; height: 100%;
    background-position: center center; 
    background-repeat: no-repeat;
  } 
} 

/* ----------------------------------------------- */
/*  Utils                                          */
/* ----------------------------------------------- */

.icon-flipped > SPAN.jalios-icon {
  display:inline-block;
  .scaleX(-1);
}

SPAN.jalios-icon.icon-flipped {
  .scaleX(-1);
}