// Include variables and mixins
@import "init-mixins.less";

// FAQ full display
// ----------------------
.fullDisplay.glossary {
  max-width: 1170px;
  margin: auto;
  .publication-header {
    margin-bottom: 22px;
    margin-top: 48px;
    .publication-title {
      display: inline-block;	
      margin-right: 48px;
    }
  }
  .panel-body {
    padding: 0; 		
  }
  .panel-collapse.collapse .panel-body {
    border-top: 0;	
  }
  .jalios-accordion {
    margin-bottom: 0px;	
    border-bottom: 0;
    .jalios-accordion-panel {
      position: relative;
      margin-bottom: 0px;
      border-radius: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 0;
      box-shadow: none;
      .panel-heading {
        background-color: #FFF;
        .panel-title {
          margin-left: 20px;	
        }
        .panel-title > a {
          color: @text-color;
          font-weight: 500;	
          font-size: 30px;
        }
        .panel-actions {
          float: left;	
          margin-left: 10px;
          margin-top: 20px;
        }
      }
      .panel-heading.collapsed .accordion-collapse {
        display: none;	
      }
      .panel-heading:not(.collapsed) .accordion-expand {
        display: none;
      }
      .glossary-entry {
        margin-right: 48px;
        margin-left: 20px;
      }
      .dropdown-container {  
        position: absolute;
        right: 0;
        margin: 0px;
        top: 10px;
        display: none;
        .dropdown-toggle {
          width: 30px;
          height: 30px;	
          border: 0;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          margin-bottom: -2px;
          background-color: #FFF;
        }
      }
      .dropdown-menu {
        padding: 0;
        border: 1px solid #ddd;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        min-width: 180px;
      }
      .dropdown-menu a {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 10px;
        color: #333;
        font-size: 12px;
        cursor: pointer;
        text-decoration: none;
        border: 0;
      }
      .dropdown-menu a:hover {
        background-color: #f5f5f5;
      }
    }
  }
  .jalios-accordion:last-child {
    border-bottom: 1px solid #ddd;
  }

  .jalios-accordion .jalios-accordion:last-child {
    border-bottom: 0;	
  }

  .newEntry {
    margin-top: 16px;
  }

  .entry-section {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    .jalios-accordion-panel {
      border-top: 0;	
    }
  }

  .entry-no-section {
	.jalios-accordion {
      border-bottom: 1px solid #ddd;
      .jalios-accordion-panel.entry-panel .panel-heading {
        margin-left: 0;  	
      }
      .panel-collapse > .panel-body {
        border-top: 0;  
      }
    }
    .jalios-accordion:first-child {
      border-top: 1px solid #ddd;
    }
  }

  .entry-no-section ~ .entry-no-section {
    .jalios-accordion {
      border-top: 0;
    }
  }

  .entry-section ~ .entry-section {
    border-top: 0;
  }
  
  //PANEL LEVEL 2
  .jalios-accordion .jalios-accordion-panel.entry-panel {
    .glossary-entry {
      margin-left: 38px;	
    }
    .panel-heading { 
      margin-left: 26px;
      .glossary-entry-title.panel-title > a {
        font-size: 24px;	
      }
      .panel-actions {
        margin-top: 15px;	
      } 
    }
    .panel-heading:not(.collapsed) .dropdown-container {
      display: block;
    }
    .panel-body {
      margin-bottom: 15px;	
    }
  }
  .panel-collapse.in .entry-panel .panel-heading {
    border-top: 1px solid #ddd;
  }
}