.jcms-message .jcms-message-title {
  margin: 0 0 @message-title-margin-bottom 0;
  font-size: @message-title-font-size;
  font-family: @message-title-font-family;
  font-weight: @message-title-font-weight;
  line-height: @message-title-line-height;
}