//
// Jalios meta style
// --------------------------------------------------

/* 
 * Style to display meta text in JCMS. 
 */
.meta-text {
  font-size: @meta-font-size;
  color: @meta-text;
  .meta-link {
    color: @meta-text;
  }
}

/* 
 * Style to represent a meta categories in JCMS. 
 * Uses some code from badges.less
 */
.meta-cat {
  white-space: nowrap;
  padding: @meta-cat-padding;
  font-size: @meta-font-size;
  border-radius: @meta-cat-border-radius;
  color: @meta-cat-text;
  background-color: @meta-cat-bg;
  position: relative;
  margin-bottom: 4px;
  display: inline-block;
  border: @meta-cat-border;
  line-height: 1;
  &:before {
    content: "";
    transition: background-color 200ms ease-in;
  }  
  &:hover {
    text-decoration: none;
    color: @meta-cat-text;
  }

  &:hover:before {
    content: "";
    background-color: @meta-cat-hover-bg;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: @meta-cat-border-radius;
    cursor: pointer;
  }  
}

A.meta-cat {
  text-decoration: none; 
}

.meta-cat-dropdown-wrapper.dropdown {
  display: inline-flex;
}
