.modal-body .table-data {

  border: 0;

  & > THEAD > TR {
    border-bottom: @app-table-th-border-bottom;
  }
     
  & > THEAD > TR > TH,
  & > THEAD > TR > TD {
    background-color: @app-body-bgcolor;
    border: 0 none;
  }
    
  & > tbody > TR > TD {
    vertical-align: top;
    border-top: 0;
    border-right: 0;
    border-left: 0;
  }

  & > tbody > TR.align-middle > TD {
    vertical-align: middle;
  }

  .jalios-icon {
    font-size: @icon-size;
  }
}