/* ----------------------------------------------- */
/*  VOTE                                           */
/* ----------------------------------------------- */

.vote-tag {
  &.vote-form {
      display:block;
  }
  display: inline;   
  .badge.badge-vote-count {
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    font-size: 100%;
    padding: 2px 5px 1px 5px;
    white-space: nowrap;
  }
  .vote-count {
    display: inline;
  }
}

.vote-footer {  
  border-top: 1px solid #EEE;
  font-weight: bold;
  margin-top: @baseline;
  padding: 8px 0;
  
  .vote-tag {
    .activity-vote {
      display:inline;
    }
    
    .btn-vote {
      margin-right: 4px;
    }
  }
}

.vote-list {
  p {
    margin-bottom: 0;
  }
  .activity-vote {
    display: flex;
    gap: 6px;
  }
}

.thumb-up {
  vertical-align: text-bottom;
  width: 16px;
  .icon-bg {
    fill:transparent;
  }
  .icon-border {
    fill:@jalios-color-icon;
  }
}

.has-voted .thumb-up { 
  animation: voteAnimation 400ms linear;
  transform-origin: bottom left;
  .icon-bg {
    fill: @jalios-color-green-light;
  }
  
  .icon-border {
    fill: darken(@jalios-color-green-light, 10%);
  }
}

@-webkit-keyframes voteAnimation { 
  0% { 
    transform: rotate(0); 
  }

  50% {
    transform: rotate(-20deg) scale(1.2);
  }
  
  100% {
    transform: rotate(0) scale(1); 
  }
}
@keyframes voteAnimation { 
  0% { 
    transform: rotate(0); 
  }

  50% {
    transform: rotate(-20deg) scale(1.2);
  }
  
  100% {
    transform: rotate(0) scale(1); 
  }
}
