/* ----------------------------------------------- */
/*  PANELS for Bootstrap3                          */
/* ----------------------------------------------- */

.panel.panel-square {
  border-radius: 0;
  .panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .panel-footer {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
