
.alert-level {
  
  &-warning {
    background-color: @alert-warning;
  }
  &-warning[href] {
    background-color: darken(@alert-warning, 10%);
  }
  &-action {
    background-color: @alert-action;
  }
  &-action[href] {
    background-color: darken(@alert-action, 10%);
  }
  &-info {
    background-color: @alert-info;
  }
  &-info[href] {
    background-color: darken(@alert-info, 10%);
  }
}

.badge.alert-level {
  border-radius: 5px;
}

.form-group.jalios-alert-level-chooser .input-group {
  .badge.alert-level {
    padding: 0px 12px;
    background-color: transparent;
    transition: 200ms ease;
    transition-property: background-color, color, border-color;
    &:hover {
      cursor: pointer; 
    }
  }
  
  .alert-level-info,
  .alert-level-action,
  .alert-level-warning {
    color: #777777; // Accessible color for large text on white bg
    border: 1px solid #AAAAAA;
  }
  INPUT[type=radio] {
    display:none;
    
    margin: 0;
    vertical-align: middle;
    & + LABEL {
      margin: 0;
      padding: 8px 0px;
      min-width: 70px;
    }
  }
  
  LABEL:hover {
    cursor: pointer; 
  }
  
  &[data-jalios-selected-level=info] {
   .alert-level-info {
      border-color: transparent;
      background-color: @alert-info;
      color: #FFF;
    }
  }
  &[data-jalios-selected-level=action] {
   .alert-level-action {
      border-color: transparent;
      background-color: @alert-action;
      color: #FFF;
    }
  }
  &[data-jalios-selected-level=warning] {
   .alert-level-warning {
      border-color: transparent;
      background-color: @alert-warning;
      color: #FFF;
    }
  }
}

#alert-rule-editor {
  margin-bottom: @baseline;
  
  #alert-rule-help {
    margin-top: @baseline;
    
    dl {
      margin-bottom: 0;
    }
    dd {
      margin-bottom: @baseline / 2;
    }
  }
  
  .default-settings {
    font-weight: bold;
  }
  
  .any-alert-type {
    font-style: italic;
    color: @grayLight;
  }

  .alert-domain-name {
    IMG.jalios-icon {
      height: 16px;
    }
  }
  TR.alert-rule-model {
    display: none;
  }
  
  .alert-json-view {
    margin-top: @baseline;
  }
}
.browser-IE11 #alert-rule-editor {
  TD.alert-level-cell {
    min-width: 200px;
  }
}

.badge.alert-level.alert-level-any {
  background: #FFF;
  color: #777;
  border: 1px solid #999;
}

#topbar.navbar {
  LI.alerts {
    A.btn {
      padding: 2px 6px;
      margin: 9px;
      line-height: 16px;
      color: #FFF;
      font-weight: bold;
      
      &:hover {
        color: #FFF;
        
        text-decoration: none;
        background-color: darken(#FFF, 10%);
        background-position: 0 -15px;
       .transition(background-position .1s linear);
      }
      
      &.level-none {
        .buttonBackground(@btnInverseBackground, @btnInverseBackgroundHighlight);
        color: #BBB;
      }
    
      &.level-info {
        .buttonBackground(@btnInfoBackground, @btnInfoBackgroundHighlight);
      }
      &.level-action {
        .buttonBackground(@btnWarningBackground, @btnWarningBackgroundHighlight);
      }
      &.level-warning {
        .buttonBackground(@btnDangerBackground, @btnDangerBackgroundHighlight);
      }
    }
  }
}