/* ----------------------------------------------- */
/*  MODAL                                          */
/* ----------------------------------------------- */

.modal-dialog {
  padding-top: 20px;
}

.modal-header {
  background-color: @modal-header-bg;
  border-radius: @border-radius-base @border-radius-base 0 0;
  padding: 15px 20px;
  color: @modal-header-color;

  .modal-title H2 {
    font-weight: @modal-header-font-weight;
    font-size: @modal-header-font-size;
    line-height: @modal-header-line-height; 
    margin: 0;
  }

  SPAN.modal-picture {
    font-size: @modal-picture-max-size;
  }

  IMG.modal-picture {
    max-width: @modal-picture-max-size;
    max-height: @modal-picture-max-size;
  }
}
@half-baseline: @baseline / 2;



.modal-menu {
  padding: @half-baseline @baseline;
  background-color: lighten(#000, 98%);
  border-bottom: 1px solid @gray-lighter;
}

.modal-body {
  max-height: @modal-body-max-height;
  overflow-y: auto;
  /*overflow-x: hidden;*/
  .separator {
    border-top: 1px solid @modal-content-border-color;
    padding-top: 15px;
  }

  .jalios-tab-template {
    padding-top: 15px;
  }

  .wait-inline {
    height: 100%;
  }
  
  .modal-options-text {
    font-size: 24px;
    text-align: center;
    margin: 32px 0 40px 0;
  }
  
  .modal-options {
    display: flex;
    justify-content: center;

    margin-bottom: 32px;

    .modal-option {
      margin: auto;
      
      text-align: center;
    
      .jalios-icon {
        color: #999;
        font-size: ceil((@font-size-base * 4));
        display: block;
        margin-bottom: 16px;
      }
      
      &:hover {
        color: @jalios-color-blue-deep;
        
        .jalios-icon {
          color: @brand-primary;
        }
      }
    
      .modal-option-title {
        font-size: @font-size-large;
        font-weight: 500;
        margin-bottom: 8px;
      }
    
      .modal-option-subtitle {
        margin: auto;
        max-width: 232px;
        font-size: @font-size-base;
      }
    }
  }
}
/* handle nav-tabs in modal */

.modal-content {
  .modal-body .nav.nav-tabs {
    margin-left: -@modal-inner-padding;
    margin-right: -@modal-inner-padding;
    padding-left: @modal-inner-padding;
  }

  > .nav {
    margin-top: @modal-inner-padding;
    padding-left: @modal-inner-padding / 2;
  }
}

.modal-footer {
  margin-top: 0;
  background-color: @modal-footer-bg;
  border-radius: 0 0 @border-radius-base @border-radius-base;
  position: relative;
  padding: 15px 20px;
}

@import "jalios-modal-steps.less";
@import "jalios-modal-table.less";
@import "jalios-modal-confirm.less";

@media (max-width: @screen-xs-max) {
  .modal-lg {
    width: auto;
  }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .modal-lg {
    width: auto;
    margin: 0 @baseline;
  }
}
@media (max-width: @modal-lg) {
  .modal-lg {
    width: auto;
    margin: 0 @baseline;
  }
}
@media (max-width: @modal-md) {
  .modal-md {
    width: auto;
    margin: 0 @baseline;
  }
}

// JCMS-9007: if screen height > 600px, modal grows vertically
@media (min-height: 600px) {
  .modal-dialog:not(.modal-no-grow-h) .modal-body {
    // 250px: keep some spacing for modal before + header + footer + bottom 
    max-height: calc(~'90vh' - 250px);
  }
}
