.wysiwyg-editor {
  position: relative;
}
.wysiwyg-editor.wysiwyg-editor-resize-without-statusbar .tox-statusbar {
  border: 0;
}
.wysiwyg-editor.wysiwyg-editor-resize-without-statusbar .tox-statusbar .tox-statusbar__text-container {
  display: none;
}
.wysiwyg-editor.wysiwyg-editor-resize-without-statusbar .mce-statusbar {
  border: 0;
}
.wysiwyg-editor.wysiwyg-editor-resize-without-statusbar .mce-statusbar .mce-container-body {
  height: 16px;/* height of the resize icon */
  background-color: #fff;
}
.wysiwyg-editor.wysiwyg-editor-resize-without-statusbar .mce-statusbar .mce-container-body .mce-path {
  display: none;
}
.wysiwyg-editor div.mce-menubtn.mce-opened {
  /* workaround bug in TinyMCE 4.7.4 : force a z-index below 65635, which is used for the mce-floatpanel displaying the paragraph/format meny, otherwise button is above menu */
  z-index: 65530;
}
.wysiwyg-editor .ajax-loading .ajax-loading-display {
  background-color: rgba(220, 220, 220, 0.6);
}
.wysiwyg-editor .mce-container-body .jfullscreen-button {
  border: none;
}
.wysiwyg-editor .mce-container-body .jfullscreen-button.mce-btn:hover,
.wysiwyg-editor .mce-container-body .jfullscreen-button.mce-btn:active {
  border: none;
}
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button,
.wysiwyg-editor .mce-container-body .jfullscreen-button button {
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #009EF5;
  border-color: #009EF5;
  margin-left: 10px;
}
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button .tox-tbtn__select-label,
.wysiwyg-editor .mce-container-body .jfullscreen-button button .tox-tbtn__select-label {
  color: #fff;
}
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:hover,
.wysiwyg-editor .mce-container-body .jfullscreen-button button:hover,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:focus,
.wysiwyg-editor .mce-container-body .jfullscreen-button button:focus {
  color: #fff;
  text-decoration: none;
}
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:active,
.wysiwyg-editor .mce-container-body .jfullscreen-button button:active,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.active,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.disabled,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.disabled,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button[disabled],
.wysiwyg-editor .mce-container-body .jfullscreen-button button[disabled],
fieldset[disabled] .wysiwyg-editor .tox .tox-tbtn.jfullscreen-button,
fieldset[disabled] .wysiwyg-editor .mce-container-body .jfullscreen-button button {
  cursor: not-allowed;
  pointer-events: none;
  filter: alpha(opacity=65);
  opacity: 0.65;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:hover,
.wysiwyg-editor .mce-container-body .jfullscreen-button button:hover,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:focus,
.wysiwyg-editor .mce-container-body .jfullscreen-button button:focus,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:active,
.wysiwyg-editor .mce-container-body .jfullscreen-button button:active,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.active,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.active,
.open > .dropdown-toggle.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button,
.open > .dropdown-toggle.wysiwyg-editor .mce-container-body .jfullscreen-button button {
  color: #fff;
  background-color: #007dc2;
  border-color: #0077b8;
}
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:active,
.wysiwyg-editor .mce-container-body .jfullscreen-button button:active,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.active,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.active,
.open > .dropdown-toggle.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button,
.open > .dropdown-toggle.wysiwyg-editor .mce-container-body .jfullscreen-button button {
  background-image: none;
}
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.disabled,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.disabled,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button[disabled],
.wysiwyg-editor .mce-container-body .jfullscreen-button button[disabled],
fieldset[disabled] .wysiwyg-editor .tox .tox-tbtn.jfullscreen-button,
fieldset[disabled] .wysiwyg-editor .mce-container-body .jfullscreen-button button,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.disabled:hover,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.disabled:hover,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button[disabled]:hover,
.wysiwyg-editor .mce-container-body .jfullscreen-button button[disabled]:hover,
fieldset[disabled] .wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:hover,
fieldset[disabled] .wysiwyg-editor .mce-container-body .jfullscreen-button button:hover,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.disabled:focus,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.disabled:focus,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button[disabled]:focus,
.wysiwyg-editor .mce-container-body .jfullscreen-button button[disabled]:focus,
fieldset[disabled] .wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:focus,
fieldset[disabled] .wysiwyg-editor .mce-container-body .jfullscreen-button button:focus,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.disabled:active,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.disabled:active,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button[disabled]:active,
.wysiwyg-editor .mce-container-body .jfullscreen-button button[disabled]:active,
fieldset[disabled] .wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:active,
fieldset[disabled] .wysiwyg-editor .mce-container-body .jfullscreen-button button:active,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.disabled.active,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.disabled.active,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button[disabled].active,
.wysiwyg-editor .mce-container-body .jfullscreen-button button[disabled].active,
fieldset[disabled] .wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.active,
fieldset[disabled] .wysiwyg-editor .mce-container-body .jfullscreen-button button.active {
  background-color: #009EF5;
  border-color: #009EF5;
}
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button .badge,
.wysiwyg-editor .mce-container-body .jfullscreen-button button .badge {
  color: #009EF5;
  background-color: #fff;
}
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:focus,
.wysiwyg-editor .mce-container-body .jfullscreen-button button:focus,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.focus,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.focus {
  color: #fff;
  background-color: #007dc2;
  border-color: #004c76;
}
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:hover,
.wysiwyg-editor .mce-container-body .jfullscreen-button button:hover {
  color: #fff;
  background-color: #007dc2;
  border-color: #0077b8;
}
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:active,
.wysiwyg-editor .mce-container-body .jfullscreen-button button:active,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.active,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.active,
.open > .dropdown-toggle.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button,
.open > .dropdown-toggle.wysiwyg-editor .mce-container-body .jfullscreen-button button {
  color: #fff;
  background-color: #007dc2;
  background-image: none;
  border-color: #0077b8;
}
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:active:hover,
.wysiwyg-editor .mce-container-body .jfullscreen-button button:active:hover,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.active:hover,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.active:hover,
.open > .dropdown-toggle.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:hover,
.open > .dropdown-toggle.wysiwyg-editor .mce-container-body .jfullscreen-button button:hover,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:active:focus,
.wysiwyg-editor .mce-container-body .jfullscreen-button button:active:focus,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.active:focus,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.active:focus,
.open > .dropdown-toggle.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:focus,
.open > .dropdown-toggle.wysiwyg-editor .mce-container-body .jfullscreen-button button:focus,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:active.focus,
.wysiwyg-editor .mce-container-body .jfullscreen-button button:active.focus,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.active.focus,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.active.focus,
.open > .dropdown-toggle.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.focus,
.open > .dropdown-toggle.wysiwyg-editor .mce-container-body .jfullscreen-button button.focus {
  color: #fff;
  background-color: #00669e;
  border-color: #004c76;
}
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.disabled:hover,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.disabled:hover,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button[disabled]:hover,
.wysiwyg-editor .mce-container-body .jfullscreen-button button[disabled]:hover,
fieldset[disabled] .wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:hover,
fieldset[disabled] .wysiwyg-editor .mce-container-body .jfullscreen-button button:hover,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.disabled:focus,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.disabled:focus,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button[disabled]:focus,
.wysiwyg-editor .mce-container-body .jfullscreen-button button[disabled]:focus,
fieldset[disabled] .wysiwyg-editor .tox .tox-tbtn.jfullscreen-button:focus,
fieldset[disabled] .wysiwyg-editor .mce-container-body .jfullscreen-button button:focus,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.disabled.focus,
.wysiwyg-editor .mce-container-body .jfullscreen-button button.disabled.focus,
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button[disabled].focus,
.wysiwyg-editor .mce-container-body .jfullscreen-button button[disabled].focus,
fieldset[disabled] .wysiwyg-editor .tox .tox-tbtn.jfullscreen-button.focus,
fieldset[disabled] .wysiwyg-editor .mce-container-body .jfullscreen-button button.focus {
  background-color: #009EF5;
  border-color: #009EF5;
}
.wysiwyg-editor .tox .tox-tbtn.jfullscreen-button .badge,
.wysiwyg-editor .mce-container-body .jfullscreen-button button .badge {
  color: #009EF5;
  background-color: #fff;
}
.wysiwyg-editor .wysiwyg-message {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 10px 10px 38px;
}
.wysiwyg-editor .wysiwyg-message.wysiwyg-message-error {
  background-color: #f8d7da;
  color: #721c24;
  border: #f5c6cb;
}
.wysiwyg-editor .wysiwyg-message.wysiwyg-message-error:before {
  font-family: 'icomoon';
  content: '\ed4c';
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  font-size: 18px;
}
.tox [class^='fa-'],
.tox [class*=' fa-'] {
  font-family: FontAwesome;
}
.tox [class^='glyphicons-'],
.tox [class*=' glyphicons-'] {
  font-family: 'glyphicons-regular';
}
.tox [class^='icomoon-'],
.tox [class*=' icomoon-'] {
  font-family: 'icomoon';
}
.mce-btn .mce-ico.mce-i-fa,
.mce-ico.mce-i-fa {
  font-family: FontAwesome;
}
.mce-btn .mce-ico.mce-i-glyphicons,
.mce-ico.mce-i-glyphicons {
  font-family: 'glyphicons-regular';
}
.mce-btn .mce-ico.mce-i-icomoon,
.mce-ico.mce-i-icomoon {
  font-family: 'icomoon';
}
DIV.mce-fullscreen,
DIV.tox.tox-tinymce.tox-fullscreen,
DIV.tox-shadowhost.tox-fullscreen {
  z-index: 1040;
}
.tox-fullscreen .tox.tox-tinymce-aux,
.tox-fullscreen ~ .tox.tox-tinymce-aux {
  z-index: 1041;
}
BODY .tox:not(.tox-tinymce--disabled) .tox-tbtn,
BODY .tox:not(.tox-tinymce--disabled) .tox-tbtn:hover,
BODY .tox:not(.tox-tinymce--disabled) .tox-collection--list .tox-collection__item,
BODY .tox:not(.tox-tinymce--disabled) .tox-collection--list .tox-collection__item--active,
BODY .tox:not(.tox-tinymce--disabled) .tox-collection--list .tox-collection__item--active:not(.tox-collection__item--state-disabled) {
  color: #666666;
}
BODY .tox:not(.tox-tinymce--disabled) .tox-tbtn svg,
BODY .tox:not(.tox-tinymce--disabled) .tox-tbtn:hover svg {
  fill: #666666;
}
BODY .tox:not(.tox-tinymce--disabled) .tox-tbtn__select-label,
BODY .tox:not(.tox-tinymce--disabled) .tox-collection__item-label {
  color: #333333;
}
/* 
 Overrides somes styles to correctly position 
 fullscreen editor in : SideBar & Modal 
*/
BODY.mce-fullscreen DIV.task-sidebar,
BODY.tox-fullscreen DIV.task-sidebar,
BODY.mce-fullscreen DIV.modal-dialog,
BODY.tox-fullscreen DIV.modal-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.mce-content-body {
  margin: 10px;
}
.mce-content-body[contenteditable='false'] {
  opacity: 0.5;
}
.mce-content-body jalios\:link {
  display: inline-block;
  width: auto;
  font: x-small monospace;
  padding: 0.2em;
  border: 1px solid #ddd;
  background-color: #fcf8e3;
}
.mce-content-body jalios\:link::before {
  content: '<jalios:link ' 'id="' attr(data-jalios-id) '"' '>';
}
.mce-content-body jalios\:link::after {
  content: '</jalios:link>';
}
.mce-content-body jalios\:mention {
  display: inline-block;
  width: auto;
  font: x-small monospace;
  padding: 0.2em;
  border: 1px solid #ddd;
  background-color: #fcf8e3;
}
.mce-content-body jalios\:mention::before {
  content: '<jalios:mention ' 'id="' attr(data-jalios-id) '"' '>';
}
.mce-content-body jalios\:mention::after {
  content: '</jalios:mention>';
}
.mce-content-body jalios\:msg {
  display: block;
  width: auto;
  font: x-small monospace;
  padding: 0.2em;
  border: 1px solid #ddd;
  background-color: #fcf8e3;
}
.mce-content-body jalios\:msg::before {
  content: '<jalios:msg>';
}
.mce-content-body jalios\:msg::after {
  content: '</jalios:msg>';
}
.mce-content-body jalios\:abstract {
  display: block;
  width: auto;
  font: x-small monospace;
  padding: 0.2em;
  border: 1px solid #ddd;
  background-color: #fcf8e3;
}
.mce-content-body jalios\:abstract::before {
  content: '<jalios:abstract>';
}
.mce-content-body jalios\:abstract::after {
  content: '</jalios:abstract>';
}
.mce-content-body jalios\:media {
  display: block;
  width: auto;
  font: x-small monospace;
  padding: 0.2em;
  border: 1px solid #ddd;
  background-color: #fcf8e3;
}
.mce-content-body jalios\:media::before {
  content: '<jalios:media ' 'source="' attr(data-jalios-source) '"' '/>';
}
.mce-content-body jalios\:toc {
  display: block;
  width: auto;
  font: x-small monospace;
  padding: 0.2em;
  border: 1px solid #ddd;
  background-color: #fcf8e3;
}
.mce-content-body jalios\:toc::before {
  content: '<jalios:toc ' 'level="' attr(data-jalios-level) '" autonumber="' attr(data-jalios-autonumber) '"' '/>';
}
.mce-content-body jalios\:include {
  display: block;
  width: auto;
  font: x-small monospace;
  padding: 0.2em;
  border: 1px solid #ddd;
  background-color: #fcf8e3;
}
.mce-content-body jalios\:include::before {
  content: '<jalios:include ' 'type="' attr(data-jalios-type) '" params="' attr(data-jalios-params) '" ' '/>';
}
.mce-content-body .jalios-abstract {
  z-index: -1;
  /* 'well' style */
  min-height: 20px;
  padding: 9px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  clear: both;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  /* Space for abstract icon */
  padding-left: 50px;
  position: relative;
}
.mce-content-body .jalios-abstract blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.mce-content-body .jalios-abstract:before {
  position: absolute;
  top: 10px;
  /*top: 50%;
	    transform: translateY(-50%);*/
  left: 10px;
  content: '\E607';
  font-family: 'glyphicons-regular';
  color: #999;
  font-size: 20px;
}
.mce-content-body .jalios-abstract:after {
  position: absolute;
  content: '';
  width: 1px;
  top: 8px;
  bottom: 8px;
  left: 40px;
  background-color: #cfcfcf;
}
.mce-content-body A[data-jalios-mention-id]:before {
  content: '@';
}
.mce-content-body DIV.jalios-toc {
  color: #333;
  border: 1px solid #ccc;
  background-color: #e6e6e6;
  margin-bottom: 20px;
}
.mce-content-body DIV.jalios-toc .jalios-toc-title {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}
.mce-content-body DIV.jalios-toc .jalios-toc-body {
  background-color: #fff;
  padding: 10px;
}
.mce-content-body DIV.jalios-toc .jalios-toc-body UL {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.mce-content-body SPAN.mce-preview-object[data-mce-p-data-jalios-media-source] {
  display: inline-block;
}
.mce-content-body SPAN.mce-preview-object[data-mce-p-data-jalios-media-source] iframe {
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.wysiwyg-popup-edit .widget-content {
  max-width: none;
}
/*# sourceMappingURL=jalios-wysiwyg-editor.css.map */
