/* ----------------------------------------------- */
/*  Wiki                                        */
/* ----------------------------------------------- */

DIV.wiki {  position: relative; }

/* ------------------------------------------- */
/* [whatever][/whatever] -->                   */
/*   <img class="wiki-component">              */
/*   <div class="whatever"></div>              */
/* ------------------------------------------- */

.wiki {
  
  IMG.wiki-component { display: none; }
  
}

/* ------------------------------------------- */
/* [note][/note]                               */
/* ------------------------------------------- */

.wiki {
  DIV.note {
	  font-size: @font-size-base - 1;
	  line-height: @baseline - 2;
	  
	  color: @black;
	  background: #FFFF99; 
	  border: 1px solid #F9EE6A; 
	  padding: @baseline/4;
	  margin: 0 @baseline;
	  display: none;
	  z-index: 1;
	  
	  #gradient > .vertical(#FFFAAE, #FFF267);
	  .border-radius(5px);
	  .box-shadow(2px 3px 5px #CCCCCC);
	  
	  /* Floating */
	  .opacity(90);
	  width: 400px;
	  position: absolute;
	  
	  P { 
	    font-size:   @font-size-base - 1; 
	    line-height: @baseline - 2;
	    margin-top: 0;
	  }
  }
  IMG.note { 
	  display: inline;
	  width:  16px; height: 16px;
	  background: url('../../../images/jalios/icons/postit.gif');
	  position: absolute;
	  left: -16px;
	  margin-top: 3px; /* to be aligned on bottom line*/
	  cursor: pointer;
	}
	
}
