/* ----------------------------------------------- */
/*  EXCEPTION                                      */
/* ----------------------------------------------- */

DIV.exception {
  TEXTAREA { 
    overflow:    scroll;
    white-space: pre;
    text-align:  left;
    padding:   @baseline/4;
    margin:    0px;
    height:    300px;
    width:     400px;
    border:1px solid  #CC3333;
    background-color: @grayLighter;
    color: @black;
    display: block;
    font-family: @font-family-monospace;
    font-weight: normal;
    font-size: @font-size-base - 2;
    line-height: @baseline - 4;
  }
}

BODY.body  DIV.exception TEXTAREA { width: 90%; }
