// Include variables and mixins
@import 'init-mixins.less';

// Loading animation overridden
.wysiwyg-editor {
  position: relative;

  // Hide TinyMCE 5 status bar
  &.wysiwyg-editor-resize-without-statusbar .tox-statusbar {
    border: 0;
    .tox-statusbar__text-container {
      display: none;
    }
  }
  // Hide TinyMCE 4 status bar
  &.wysiwyg-editor-resize-without-statusbar .mce-statusbar {
    border: 0;

    .mce-container-body {
      height: 16px; /* height of the resize icon */
      background-color: #fff;

      .mce-path {
        display: none;
      }
    }
  }

  div.mce-menubtn.mce-opened {
    /* workaround bug in TinyMCE 4.7.4 : force a z-index below 65635, which is used for the mce-floatpanel displaying the paragraph/format meny, otherwise button is above menu */
    z-index: 65530;
  }

  .ajax-loading .ajax-loading-display {
    background-color: rgba(220, 220, 220, 0.6);
  }

  // Style "Save" button when in fullscreen of inline mode
  .mce-container-body .jfullscreen-button {
    border: none;
    &.mce-btn:hover,
    &.mce-btn:active {
      border: none;
    }
  }
  // Selector for both TinyMCE5 (tox) and TinyMCE 4 (mce-container-body)
  .tox .tox-tbtn.jfullscreen-button,
  .mce-container-body .jfullscreen-button button {
    // Start of Copy&Paste from buttons.less
    // with
    //  display removed
    //  margin removed
    //  button-size modified to small
    font-weight: @btn-font-weight;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    white-space: nowrap;
    .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
    .user-select(none);

    .tox-tbtn__select-label {
      color: @btn-primary-color;
    }

    &,
    &:active,
    &.active {
      &:focus {
        .tab-focus();
      }
    }

    &:hover,
    &:focus {
      color: @btn-primary-color;
      text-decoration: none;
    }

    &:active,
    &.active {
      outline: 0;
      background-image: none;
      .box-shadow(inset 0 3px 5px rgba(0,0,0,0.125));
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
      pointer-events: none; // Future-proof disabling of clicks
      .opacity(0.65);
      .box-shadow(none);
    }
    // End of copy&Paste

    // Add primary variant
    .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);

    margin-left: 10px;
  }

  .wysiwyg-message {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 10px 10px 38px;

    &.wysiwyg-message-error {
      background-color: @alert-danger-bg;
      color: @alert-danger-text;
      border: @alert-danger-border;

      &:before {
        font-family: 'icomoon';
        content: '\ed4c';
        position: absolute;
        top: 10px;
        left: 10px;
        font-weight: bold;
        font-size: @font-size-large;
      }
    }
  }
}

// Allow use of font icons in editor (may occur inside .wysiwyg-editor but also directly below body for some UI elements such as menu)
// TinyMCE 5
.tox {
  [class^='fa-'],
  [class*=' fa-'] {
    font-family: FontAwesome;
  }
  [class^='glyphicons-'],
  [class*=' glyphicons-'] {
    font-family: '@{icon-font-glyphicons-regular-name}';
  }
  [class^='icomoon-'],
  [class*=' icomoon-'] {
    font-family: 'icomoon';
  }
}
// TinyMCE 4
.mce-btn .mce-ico,
.mce-ico {
  &.mce-i-fa {
    font-family: FontAwesome;
  }
  &.mce-i-glyphicons {
    font-family: '@{icon-font-glyphicons-regular-name}';
  }
  &.mce-i-icomoon {
    font-family: 'icomoon';
  }
}

DIV.mce-fullscreen,
DIV.tox.tox-tinymce.tox-fullscreen,
DIV.tox-shadowhost.tox-fullscreen {
  z-index: @zindex-wysiwyg-editor-fullscreen;
}
.tox-fullscreen .tox.tox-tinymce-aux,
.tox-fullscreen ~ .tox.tox-tinymce-aux {
  z-index: @zindex-wysiwyg-editor-fullscreen+1;
}

// Override button color of TinyMCE5
BODY .tox:not(.tox-tinymce--disabled) {
  .tox-tbtn,
  .tox-tbtn:hover,
  .tox-collection--list .tox-collection__item,
  .tox-collection--list .tox-collection__item--active,
  .tox-collection--list .tox-collection__item--active:not(.tox-collection__item--state-disabled) {
    color: @jalios-color-icon;
  }
  .tox-tbtn svg,
  .tox-tbtn:hover svg {
    fill: @jalios-color-icon;
  }
  .tox-tbtn__select-label,
  .tox-collection__item-label {
    color: @text-color;
  }
}

/* 
 Overrides somes styles to correctly position 
 fullscreen editor in : SideBar & Modal 
*/
BODY.mce-fullscreen,
BODY.tox-fullscreen {
  DIV.task-sidebar,
  DIV.modal-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
}

.mce-content-body {
  margin: 10px;

  &[contenteditable='false'] {
    opacity: 0.5;
  }

  @tags-inline: link, mention;
  @link-before-content-attributes: 'id="' attr(data-jalios-id) '"';
  @mention-before-content-attributes: 'id="' attr(data-jalios-id) '"';

  .for(@tags-inline, {
	  jalios\:@{value} {
	    display: inline-block;
	    width: auto;
	    font: x-small monospace;
	    padding: 0.2em;
	    border: 1px solid #ddd;
	    background-color: #fcf8e3;
	    
	    @before-content-attributes: '@{value}-before-content-attributes';
	    &::before {
	      content: '<jalios:@{value} ' @@before-content-attributes '>';  
	    }
	    &::after {
	      content: '</jalios:@{value}>';  
	    }
	  }
	});

  @tags-block: msg, abstract;

  .for(@tags-block, {
	  jalios\:@{value} {
	    display: block;
	    width: auto;
	    font: x-small monospace;
	    padding: 0.2em;
	    border: 1px solid #ddd;
	    background-color: #fcf8e3;
	    
	    &::before {
	      content: '<jalios:@{value}>';  
	    }
	    &::after {
	      content: '</jalios:@{value}>';  
	    }
	  }
	});

  @tags-block-selfclosing: media, toc, include;
  @toc-before-content-attributes: 'level="' attr(data-jalios-level) '" autonumber="' attr(data-jalios-autonumber) '"';
  @media-before-content-attributes: 'source="' attr(data-jalios-source) '"';
  @include-before-content-attributes: 'type="' attr(data-jalios-type) '" params="' attr(data-jalios-params) '" ';

  .for(@tags-block-selfclosing, {
	  jalios\:@{value} {
	    display: block;
	    width: auto;
	    font: x-small monospace;
	    padding: 0.2em;
	    border: 1px solid #ddd;
	    background-color: #fcf8e3;
	    
	    @before-content-attributes: '@{value}-before-content-attributes';
	    &::before {
	      content: '<jalios:@{value} ' @@before-content-attributes '/>';  
	    }
	  }
	});

  //== Abstract
  .jalios-abstract {
    z-index: -1;
    /* 'well' style */
    min-height: 20px;
    padding: 9px; // 'well-sm' style
    margin-bottom: 20px;
    background-color: @well-bg;
    border: 1px solid @well-border;
    border-radius: @border-radius-small; // 'well-sm' style
    clear:both;
    .box-shadow(inset 0 1px 1px rgba(0,0,0,0.05));
    blockquote {
      border-color: #ddd;
      border-color: rgba(0, 0, 0, 0.15);
    }

    /* Space for abstract icon */
    padding-left: 50px;
    position: relative;

    &:before {
      position: absolute;
      top: 10px;
      /*top: 50%;
	    transform: translateY(-50%);*/
      left: 10px;
      content: '\E607';
      font-family: @icon-font-glyphicons-regular-name;
      color: #999;
      font-size: 20px;
    }

    &:after {
      position: absolute;
      content: '';
      width: 1px;
      top: 8px;
      bottom: 8px;
      left: 40px;
      background-color: #cfcfcf;
    }
  }

  //== Mention
  A[data-jalios-mention-id] {
    &:before {
      content: '@';
    }
  }

  //== TOC
  DIV.jalios-toc {
    color: #333;
    border: 1px solid #ccc;
    background-color: darken(#fff, 10%);
    margin-bottom: 20px;

    .jalios-toc-title {
      font-size: @font-size-large;
      font-weight: bold;
      padding: 10px;
    }

    .jalios-toc-body {
      background-color: #fff;
      padding: 10px;

      UL {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
      }
    }
  }

  // Preview span and iframe for jalios:media
  SPAN.mce-preview-object[data-mce-p-data-jalios-media-source] {
    display: inline-block;

    iframe {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      border: 0;
    }
  }
}

.wysiwyg-popup-edit .widget-content {
  max-width: none;
}
