/* Waiting AJAX message */

#ajax-wait { 
  font-size: @font-size-base - 2;
  font-weight: bold;
  color: #FFF;
  position: absolute;
  top:   0;
  padding: 2px 6px;
  right: 0;
  z-index: @zindexAjaxWait;
  > SVG {
    width: 16px;
    height: 16px;
  }
}
HTML>BODY #ajax-wait { position: fixed; }

.ajax-refresh-job {
  position: relative;
}
