.dnd-container .panel-heading.dnd-header .panel-title .skinTitle,
.dnd-container .panel-title .skinTitle.dnd-header {
  cursor: move;
}

.portlet-header-actions {
  .portlet-header-actions-menu .dropdown-menu{
    max-height: 50vh;
    overflow-y: auto;
    .dropdown-header {
      padding-left: 14px;
      padding-top: 10px;
      font-size: 14px;
      font-weight: 400;
      color: @text-color;
    }
    li.publish-submenu A {
      padding-left: 32px;
      &:after {
        content: "\ed5d";
        position: absolute;
        left: 12px;
        /* top: 0; */
        font-family: 'icomoon';
        font-size: 14px;
        color: #666;
        speak: none;
        text-transform: none;
        vertical-align: middle;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
  .btn.btn-rounded {
    background-color: transparent;
    color: inherit;
    &:before {
      background-color: #dededee0;
    }
  }
}

// Only display menu for portlets used in a portal
.PortletCollection .portlet-header-actions-menu,
.Portal .portlet-header-actions-menu,
.PortletJspCollection .portlet-header-actions-menu,
.JPortal .portlet-header-actions-menu {
  display: block;
}

.portlet-header-actions-menu {
  display: none;
  A,
  BUTTON {
    cursor: pointer;
  }

  > UL {
    padding-top: 0;
    padding-bottom: 0;
  }

  .divider {
    margin: 5px 0;
  }
  LI > BUTTON,
  LI > A {
    padding-left: 6px;
    line-height: 32px;

    .jalios-icon {
      font-size: 16px;
      padding: 0 5px;
      line-height: 2;
      margin: 0;
    }
  }
}

.template-description-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  > img {
    max-width: 180px;
    aspect-ratio: 16/9;
  }
  .template-description {
    width: 100%;
  }
}

.Portlet .skin-header-icon {
  color: ~'var(--portlet-header-icon-color)';
}

.Portlet .title-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  > .title {
    margin: 0;
    font-size: 24px;
    display: flex;
    gap: 8px;
    align-items: center;
    line-height: 1;
  }
}

.Portlet.panel-skin {
  .title-wrapper {
    min-height: 30px;
  }
  .title-wrapper > .title {
    font-size: ceil((@font-size-base * 1.125));
    font-weight: 400;
  }
  .btn-portlet-header {
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    font-size: 12px;
    line-height: 1.5;
  }
  .portlet-header-actions .portlet-header-actions-menu .btn-rounded .jalios-icon {
    color: inherit;
  }
  
  .skin-footer-buttons .btn-portlet-footer {
    border-radius: @btn-border-radius-base;
  }
}
.skin-footer-buttons {
  display: flex;
  align-items: center;
  padding-top: 8px;
  &.align-centered {
    justify-content: center;
  }
  &.align-right {
    justify-content: end;
  }
}
  
.btn-portlet-footer {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  font-size: 12px;
  line-height: 1.5;
}
