@import "../../../css/jalios/core/jalios-table-data-mixin.less";

.table-data-row-variant(active; @table-bg-active);
.table-data-row-variant(success; @state-success-bg);
.table-data-row-variant(info; @state-info-bg);
.table-data-row-variant(warning; @state-warning-bg);
.table-data-row-variant(danger; @state-danger-bg);

.table-data {
  .table();
  .table-hover();
  .table-striped();
  .table-bordered();

  // handle table in table
  table.table-data {
    border: 1px solid #ddd;
    > TBODY > TR > TD {
      border-left: 1px solid #DDD;
      border-right: 1px solid #DDD;
    }
  }

  &.is-auto { 
    width: auto;
  }

/*  > THEAD > TR > TH {
    border-top: 1px solid @table-border-color;
  }*/

  PRE { 
    white-space: pre-wrap; 
  }
  
  .jalios-icon {
    font-size: @icon-size;
  }


  TR.align-top > TD,
  TR.align-top > TH{
    vertical-align: top;
  }

  TD {
    .jalios-icon {
      color: @jalios-color-icon;
    }
    line-height: 30px !important;
  }  
  
  > TBODY > TR > TH { 
    line-height: 30px !important;
  }
  
  
  > tbody > tr > th {
    border-top: 0 none;
  }
  
  &.table-condensed { // Restore condensed padding on.table-data
    > THEAD,
    > TBODY,
    > TFOOT {
      > TR {
        > TH,
        > TD {
          padding: @table-condensed-cell-padding;
        }
      }
    }
  }
  
  &.table-not-striped TBODY > TR > TD {
    background-color: @table-bg; 
  }

  SELECT.form-control {
    width:initial;
    display:inline;
  }

  .numeric {
    text-align:right;
    white-space: nowrap;
  }

  .date-time {
    text-align:right;
    white-space: nowrap;
  }

  TH[scope="row"] {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    font-weight: normal;
    line-height: 30px !important;
  }

  TH {
    white-space: nowrap;
    &.wrap {
      white-space: normal;
    }
  }

  A {
    color: @gray-dark; //Should be a variable specific to table links && a when to disable the style
  }
  
  .wrapper-photo.tiny-photo {
       
    border: 0;
    border-radius: 0;
    display: inline-block;
    float: none;
    padding: 0;
    padding-right: 0px;
    .box-shadow(none);
    background-color: transparent;

    &.small-photo IMG.photo {
      min-width: @app-table-member-photo-tiny-size;
    }

    IMG.photo {
      border-radius: 50%;
      border: 0;
    }
    IMG.photo,
    .initials {
      height: @app-table-member-photo-tiny-size;
      width: @app-table-member-photo-tiny-size;
    }
    .initials {
      font-size: 16px;
      line-height: @app-table-member-photo-tiny-size;
    }

    .photo-anchor {
      display: none;
    }
  }

}

@media (max-width: @screen-xs-max) {
  .table-responsive {

    // Tighten up spacing
    > .table-data {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > THEAD,
      > TBODY,
      > TFOOT {
        > TR {
          > TH,
          > TD {
            white-space: nowrap;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .table-data {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > THEAD,
      > TBODY,
      > TFOOT {
        > TR {
          > TH:first-child,
          > TD:first-child {
            border-left: 0;
          }
          > TH:last-child,
          > TD:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > TBODY,
      > TFOOT {
        > TR:last-child {
          > TH,
          > TD {
            border-bottom: 0;
          }
        }
      }
    }
  }
}
