/* ----------------------------------------------- */
/*  BADGE                                          */
/* ----------------------------------------------- */

.badge-sm {
  font-size: @font-size-small;
}

.badge-new {
	background-color:#455FA5;
	color: white;
}

.badge-primary  { .badge-variant(@badge-color; @badge-primary-bg); }
.badge-success  { .badge-variant(@badge-color; @badge-success-bg); }
.badge-info     { .badge-variant(@badge-color; @badge-info-bg); }
.badge-warning  { .badge-variant(@badge-color; @badge-warning-bg); }
.badge-danger   { .badge-variant(@badge-color; @badge-danger-bg); }
