/* ----------------------------------------------- */
/*  CTXTOOLTIP                                     */
/* ----------------------------------------------- */
.popover.tt {
  display: table;
  overflow: visible;
  min-width: 400px;
  min-height: 100px;
  padding: 0;
  position: relative;

  &.top .arrow {
    border-top-color: #e3e9ff;
  }

  BUTTON.close {
    right: 8px;
    top: 12px;
    padding-left: 2px;
    position: absolute;
    z-index: 1;
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }

  .popover-footer {
    // see Bootstrap: popover-title
    background: @popover-title-bg;
    padding: 5px 15px;
    border-top: 1px solid #EEEEEE;
    .border-radius(0px 0px 5px 5px);

    .btn {
      margin: 5px 0;
    }
  }
}
/* ----------------------------------------------- */
/*  CTXTOOLTIP > TOOLTIP                           */
/* ----------------------------------------------- */
.ctxTooltipMenu {
  cursor: help;
}

.browser-IE11 .popover.tip.fade.in {
  display: flex !important;
}

.browser-Firefox .popover.tip.fade.in {
  display: flex !important;
}
/* Trick to target Edge (only Microsoft browser that supports this property) */
@supports (-ms-ime-align: auto) {
  .popover.tip.in {
    display: flex !important;
  }
}

.popover.tip {
  min-width: 200px;
  max-width: 200px;
  min-height: 20px;

  &.top > .arrow:after {
    border-top-color: @tooltip-background-color;
  }

  &.bottom > .arrow:after {
    border-bottom-color: @tooltip-background-color;
  }

  &.left > .arrow:after {
    border-left-color: @tooltip-background-color;
  }

  &.right > .arrow:after {
    border-right-color: @tooltip-background-color;
  }
}

.popover.left > .arrow {
  left: initial !important;
}

.tip .popover-content {
  max-width: 200px;
  overflow: hidden;
  font-size: @font-size-small;
  line-height: 1, 4;
  background-color: @tooltip-background-color;
  .border-radius(5px);

  .tip-content {
    margin-bottom: 0;
  }

  &.popover-large {
    H5 {
      margin-top: 0;
    }
    // Kludge
    min-width: 300px;
    max-width: 600px;
  }
}

.popover.popover-note {
  padding: 10px;
  background-color: #fbfba4;
  border-color: #ddd;

  &.top .arrow {
    border-top-color: #fbfba4;

    &:after {
      border-top-color: #fbfba4;
    }
  }
}
/* ----------------------------------------------- */
/*  CTXTOOLTIP > TTCARD                            */
/* ----------------------------------------------- */
DIV.ctxTooltipCard,
SPAN.ctxTooltipCard {
  cursor: pointer;
}

.tt-card {
  max-width: 450px;

  .popover-content {
    padding: 0;
  }

  .jalios-icon {
    font-size: @icon-size;
    color: @jalios-color-icon;
  }
  
  .btn-success,
  .btn-primary {
    .jalios-icon {
      color: #FFF;
    }
  }

  .tt-card-body {
    padding: @ttcard-padding;
  }

  .tt-card-abstract {
    overflow: hidden;
  }

  .tt-card-title {
    font-weight: bold;
    margin-bottom: @baseline / 2;
    margin-right: 10px;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    padding-right: 6px;
    // Adds a hyphen where the word breaks, if supported (No Blink)
    .hyphens(auto);

    > A {
      .hyphens();
      // These are technically the same, but use both
      overflow-wrap: break-word;
      // Instead use this non-standard one:
      word-break: break-word;
      display: block;
    }
  }

  .tt-card-meta {
    font-size: @font-size-small;
    color: #999;
  }

  .tt-card-meta,
  .tt-card-section {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed @gray-lighter;

    & > DIV:not(:last-child) {
      padding-bottom: 8px;
    }
  }
}

.tt-member {
  .tt-member-title {
    font-weight: bold;
    font-size: @font-size-large;
    margin-bottom: @baseline / 2;
  }
}

/* ----------------------------------------------- */
/*  CTXTOOLTIP > TTCARD v2                         */
/* ----------------------------------------------- */

.tt-card.tt-member2-card {
  max-width: @ttcard-member-max-width;
  .tt-card-body {
    padding: @ttcard-member-padding;
  }
}
.popover.tt.tt-member2-card {
  BUTTON.close {
    right: @ttcard-member-padding;
    top: @ttcard-member-padding;
  }
}

.tt-member2 {
  max-width: @ttcard-member-max-width;
  .tt-member-title {
    margin-bottom: 10px;
    margin-top: 4px;
    color: @text-color;
    font-size: @font-size-h3;
    font-weight: @font-weight-regular;
    line-height: 1.1;
  }
  .tt-card-row {
    display: flex;
  }
  .avatar-container  {
    text-align: center;
    flex-shrink: 0;
    .wrapper-photo {
      float: none;
      margin: 0;
      border: 0;
    }
    .tt-member-type {
      color: @gray-light;
    }
    .photo {
      font-weight: @font-weight-light;
    }
    IMG.photo {
      transition: box-shadow 200ms ease-in;
    }
    &:hover {
      IMG.photo {
        box-shadow: 0 0 6px 0 @jalios-color-blue;
      }
    }
  }
  .details-container  {
    color: @gray-light;
    padding-left: 10px;
    width: 100%;
    .tt-member-info {
      margin-bottom: 5px;
      line-height: 1.2;
      word-break: break-word;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .popover-footer {
    .profile-contact-channels {
      display: flex;
      flex-wrap: wrap;
    }
    .profile-contact-channel-label {
      display: none;
    }
    .profile-contact-channel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 15px;
      text-align: center;
      font-size: @font-size-small;
      color: @text-color;
      transition: background-color 200ms ease-in;
      font-size: 0;
      
      > A {
        color: @text-color;
      }

      &:hover {
        background-color: #efefef;
        border-radius: 5px;
        text-decoration: none;
      }

      > IMG {
        width: 32px;
        height: 32px;
        margin: 0 auto;
      }

      // PHONE / MOBILE
      &.profile-contact-telephone {
        .jalios-icon:before {
          display: none; // hide default PhoneTag icon
        }
      }
      
      // Bootstrap label tooltip
      & + .tooltip[role='tooltip'] {
        // prevent too much wrapping
        .tooltip-inner {
          white-space: nowrap;
        }
      }
      &.profile-contact-email + .tooltip .tooltip-inner {
        // Allow this one to be multiline (label+email)
        white-space: normal;
      }
    } /* EOF.profile-contact-channel */
  }
}
.popover.tt {
  .tt-member2 {
    .popover-footer {
      background-color: transparent;
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 0;
      padding-right: 0;

      &:empty {
        display: none;
      }
    }
  }
}
