// --------------------
// Confirm modal
// --------------------

.modal-confirm {
  H3 {
    margin-top: 0;
    margin-bottom: @baseline;
  }
}
.modal-confirm-danger.modal-confirm {
  .modal-header  {
    background-color: @jalios-danger;
  }
}

// --------------------
// Double confirm delete modal
// --------------------
#confirm-danger-modal {
  .modal-header  {
    background-color: @jalios-danger;
  }
}
// --------------------
// Confirm in modal
// --------------------

.modal-footer.modal-confirm {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: @state-warning-bg;
  padding: (@modal-inner-padding - 1) @modal-inner-padding @modal-inner-padding;

  DIV.confirm-message {
    text-align: left;
    font-size: @font-size-large;
    line-height: floor((@font-size-large * @line-height-base));
  }

  DIV.confirm-buttons {
    text-align: right;
  }
}
// Better display of confirm in modal on mobile
@media (max-width: @screen-xs-min) {
  .modal-footer.modal-confirm .btn {
    display: inline-block;
    width: 49%;
  }

  .modal-footer.modal-confirm .btn + .btn {
    margin-left: 5px !important;
  }
}