
/* ----------------------------------------------- */
/*  MISC FIX INTERNAL COMPONENTS                   */
/* ----------------------------------------------- */

// RSH
#rshStorageForm,
#rshStorageField {
  display: none;
}

.restricted-access {
  color: gray;  
  font-style: italic;  
}   
