//== Less Version
@jplatform-pack-version: '20210501';

//== Color variables
//
//##
@import 'jcms-variables-colors';

@jalios-gray: #f7f9fa;
@bg-grey: #f7f9fa;

//== Z-index : see bootstrap variables for other z-indexes
//
//##
@z-index-sidebar: 1040;
@z-index-work-edit-header: 1025; // Z-index JCMS components
@z-index-lightbox: 1049; // Z-index JCMS components
@zindexAdminNotes: 500;
@zindexTopBarEdit: 1035; // Under modal backdrop

@topbar-z-index: 1039;
@topbar-navigation-z-index: 1038;
@zindexPublicationActions: 1025; // Under topbar and under modal
@zindex-bottombar: 1039;
@zindexAjaxWait: 1055;
@zindexPopin: @zindexPopover;
@zindexTopLevel: 1070; // Could be in modal in a Popover
@zindexTypeAhead: @zindexTopLevel;
@zindexMenu: 1000;
@zindex-wysiwyg-editor-fullscreen: 1040; //== Badges
@badge-color: @label-color;
@badge-primary-bg: @label-primary-bg;
@badge-info-bg: @label-info-bg;
@badge-warning-bg: @label-warning-bg;
@badge-danger-bg: @label-danger-bg;
@badge-success-bg: @label-success-bg;

// Blocks :
@jalios-block-border-radius: 8px;
@jalios-block-border-color: #DDD;
@jalios-block-border: 1px solid @jalios-block-border-color;


//== Jalios levels
@jalios-info: @brand-primary;
@jalios-action: @brand-warning;
@jalios-warning: @brand-warning;
@jalios-danger: @brand-danger;
@jalios-success: @brand-success;

//== Buttons text colors
//
//##
@btn-text-color-info: @jalios-info;
@btn-text-color-warning: @jalios-warning;
@btn-text-color-danger: @jalios-danger;
@btn-text-color-success: @jalios-success;

//== Alert levels
//
//##
@alert-info: @jalios-info;
@alert-action: @jalios-action;
@alert-warning: @jalios-danger;

//== Card component
//
//##
@card-height: @baseline * 4;
@card-padding-vertical: @padding-base-vertical;
@card-padding-horizontal: @padding-base-horizontal;
@card-padding-body: @baseline / 4 @baseline / 2;
@card-bg-color: #f7f7f7;
@card-border: 1px solid darken(@card-bg-color, 7%);
@card-color: @text-color;
@card-border-radius: @jalios-block-border-radius;
@card-shadow: 0px 0px 0px #aaaaaa;
@card-turner-color: #999999;
@card-border-color-hover: darken(@card-bg-color, 7%);
@card-shadow-hover: 0px 2px 5px #aaaaaa;
@card-title-font-size: @font-size-base;
@card-responsive-layout-gutter: 15px;
@card-responsive-layout-gutter-double: @card-responsive-layout-gutter * 2;

@card-indicator-success: #16d39a;
@card-indicator-primary: #00b5b8;
@card-indicator-danger: #ff7588;
@card-indicator-warning: #ffa87d;

@card-corner-success: #4cd963;
@card-corner-warning: @brand-warning;
@card-corner-danger: @jalios-color-red;
@card-corner-primary: @brand-primary;
@card-corner-gray: #929292;

//== Modal component
//
//##
@modal-header-bg: @jalios-color-blue;
@modal-header-color: white;
@modal-footer-bg: #f7f9fa;
@modal-header-font-size: 22px;
@modal-header-font-weight: 300;
@modal-header-font-weight: 300;
@modal-header-line-height: floor((@modal-header-font-size * @line-height-base));
@modal-steps-bg: white;
@modal-steps-active-color: @jalios-color-blue;
@modal-picture-max-size: floor((@font-size-h4 * @line-height-base));
@modal-body-max-height: 400px;

//== Text components
//
//##
@text-info-color: @gray-light;
@text-info-font-size: @font-size-small;
@text-info-font-style: inherit;

//== Fonts
//
//##
@icon-font-default-color: @text-color;
@icon-font-path: '../../../../fonts/lib/'; // Roboto
@font-path-roboto: '@{icon-font-path}Roboto';
@font-family-roboto: 'embedded-roboto'; // Roboto condensed
@font-path-roboto-condensed: '@{icon-font-path}RobotoCondensed';
@font-family-roboto-condensed: 'embedded-roboto-condensed';
@font-family-roboto-condensed-name: embedded-roboto-condensed; // Roboto condensed
@font-weight-thin: 100;
@font-weight-light: 300;
@font-weight-regular: 400;
@font-weight-medium: 500;
@font-weight-bold: 700;
@font-weight-black: 900; // Glyphicons
@icon-font-glyphicons-regular-path: '../../../fonts/lib/glyphicons/regular';
@icon-font-glyphicons-regular-name: 'glyphicons-regular';
@icon-glyphicons-fontsize: 14px; // Glyphicons halflings
@icon-font-glyphicons-halflings-path: '../../../fonts/lib/glyphicons/halflings';
@icon-font-glyphicons-halflings-name: 'glyphicons-halflings-regular';
@icon-glyphicons-halflings-fontsize: 12px; // Glyphicons social
@icon-font-glyphicons-social-path: '@{icon-font-path}/glyphicons/social';
@icon-font-glyphicons-social-name: 'glyphicons-social-regular';
@icon-glyphicons-social-fontsize: 12px; // Glyphicons filetypes
@icon-font-glyphicons-filetypes-path: '@{icon-font-path}/glyphicons/filetypes';
@icon-font-glyphicons-filetypes-name: 'glyphicons-filetypes-regular';
@icon-glyphicons-filetypes-fontsize: 12px; // Icomoon
@icon-font-icomoon-path: '../../../fonts/lib/icomoon';
@icon-font-icomoon-name: 'icomoon';
@jalios-color-icon: #666666;
@icon-size: 16px;
@icon-size-xs: 13px;

//
// Fonts
// --------------------------------------------------
@font-family-condensed: e(@font-family-roboto-condensed), @font-family-sans-serif;

//== Autocomplete
//
//##
@autocomplete-bg: #fff;

//== Old less variables from custom.less
//
//##
@whiteTxtShadow: -1px -1px 1px rgba(120, 120, 120, 0.4);
@emphasisColor: #46a546;
@emphasisColorHover: #238323;

//== Form
//
//##
@short-field-max-width: 250px;

//== Keyword
//
//##
@keyword-border-color: #ccc;
@keyword-border: 1px dashed @keyword-border-color;
@keyword-btn-remove-color: @keyword-border-color;

//== Member
//
//##
@jalios-member-account-bg: @jalios-color-turquoise-deep;
@jalios-member-contact-bg: @jalios-color-green;
@jalios-member-disabled-bg: @jalios-color-greyblue-deep;
@jalios-member-guest-bg: @jalios-color-blue-deep;

@jalios-member-icon-width: 16px;
@jalios-member-icon-height: 16px;
@jalios-member-tiny-width: 40px;
@jalios-member-tiny-height: 40px;
@jalios-member-small-width: 80px;
@jalios-member-small-height: 80px;
@jalios-member-normal-width: 140px;
@jalios-member-normal-height: 140px;
@jalios-member-large-width: 170px;
@jalios-member-large-height: 170px;

//== Pstatus
//
//##
@pstatus-not-visible: #ff8533;
@pstatus-visible: #5bc0de;
@pstatus-scheduled: #00B8EA;
@pstatus-published: #5cb800;
@pstatus-expired: #999999;
@pstatus-archived: #555555;
@pstatus-trash: #87a7b2;

//== tt-card & tooltips
//
//##
@ttcard-padding: 10px;
@ttcard-max-width: 500px;
@ttcard-member-max-width: 456px;
@ttcard-member-padding: 16px;
@tooltip-background-color: white;
@tooltip-text-color: @text-color;
@tooltip-padding: 10px;

//== Menus variables
//
//##
@menu-slide-border-color: #cccccc;
@menu-slide-border: 1px solid @menu-slide-border-color;
@menu-slide-background-color: white;
@menu-slide-hover-background-color: #f5f5f5;
@menu-vertical-border: 1px solid #cccccc;
@menu-vertical-background-color: white; //== Meta data
//
//##
@meta-font-size: @font-size-small;
@meta-text: #666;
@meta-cat-padding: 2px 8px;
@meta-cat-line-height: 1;
@meta-cat-bg: white;
@meta-cat-text: #666;
@meta-cat-border-radius: @border-radius-small;
@meta-cat-border: 1px solid #b8b8b8;
@meta-cat-hover-bg: rgba(0, 0, 0, 0.05);
@meta-cat-hover-color: white;

//== Search results
//
//##
@search-result-img-max-height: 400px;

//== Topbar
//
//##
@topbar-baseline: 8px;
@topbar-height: @topbar-baseline*8;
@topbar-navigation-height: @topbar-baseline*7;
@tb-height: @topbar-height;
@topbar-item-color: @jalios-color-icon;
@topbar-item-color-hover: @jalios-color-blue;
@topbar-bg: white;
@topbar-pull-height: 23px;
@topbar-pull-width: @topbar-baseline*7;
@topbar-width: 1184px;
@topbar-application-menu-width: 348px;
@topbar-application-menu-item-wrapper-height: 313px;
@topbar-application-menu-gridsize: 4;
@topbar-application-menu-firstitems-size: 9; // Count of items  in the first app items list
@topbar-search-wrapper-width-lg: 400px;
@topbar-search-wrapper-width-md: 200px;
@topbar-search-wrapper-width-sm: 240px;
@topbar-search-wrapper-width: 140px;
@topbar-badge-info-bg: @jalios-info;
@topbar-badge-warning-bg: @jalios-warning;
@topbar-badge-danger-bg: @jalios-danger;

//== Cards
//
//##
@card-baseline: 8px;
@card-border-radius: 8px;
@cardFontRoboto: true;
@card-rounded-corners: true;
@cardBoxShadow: true;
@cardBlockFooterDefaultBg: #eaeaea;
@cardBlockFooterDefaultColor: #666666;
@enable-cards-layout-deck-element-queries: true;
@enable-cards-layout-deck-media-queries: true;

//== Message
//
//##
@message-title-font-size: @font-size-h4;
@message-title-font-family: @headings-font-family;
@message-title-font-weight: @headings-font-weight;
@message-title-line-height: @headings-line-height;
@message-title-margin-bottom: (@line-height-computed / 2);

//== Wiki toolbar
//
//##
@wiki-tb-bg-color: #fafafa;
@wiki-tb-icon-bg-color: transparent;
@wiki-tb-icon-bg-color-hover: #eeeeee;
@wiki-tb-icon-bg-color-active: #cce0ee;

//== Wiki Mention
//
//##
@wiki-mention-bg-color: rgba(195, 195, 195, 0.06);
@wiki-mention-border: 1px solid #b0dbff;
@wiki-mention-padding: 0px 4px;
@wiki-mention-border-radius: 3px;
@wiki-mention-hover-bg-color: #f8f8f8;

//== Portlet Selection
//
//##
@selection-side-width: 50px;
@selection-side-margin-left: 10px;
@side-opened-box-shadow: -2px 2px 5px #eeeeee;

//== Sidebar
//
//##
@sb-bg-color: hsl(0, 0, 94%);
@sb-color: hsl(0, 0, 20%);
@sb-color-semi-light: hsl(0, 0, 40%);
@sb-color-light: hsl(0, 0, 60%);
@sb-color-ultra-light: hsl(0, 0, 85%);
@sb-color-hover: hsl(218, 18, 60%);
@sb-box-shadow: -2px 2px 11px 0px rgba(0, 0, 0, 0.49);
@sb-padding: @baseline / 2;
@sb-width: 390px;
@sb-site-width: 550px;
@sb-tabbed-header-height: 66px; // Sidebar Avatar
@sb-tabbed-tab-bgcolor: #293a48;
@sb-avatar-pos-left: 11px;
@sb-avatar-pos-top: 11px; // Sidebar Header
@sb-header-account-bg: @jalios-member-account-bg;
@sb-header-guest-bg: @jalios-member-guest-bg;
@sb-header-icon-space: 8px; // Sidebar Events
@sb-events-icon-color: hsl(0, 80, 50%);
@sb-events-date-font-size: 10px;
@sb-events-title-font-size: 14px; // Sidebar Menus
@sb-menu-label-bg-color: transparent;
//== Old jcms 8 variables
//
//##
// Blue color of table's header
@boTableHeaderColor: #2e7cca;
@boTableBgColorEven: #fafafa;
@boTableBgColorOdd: #f0f0f0; // Colors for highlight (pager,...)
@highlight: #ffff70; // for text
@highlightBorder: #ffcc66;
@highlightBackground: #ffffcc; // Miscs
@whiteTxtShadow: -1px -1px 1px rgba(120, 120, 120, 0.4);
@tabBg: #ebeff5;
@tabBorderColor: @grayLight; // Plupload
@plupload-add-icon-font-family: 'glyphicons-regular';
@plupload-add-icon-content: '\E063'; // BOX
@boxPadding: @baseline / 2;
@boxTxtLight: 0px 1px 1px rgba(255, 255, 255, 0.7);
@boxTxtShadow: -1px -1px 1px rgba(40, 40, 40, 0.7); // WIDGET
@widget-disabled-link-color: @gray-light;
@widget-disabled-link-hover-color: @gray-light;
@widget-btn-jalios-icon-font-size: @icon-size;

// App Colors
//
//##
@jalios-app-alerts-color: @jalios-color-blue-light;

// Delegation
//
//##
@delegation-default-color: @jalios-warning;

//== JPortal
//
//##
@jportal-main-theme-color: #e91e63;
@jportal-topbar-height: 50px;
@jblock-header-bg-color: @jportal-main-theme-color;
@jblock-header-text-color: white;
@block-padding-size: 15px;
@jportal-portlet-margin-bottom: 40px;


//== Item list
//
//##
@itemlist-active-color: @jalios-color-blue;
@itemlist-text-color: @text-color;
@itemlist-active-text-color: white;
@itemlist-padding: 4px 15px 4px 8px;

//== Admin
//
//##
@admin-bottombar-height: @baseline * 1.5;

//== Loading
//
//##
@loading-color-1: #8ec255;
@loading-color-2: #009ef5;
@loading-color-3: #ff9400;
@loading-color-4: #00adb8;

@initials-color: white;

//== Editorial
//
//##
@editorial-line-height: 1.50;

@app-color-trashapp: @jalios-color-greyblue-deep;
@app-color-publiclink: @jalios-color-green-light;
