//
//##
// Colors
@jalios-color-yellow-light:     #f8ecA0;
@jalios-color-yellow:           #f4df60;
@jalios-color-yellow-deep:      #fdc032;
@jalios-color-yellow-dark:      #f4a20f;

@jalios-color-orange-light:     #f3be5f;
@jalios-color-orange:           #ff9800;
@jalios-color-orange-deep:      #ee6c00;
@jalios-color-orange-dark:      #8f3800;

@jalios-color-lime-light:       #dce775;
@jalios-color-lime:             #cddc39;
@jalios-color-lime-deep:        #afb42b;
@jalios-color-lime-dark:        #918e29;

@jalios-color-green-light:      #8ec255;
@jalios-color-green:            #4caf50;
@jalios-color-green-deep:       #388e3c;
@jalios-color-green-dark:       #1b5e20;

@jalios-color-turquoise-light:  #abe8f1;
@jalios-color-turquoise:        #59d5e1;
@jalios-color-turquoise-deep:   #00adb8;
@jalios-color-turquoise-dark:   #007480;

@jalios-color-cyan-light:       #8df6fc;
@jalios-color-cyan:             #00ecfa;
@jalios-color-cyan-deep:        #00cef1;
@jalios-color-cyan-dark:        #09a5c9;

@jalios-color-blue-light:       #7ccdf9;
@jalios-color-blue:             #009EF5;
@jalios-color-blue-deep:        #005db4;
@jalios-color-blue-dark:        #054c7c;

@jalios-color-purple-light:     #c56dd8;
@jalios-color-purple:           #9a33af;
@jalios-color-purple-deep:      #6a2a99;
@jalios-color-purple-dark:      #59066d;

@jalios-color-pink-light:       #f06292;
@jalios-color-pink:             #e91e63;
@jalios-color-pink-deep:        #c2185b;
@jalios-color-pink-dark:        #880e4f;

@jalios-color-red-light:        #ff6b58;
@jalios-color-red:              #dd352e;
@jalios-color-red-deep:         #c0360c;
@jalios-color-red-dark:         #930516;

@jalios-color-beige-light:      #eab88b;
@jalios-color-beige:            #cb9d6a;
@jalios-color-beige-deep:       #936b4d;
@jalios-color-beige-dark:       #774b37;

@jalios-color-grey-neutral-light: #d1e2e3;
@jalios-color-grey-neutral:       #b2cdd1;
@jalios-color-grey-neutral-deep:  #828282;
@jalios-color-grey-neutral-dark:  #616161;

@jalios-color-greyblue-light:   #b0bec5;
@jalios-color-greyblue:         #a4bec1;
@jalios-color-greyblue-deep:    #87a7b2;
@jalios-color-greyblue-dark:    #415c68;