
BODY{
  background-color: #CCCCCC;
  overflow: hidden;
  padding: 1px;
}
/*
A, IMG, INPUT, BUTTON {
 font : 12px Arial, Helvetica, sans-serif ;
}
*/

A, IMG { cursor : pointer ; }

#hovercolor {
 width  : 39px;
 height : 17px;
 border : 1px inset ;
}

#choosedColor {
 border : 1px solid black;
 width : 66px ;
}

#basicColorTable     TD,
#colorTableContainer TD {
  border: 1px solid #CCCCCC;
}