@import "core/init-mixins.less";

.data-inspector {
	.data-info {
	  TABLE.table {
	    TD {
	      white-space: nowrap;
	      &.value {
          width: 100%;
          white-space: normal;
        }
      }
    }
  }
}