// Include variables and mixins
@import "../../css/jalios/core/init-mixins.less";  

body {
  background: #f7f7f7;
}

.navbar-autohide-level1 .navbar-autohide-level1-item,
.navbar-autohide-level2 .navbar-autohide-level1-item,
.navbar-autohide-level2 .navbar-autohide-level2-item {
  display:none;
}
.navbar-autohide-level2 .collapse {
	.navbar-autohide-level1-item,
  .navbar-autohide-level2-item {
    display:inherit;
  }
}

.navbar .navbar-form .form-group {
  padding-right: 15px;
}

.mb-categories {
}

.mb-drop-zone {
  .ajax-refresh-div {
    padding: 0 10px;
  }
  form {
	 background: white;
	 .border-radius(4px);
  }
}
.mb-gallery-item {
  text-align: center;
  margin-bottom: 10px;  

	.thumbnail {
		margin: auto;
		position: relative;
		overflow: hidden;
		margin: auto;
		width: 150px;
		height: 130px;
	  min-height: 130px;
	  line-height: 130px;
	  display: block;
	  text-align: center;
	  
    A.title  {
	    font-weight: normal;
      font-size: 0.8em;
	    color: #fff !important;
      display: block;
	    padding-bottom: @line-height-computed;
	    .text-overflow();
    }

		IMG {
		  max-height: 120px;
		  display: inline-block;
    }
		/* Caption appears on hover */
		&:hover .caption {
		  opacity: 1;
		  overflow: hidden;
		}
    /* Caption.title disappears on hover */
    &:hover .caption.title {
      //opacity: 0;
      overflow: hidden;
    }
		
		.caption {
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  background: rgba(66, 139, 202, 0.75);
      border: 4px solid white;
		  color: #fff !important;
		  opacity: 0;
		  .transition(opacity 0.3s linear);
		  vertical-align: top;
		  line-height: @line-height-computed;
      padding: 2px;
      padding-top: 4em;
      z-index: 1;
		}
    .caption .center-block {
      margin-bottom: 5px;
    }
    .caption.title {
      background: #eee;
      overflow: hidden;
      border-bottom-width: 0px;
      opacity: 1;	      
      height: 2em;
      padding-top: 2px;
      z-index: 2;
      
      A.title  {
        color: #000 !important;
        font-weight: bold;
      }
    }
    
  }
}
