.member {
	  font-family: Arial,sans-serif;
	}

.profile-header .wrapper-photo{
  float: none;
}

.member .name {
  margin: 6px 0 10px 0;

	font-weight: bold;
	font-size:14pt;
}

.member .info dl {
margin: 0;
}

.member .info dt
{
font-weight: bold;
  margin-top: 0.5em;
  font-size:10pt;
}

.member .info dd
{
margin-left: 0;
  margin-bottom: 0.5em;
  font-size:10pt;
  
}