DIV.tmpl .tmplName,
DIV.tmpl .tmplJsp,
DIV.tmpl .tmplLabel{
  padding: 0.3em 0em;
}


DIV.tmplThumbnail {
  width:  200px; 
  height: 150px; 
  background-color: #FFFFFF; 
  background-image: url('../../images/jalios/layout/bg/thumbnailBroken.gif'); 
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #CCCCCC;
  margin: 0px 16px 6px 0px;
}

IMG.tmplThumbnail {
  width:  200px; 
  height: 150px; 
}

#typeTable A.type,
#fieldTable A.field {
	font-weight: bold;
}

#typeTable A.newType,
#fieldTable A.newField {
	color: #FF0000;
}

#typeTable A.updatedType,
#fieldTable A.updatedField {
  color: #0000FF;
}
